{% extends "base.html" %}

{% load static %}

{% block title %}Zerowanie hasła{% endblock %}

{% block body_class %}register{% endblock %}

{% block content %}
  {% load widget_tweaks %}
  
  <section class="uk-section pink">
    <div class="uk-container uk-padding">
      <div class="width-1-1 uk-text-center">
        <h1>Poszło! Sprawdź swoją pocztę</h1>

        <div class="uk-width-1-1 uk-margin-large-top uk-margin-large-bottom">
          <img src="{% static "img/password_send_success.png" %}" style="max-width: 250px" />
        </div>

        <p>E-mail nie dotarł. <a href="{% url "login" %}">Spróbuj ponownie<img src="{% static "img/link_arrow.svg" %}" /></a></p>
      </div>
    </div>
  </section>
{% endblock %}