{% extends "base.html" %}

{% load static %}

{% block title %}Zerowanie hasła{% endblock %}

{% block body_class %}register{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section pink">
    <div class="uk-container uk-padding">
      <h1>Ustaw nowe hasło</h1>

      {% if validlink %}
        <h4 class="uk-margin-large-bottom">Dwukrotnie podaj nowe hasło:</h4>

        <form action="." method="post">
          {% for field in form %}
            <div class="form-wrapper uk-margin-large-bottom">
              <div class="input-wrapper">
                {{ field.label_tag }}
                {{ field|add_class:"uk-input" }}
              </div>
            </div>
          {% endfor %}

          {% csrf_token %}

          <button class="uk-button uk-margin-large-top" type="submit">Zmień hasło<img src="{% static "img/arrow_white.svg" %}" /></button>
        </form>
      {% else %}
        <p>Łącze pozwalające na wyzerowanie hasła jest nieprawidłowe, ponieważ prawdopodobnie zostało już wcześniej użyte. Musisz ponownie rozpocząć procedurę zerowania hasła.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}