{% extends "base.html" %}

{% load static %}

{% block title %}Zerowanie hasła{% endblock %}

{% block body_class %}register{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section pink">
    <div class="uk-container uk-padding">
      <div class="width-1-1 uk-text-center">
        <h1 style="font-size: 2.4rem;">Twoje hasło zostało pomyślnie zmienione!</h1>
        
        <div class="uk-width-1-1 uk-margin-large-top uk-margin-large-bottom">
          <img src="{% static "img/password_send_success.png" %}" style="max-width: 250px" />
        </div>
        
        <a href="{% url "login" %}" class="uk-button centered uk-margin-large-top">Wróć na stronę główną<img src="{% static "img/arrow_white.svg" %}" /></a>
      </div>
    </div>
  </section>
{% endblock %}