{% extends "base-en.html" %}

{% load static %}

{% block title %}Tergo - Business{% endblock %}

{% block body_class %}page biznes eng{% endblock %}

{% block content %}
  {% load widget_tweaks %}
  <section class="uk-section uk-text-center uk-padding top">
    <h1>Play it green!</h1>
    <h2>Offset your company’s CO<sub>2</sub> emissions.<br>If you’re net-zero, everyone wins!</h2>

    <a href="contact" class="uk-button centered uk-margin-medium-top">
      I want to join TerGo<img src="{% static "img/arrow_white.svg" %}" />
    </a>
  </section>

  <section class="uk-section yellow">
    <div class="uk-container uk-padding uk-text-center uk-text-left@m">
      <h3>TerGo is a social and environmental platform. This friendliest of ecosystems is created by people, brands,
        and organizations working together towards sustainable development and climate protection.<br/>Our secret?
        Interaction!</h3>
    </div>
  </section>

  <section class="uk-section">
    <div class="uk-container uk-padding uk-flex uk-flex-between uk-text-center uk-text-left@m">
      <img src="" />

      <div class="uk-flex uk-flex-column">
        <h2>Buy TERs and offset your company’s carbon footprint</h2>
        <p>TER carbon credits are your ticket to carbon neutrality. Simply buy TERs from the TerGo community and
          offset your CO<sub>2</sub> emissions by retiring those TERs. This is done easily and quickly through our
          emissions trading platform.</p>
        <p>Each TER is equivalent to one kilogram of CO<sub>2</sub> that was prevented from ending up in the
          atmosphere. It’s created by changing the habits of TerGo users for greener, less-carbon-intensive options.
          TerGo's eco-projects are designed to offset greenhouse gas emissions by planting forests and protecting
          existing forest ecosystems. Through the purchase of TERs or purchasing carbon credits from TerGo carbon
          offsetting projects, you can even zero out your company's CO<sub>2</sub> emissions.</p>
        <p>By being a part of the TerGo community, you will strengthen the relationship between your company and your
          customers. You will not only become closer, but you will also start to truly align in the same direction,
          leading to a more positive world in the process. As poets say, this is the definition of true love!</p>
      </div>
    </div>
  </section>

  <section class="uk-section gray">
    <div class="uk-container uk-padding uk-text-center uk-text-left@m">
      <h2>Introduce new HR programs</h2>

      <p>Increase employee engagement and boost eco-habits in your company. Influence team motivation with TERbit, a
        tool that measures and rewards eco-actions in real-time. Your impact on the environment could be enormous –
        and you will see it as it unfolds!</p>

      <ul uk-accordion class="uk-text-left uk-margin-medium-top">
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">#GoTerGoChallenge #NetZeroHero #BecomingClimatePositive</a>
          <div class="uk-accordion-content">
            <p>Surely you can move mountains together, but have you ever tried to change the world? Encourage your
              employees to achieve climate neutrality and set new goals that will unite your entire organization and
              community. Do you like a little bit of competition? Then set a target and see who can collect TERs the
              fastest!</p>
            <p>Just install the TerGo app and TERs will start piling into your wallet in the blink of an eye!</p>
            <p>What can you do as an employer? Publicize the issue, motivate your team, and buy back the TERs they earn. It’s a win-win situation: your company offsets the CO<sub>2</sub> emissions and the employees
              get a special bonus!</p>
            <p>Be proud of your efforts – mention your eco-goals in internal communication and don’t forget to boast
              about your team's work to reduce CO<sub>2</sub> emissions in your sustainability report!</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">#Eco-inspirations</a>
          <div class="uk-accordion-content">
            <p>You'll receive messages and tips from TerGo’s broad database of the best eco-friendly practices, habits,
              choices, ideas, and inspirations. Let’s meet in person too! We'll provide you with all the tools you
              need to easily achieve our common goal of having a tangible impact on climate protection.</p>
            <p>We have solutions and we won’t hesitate to use them! Contact us, and we will realize them together.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="uk-section">
    <div class="uk-container uk-padding uk-text-center uk-text-left@m">
      <h2>Partnership program for retail</h2>

      <ul uk-accordion class="uk-text-left uk-margin-medium-top">
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">TerGo accreditation for products and services</a>
          <div class="uk-accordion-content">
            <p>Give your customers the benefit of not adding to their carbon footprint. Introduce climate-neutral
              products and services.</p>
            <p>How does it work? Just the way you like it - simple and fast.</p>
            <p>For the lifecycle of each product or service, we will calculate the value of CO<sub>2</sub> emissions
              as well as the number of TERs required to offset its carbon footprint in a given year.</p>
            <p>When the appropriate value of TERs has been purchased and retired, this product/service will receive
              carbon neutrality accreditation. It will allow the product/service to enter the market with an
              environmentally friendly label. Eco-conscious consumers are much more likely to choose carbon-neutral
              products and services over non-accredited ones.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Online shopping offset</a>
          <div class="uk-accordion-content">
            <p>How do you win over customers with a MASTER level of environmental awareness? Let them do even more!
            </p>
            <p>Customer shopping cart purchases will be automatically recalculated in terms of lifecycle
              CO<sub>2</sub> emissions. Then, the number of TERs required to offset the purchase will be added to the
              count.</p>
            <p>At the ordering stage, customers will be able to decide whether they want to help the environment and
              offset their purchases. If so, an amount equal to the value of the TERs will be added to the bill.
              The funds credited to the transaction will be automatically transferred to the TerGo app for the
              purchase and retirement of TERs.</p>
            <p>This way, the carbon footprint of the purchase will be offset as soon as they click on the “buy”
              button! Your customers will also be rewarded with TERs in the TerGo app for climate neutral purchases!
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="uk-section yellow">
    <div class="uk-container uk-padding uk-text-center uk-text-left@m uk-flex uk-flex-between uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-2@m">
        <h2>Marketing activations</h2>

        <p>InTERvene!</p>

        <p>Who do eco-conscious customers want to support? Who do they believe? In short: companies that are sensitive
          to environmental issues and take real action to protect the environment and climate, not just brag about it.
          TerGo’s main competitive advantage lies in the opportunity to offer participation in eco-initiatives as a
          company. Your customers will feel that together you can change the world for the better.</p>

        <p>TerGo is an ideal platform for engaging consumers in important initiatives and building lasting brand
          relationships.</p>
      </div>

      <div class="uk-width-1-1 uk-width-1-2@m">
        <p>The gamification potential of TerGo can be used to activate customers. There are many potential scenarios,
          and even the simplest of them is already very effective:</p>

        <h4>Step 1: Download the application.</h4>
        <h4>Step 2: Join the company's team.</h4>
        <h4>Step 3: Gather X TERs in the next 30 days.</h4>
        <h4>Step 4: Be one of the top 10 to receive a prize for the best score!</h4>
      </div>
    </div>
  </section>

  <section class="uk-section">
    <div class="uk-container uk-padding uk-text-center uk-text-left@m uk-flex uk-flex-between uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-2@m">
        <h2>Consultancy and sustainability reports</h2>

        <p>Our team specializes in ESG reporting and sustainability management.</p>
        <p>TerGo’s experts are members of the International Society of Sustainability Professionals (ISSP) and
          certified reporting specialists with the GRI (Global Reporting Initiative) standard.</p>
        <p>We perform carbon footprint calculations based on the GHG Protocol, ISO 14044, ISO 14064, ISO 14067, and
          PAS 2050 standards.</p>
      </div>

      <div class="uk-width-1-1 uk-width-1-2@m">
        <p>We prepare reports and provide training in all areas related to reducing carbon emissions, addressing
          climate change, and carbon footprint calculation.</p>
        <p>We support our clients and partners in achieving their environmental, social, and governance (ESG) goals,
          as well as in achieving economic, social, and environmental sustainability.</p>
        <p>We will caTER to your needs.</p>
        <p>We help your company become more transparent when it comes to your sustainability impact!</p>
      </div>
    </div>
  </section>
{% endblock %}
