{% extends "base-en.html" %}

{% load static %}

{% block title %}Tergo - Carbon-neutral printing{% endblock %}

{% block body_class %}page neutral-printing-page eng{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section uk-text-center top neutral-printing-page__header uk-padding">
    <h1>Verify aproduct. Find a partner. Offset emissions.</h1>
  </section>

  <section class="uk-section neutral-printing-page__check-product">
    <div class="uk-container uk-padding">
      <h2 class="section-header">Verify aproduct</h2>
      <div class="section-content uk-flex">
        <div class="uk-flex check-product-form">
          <h4 class="form-header">Enter ID number and check if the publication is climate-neutral.</h4>
          <aside class="form-content">
            <input type="number" placeholder="Enter ID number" class="text-input check-product-input uk-input" />
            <button class="check-product-button form-button uk-button">Search</button>
          </aside>
        </div>
        <div class="uk-flex check-product-data">
          <p>
            <span class="data-label">Client:</span>
            <span class="data-value">Company’s name</span>
          </p>
          <p>
            <span class="data-label">Design:</span>
            <span class="data-value">Brochure</span>
          </p>
          <p>
            <span class="data-label">Circulation</span>
            <span class="data-value">5 000</span>
          </p>
          <p>
            <span class="data-label">Emission’s level:</span>
            <span class="data-value">1 t CO<sub>2</sub></span>
          </p>
          <p>
            <span class="data-label">Number of trees planted:</span>
            <span class="data-value">10</span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="uk-section neutral-printing-page__find-partner">
    <div class="uk-container uk-padding">
      <h2 class="section-header">Find a partner</h2>
      <div class="section-content uk-flex">
        <div class="uk-flex uk-flex-column find-partner-label">
          <h4 class="form-header">Find a carbon-neutral printinghouse near you.</h4>
        </div>
        <div class="uk-flex uk-flex-column find-partner-search">
          <aside class="form-content">
            <input type="text" placeholder="Enter location" class="text-input find-partner-input uk-input" />
            <button class="check-product-button form-button uk-button">Search</button>
          </aside>
        </div>
      </div>
      <div class="uk-flex uk-flex-column find-partner-map">
        <div id="carbon-neutral-map" style="position: relative; width: 100%; height: 360px;"></div>
      </div>
    </div>
  </section>

  <section class="uk-section neutral-printing-page__footer">
    <div class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle">
      <div class="uk-flex uk-flex-column footer-header">
        <h2 class="section-header">Become a partner.<br />We will provide the calculations.</h2>
      </div>
      <div class="uk-flex uk-flex-column footer-content">
        <a href="/kontakt" title="" class="uk-button centered">Contact us</a>
      </div>
    </div>
  </section>

  <script>
    function getUserLocation() {
      if (navigator.geolocation) {
        try {
          navigator.geolocation.getCurrentPosition(
            position => {
              const {
                latitude,
                longitude
              } = position.coords;
              // carbonNeutralMap(latitude, longitude);
              carbonNeutralMap();
            }
          );
        } catch (e) {
          carbonNeutralMap();
        }
      } else {
        carbonNeutralMap();
      }
    }

    const createMapStyles = () => {
      return new google.maps.StyledMapType([{
          "elementType": "geometry",
          "stylers": [{
            "color": "#F2F2F2"
          }]
        },
        {
          "elementType": "labels.icon",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#C5C0C2"
          }]
        },
        {
          "elementType": "labels.text.stroke",
          "stylers": [{
            "color": "transparent"
          }]
        },
        {
          "featureType": "administrative.land_parcel",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#C5C0C2"
          }]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [{
            "color": "#F2F2F2"
          }]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#C5C0C2"
          }]
        },
        {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [{
            "color": "#F2F2F2"
          }]
        },
        {
          "featureType": "poi.park",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#C5C0C2"
          }]
        },
        {
          "featureType": "road",
          "elementType": "geometry",
          "stylers": [{
            "color": "#FFFFFF"
          }]
        },
        {
          "featureType": "road.arterial",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#C5C0C2"
          }]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry",
          "stylers": [{
            "color": "#FFFFFF"
          }]
        },
        {
          "featureType": "road.highway",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#C5C0C2"
          }]
        },
        {
          "featureType": "road.local",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#C5C0C2"
          }]
        },
        {
          "featureType": "transit.line",
          "elementType": "geometry",
          "stylers": [{
            "color": "#FFFFFF"
          }]
        },
        {
          "featureType": "transit.station",
          "elementType": "geometry",
          "stylers": [{
            "color": "#FFFFFF"
          }]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [{
            "color": "#CDE4E8"
          }]
        },
        {
          "featureType": "water",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#C5C0C2"
          }]
        }
      ]);
    };


    function carbonNeutralMap(latitude = 54.51, longitude = 18.32) {

      const styledMapType = createMapStyles();

      class HTMLMapMarker extends google.maps.OverlayView {

        constructor(args) {
          super();
          this.latlng = args.latlng;
          this.html = args.html;
          this.setMap(args.map);
        }

        createDiv() {
          this.div = document.createElement("div");
          this.div.style.position = "absolute";
          if (this.html) {
            this.div.innerHTML = this.html;
          }
          google.maps.event.addDomListener(this.div, "click", event => {
            google.maps.event.trigger(this, "click");
          });
        }

        appendDivToOverlay() {
          const panes = this.getPanes();
          panes.overlayImage.appendChild(this.div);
        }

        positionDiv() {
          const point = this.getProjection().fromLatLngToDivPixel(this.latlng);
          let offset = 25;
          if (point) {
            this.div.style.left = `${point.x - offset}px`;
            this.div.style.top = `${point.y - offset}px`;
          }
        }

        draw() {
          if (!this.div) {
            this.createDiv();
            this.appendDivToOverlay();
          }
          this.positionDiv();
        }

        remove() {
          if (this.div) {
            this.div.parentNode.removeChild(this.div);
            this.div = null;
          }
        }

        getPosition() {
          return this.latlng;
        }

        getDraggable() {
          return false;
        }
      }


      const map = new google.maps.Map(document.getElementById('carbon-neutral-map'), {
        center: {
          lat: latitude,
          lng: longitude
        },
        zoom: 11,
        disableDefaultUI: true,
      });

      map.mapTypes.set("styled_map", styledMapType);
      map.setMapTypeId("styled_map");

      for (let localizations of Object.values(terGoPartners)) {
        for (let loc of localizations) {
          const {
            name,
            coords
          } = loc;
          const latLng = new google.maps.LatLng(coords.lat, coords.lng);
          const marker = new HTMLMapMarker({
            latlng: latLng,
            map: map,
            html: `<div style="position: relative; padding: 5px 10px; background: #FF7101">
                            <span style="font-size: 11px; line-height: 16px;">${name}</span>
                            <span style="position: absolute; bottom: -10px; left: 0; width: 10px; height: 10px; background: linear-gradient(to bottom right, #FF7101 0%, #FF7101 50%, transparent 50%, transparent 100%)"></span>
                        </div>`
          });
          marker.addListener("click", () => {
            $(".find-partner-details").remove();
            $(`<div class="find-partner-details">
                                <a href="#" title="Zamknij">X</a>
                                <div class="details">
                                    ${name}<br/>
                                    +48 111 111 111<br/>
                                    ul. Ulica 1/22
                                </div>
                           </div>`).insertAfter(".find-partner-map");
            $(".find-partner-details a").click(function (e) {
              e.preventDefault();
              $(this).parent().remove();
            });
          });
          // const marker = new google.maps.Marker({
          //   position: coords,
          //   title: name
          // });
          // marker.setMap(map);
        }
      }

    }
  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIH0ikRFe6yGyi68nLEumr0evrbg5fjTM&callback=getUserLocation">
  </script>

  <script>
    const terGoPartners = {
      "Gdańsk": [{
          name: "Drukarnia Witograf",
          coords: {
            lat: 54.39293319999999,
            lng: 18.5970415
          }
        },
        {
          name: "Drukarnia MISIURO",
          coords: {
            lat: 54.39995099999999,
            lng: 18.6284059
          }
        },
        {
          name: "Drukarnia Print",
          coords: {
            lat: 54.331131,
            lng: 18.63451
          }
        },
        // {name: "", coords: {lat: "", lng: ""}},
      ],
      // "Sopot": [
      //     {name: "", coords: {lat: "", lng: ""}},
      //     {name: "", coords: {lat: "", lng: ""}},
      //     {name: "", coords: {lat: "", lng: ""}},
      //     {name: "", coords: {lat: "", lng: ""}},
      // ],
      "Gdynia": [{
          name: "Drukarnia Gdynia - PrintZero ",
          coords: {
            lat: 54.5508053,
            lng: 18.4582487
          }
        },
        {
          name: "Drukarnia ulotek i wizytówek DrukujewGdyni.pl",
          coords: {
            lat: 54.4843598,
            lng: 18.5371042
          }
        },
        {
          name: "Pod Słoniem s.c.",
          coords: {
            lat: 54.5251179,
            lng: 18.5168125
          }
        },
        {
          name: "TRÓJWIZJA Agencja Reklamowa i Drukarnia",
          coords: {
            lat: 54.48363699999999,
            lng: 18.5483589
          }
        },
        {
          name: "Laser Stamp",
          coords: {
            lat: 54.5420818,
            lng: 18.4620411
          }
        },
        {
          name: "Drukarnia NOWATOR",
          coords: {
            lat: 54.47448130000001,
            lng: 18.5144199
          }
        },
        {
          name: "X Point Document Centre",
          coords: {
            lat: 54.51501,
            lng: 18.539753
          }
        },
      ]
    };

    $(document).on("keyup", ".find-partner-input", function (e) {
      const val = this.value.toLowerCase();
      $(".find-partner-list").remove();
      if (val.length > 2) {
        const filteredLocalizations = Object.keys(terGoPartners).filter(item =>
          item.toLowerCase().includes(val)
        );
        if (filteredLocalizations.length > 0) {
          const localizations = filteredLocalizations.map(item =>
            `<div class="item">${item}</div>`
          ).join("");
          $(
            `<div class="find-partner-list">${localizations}</div>`
          ).insertAfter($(this));
        } else {
          $(
            '<div class="find-partner-list"><div class="item no-results">Brak Lokalizacji</div></div>'
          ).insertAfter($(this));
        }
        console.log(filteredLocalizations);
      }
    });

  </script>
{% endblock %}
