{% extends "base.html" %}

{% load static %}

{% block title %}Tergo - Czyśćmy chmury!{% endblock %}

{% block body_class %}article{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section top">
    <div class="uk-container uk-padding">
      <h1>Czyśćmy chmury!</h1>
      <p class="uk-margin-top">Jest jeden rodzaj chmur, których nawet najbardziej doświadczony meteorolog nie
        dostrzeże na pewno: chmury danych!</p>
      <p class="read-time">5 min czytania</p>

      <a href="#my-id" uk-scroll>
        <img class="scroll-down" src="{% static "img/scroll_down_button.svg" %}" />
      </a>
    </div>
    <div class="bg" style="background-image: url('{% static "img/chmury.jpeg" %}')"></div>
  </section>

  <section class="uk-section uk-padding uk-padding-remove-horizontal" id="my-id">
    <div class="uk-container uk-flex uk-flex-left uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-3@m details">
        <div class="categories">
          <div class="uk-flex uk-flex-left uk-flex-right@m uk-flex-middle uk-flex-middle uk-flex-wrap">
            <h4 class="uk-width-auto uk-width-1-1@m">Kategorie:</h4>
            <a href="" class="uk-button uk-width-auto uk-margin-small-left">#science&nature</a>
          </div>
        </div>

        <div class="author uk-flex uk-flex-left uk-flex-right@m uk-flex-wrap">
          <h4 class="uk-width-auto uk-width-1-1@m">Autor:</h4>
          <h4>Ksenia Pisera</h4>
          <p class="uk-width-1-1">dziennikarka, popularyzatorka wiedzy o ochronie środowiska i klimatu.</p>
        </div>

        <div class="quote">
          <img src="{% static "img/quote-top.png" %}" />
          <h4>Chociaż wydawałoby się, że kilka kliknięć w Internecie wiele nie zmieni – od małych kroków mogą zacząć
            się wielkie zmiany.</h4>
          <img src="{% static "img/quote-bottom.png" %}" />
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-2-3@m">
        <p class="uk-text-large">Jest jeden rodzaj chmur, których nawet najbardziej doświadczony meteorolog nie
          dostrzeże na pewno: chmury danych! To wirtualna przestrzeń, do której przesyłamy między innymi wszystkie
          nasze zdjęcia z wakacji, archiwizujemy wiadomości, wgrywamy filmy do obejrzenia później. Ale czy wiesz, że
          przesyłając dane do chmury, poza bitami wysyłamy coś jeszcze? Sprawdź, czym jest cyfrowy ślad węglowy.</p>

        <p>Internet i niezliczone usługi cyfrowe na stałe wpisały się w nasze życie. Odpowiedź na każde pytanie
          znajdziemy w kilka sekund. Bierzemy udział w koncertach bez wychodzenia z domu. W dowolnej chwili możemy
          porozmawiać ze znajomymi z antypodów. Wielkie naukowe odkrycia, przełomy kulturowe oraz milionowe transakcje
          także zachodzą online - a wiele z nich miało miejsce właśnie dzięki internetowi. I chociaż te wszystkie dane
          i informacje wydają się wisieć w powietrzu – prawie jak chmury – są całkiem namacalne.</p>

        <p>Każde zapytanie do wyszukiwarki, każdy wysłany mail, każdy obejrzany film online powoduje emisje CO2. Tak
          samo realne, jak te, które powstają podczas jazdy samochodem albo grillowania! Ale w przeciwieństwie do tych
          osobistych, punktowych źródeł emisji, pojawia się pytanie - kto jest odpowiedzialny za ślad węglowy usług
          cyfrowych? Z pewnością po części odpowiedzialne są centra danych ze swoją ogromną infrastrukturą. Jednak są
          też emisje, które wytwarzamy lokalnie, jak na przykład te związane z używaniem energii elektrycznej. Szacuje
          się, że sama aktywność w internecie jest odpowiedzialna za 830 mld ton CO2 wyemitowanego każdego roku. To
          około 2% wszystkich globalnych emisji, czyli mniej więcej tyle, ile emituje cały przemysł lotniczy.</p>

        <p>I to jest właśnie cyfrowy ślad węglowy.</p>

        <div class="quote uk-padding uk-margin-medium-top uk-margin-medium-bottom uk-flex uk-flex-column uk-hidden@m">
          <div>
            <img src="{% static "img/quote-top.png" %}" class="uk-align-left uk-margin-remove-bottom" />
          </div>

          <h4 class="uk-margin-top uk-margin-bottom uk-text-center uk-text-uppercase">Zastanówmy się, jak w czasie
            wakacji możemy ograniczyć nasz wpływ na środowisko. Dzięki temu nasza podróż będzie jeszcze lepszym
            doświadczeniem.”</h4>

          <div>
            <img src="{% static "img/quote-bottom.png" %}" class="uk-align-right uk-margin-remove-bottom" />
          </div>
        </div>

        <p>Mówiąc jeszcze jaśniej, dla przykładu: wyszukanie dwóch haseł w wyszukiwarce wyemituje około 7 gramów CO2.
          To mniej więcej tyle, co ugotowanie wody na herbatę (zależnie od źródła energii). Jeden mail wysłany bez
          załącznika to około 4 g dwutlenku węgla, a z załącznikiem – około 50. Dla porównania małe auto emituje mniej
          więcej 130 g CO2 na kilometr. Natomiast z raportu <a
            href="https://theshiftproject.org/wp-content/uploads/2019/07/2019-02.pdf" target="_blank">The Shift
            Project<img src="{% static "img/link_arrow.svg" %}" /></a> wynika, że globalny streaming video przyczynia się rocznie do
          takiej emisji CO2 do atmosfery, co cała Hiszpania.</p>

        <p>Zastanawiasz się teraz nad wysłaniem maila do cioci ze zdjęciami z wycieczki? Nie martw się, mamy też dobre
          wieści. Dzięki temu, że cyfrowy ślad węglowy jest mierzalny, możemy korzystać z Internetu bardziej świadomie
          i redukować zbędne emisje CO2! Oto kilka pomysłów na to, jak być bardziej eko w Internecie:</p>

        <ul>
          <li>
            <p><strong>Zrób porządek w skrzynce</strong></p>
            <p>Pewnie i tak nie czytasz każdego maila z ofertą, który wpadnie do Twojej skrzynki? Wyłączając zbędne
              newslettery, ograniczysz wysyłkę maili i wynikających z nich emisji CO2. Jest też spora szansa, że nie
              potrzebujesz także maili sprzed lat. Warto je przejrzeć i wykasować, żeby nie zajmowały miejsca na
              serwerze i nie wymagały zużycia danych.</p>
          </li>
          <li>
            <p><strong>Oszczędzaj maile</strong></p>
            <p>Możesz usunąć historię korespondencji z treści maila przed jego wysłaniem. Przesyłaj załączniki,
              korzystając z serwisów, które usuną je na dobre z sieci po kilku dniach – zamiast składować w
              nieskończoność. Zastanów się także nad ograniczeniem maili grzecznościowych, jak „dziękuję” lub
              „doszło”.</p>
          </li>
          <li>
            <p><strong>Korzystaj ze znikających wiadomości</strong></p>
            <p>Taką funkcję mają już popularne komunikatory, z różnych powodów. To także kolejny sposób na to, by
              uwolnić trochę danych z Internetu.</p>
          </li>
          <li>
            <p><strong>Więcej słuchaj</strong></p>
            <p>Streaming filmów online to jedno z największych źródeł cyfrowego śladu węglowego. Mniej dwutlenku węgla
              zostanie wyemitowane, jeśli wybierzesz audiobook.</p>
          </li>
        </ul>

        <p>Chociaż wydawałoby się, że kilka kliknięć w Internecie wiele nie zmieni – od małych kroków mogą zacząć się
          wielkie zmiany. Już po jednym dniu korzystania z sieci z eko uważnością możesz ograniczyć kilkaset gramów
          CO2. Pomnóżmy to razy 30, a w miesiąc możesz zredukować, bez większego trudu, emisji nawet kilku kilogramów
          gazów cieplarnianych!</p>

        <p>I to jest wiadomość warta wysłania znajomym!</p>
      </div>
    </div>
  </section>

  <section class="uk-section tags">
    <div class="uk-container uk-flex uk-flex-left uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-3@m">
        <div class="tags">
          <h4>Tags:</h4>
          <div class="uk-flex uk-flex-left uk-flex-right@m uk-flex-wrap">
            <a href="" class="uk-button uk-width-auto uk-margin-small-bottom">#carbonfootprint</a>
            <a href="" class="uk-button uk-width-auto uk-margin-small-bottom">#science&nature</a>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-2-3@m"></div>
    </div>
  </section>
{% endblock %}