{% extends "base.html" %}

{% load static %}

{% block title %}Tergo - FAQ{% endblock %}

{% block body_class %}page faq{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section">
    <div class="uk-container uk-padding">
      <h2>Szukaj w FAQ</h2>

      <div class="input-wrapper">
        <div class="search-icon"><img src="{% static "img/search.svg" %}" /></div>
        <input class="uk-input" type="input">
        <div class="arrow-icon"><img src="{% static "img/arrow-icon.svg" %}" /></div>
      </div>
    </div>
  </section>

  <section class="uk-section">
    <div class="uk-container uk-padding">
      <h3>Korzystanie z TerGo</h3>

      <ul uk-accordion class="uk-margin-medium-top">
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">Dlaczego powstało TerGo?</span></a>
          <div class="uk-accordion-content">
            <p>W TerGo rozumiemy, że ludzie nie tylko troszczą się o swoją planetę, ale także aktywnie starają
              się ją chronić. Niestety czasami brakuje im odpowiednich narzędzi lub nie mają dostępu do właściwych
              informacji. Ponadto ekologiczne zachowania często okazują się nie tylko kosztowne, ale i czasochłonne.
              TerGo powstało, aby to zmienić. Nasza aplikacja codziennie pomaga w podejmowaniu działań pozytywnych dla
              klimatu. TerGo łączy wysiłki zwykłych ludzi i wielkich firm we wspólnym celu – zatrzymania zmian
              klimatycznych, które stanowią jedno z największych zagrożeń dla całej ludzkości. TerGo sumuje działania
              pojedynczych użytkowników w falę działań całej społeczności i łączy je z dążeniami firm partnerskich.
              Dzięki temu mamy szansę na prawdziwą, znaczącą zmianę.<br />A jeśli naukowcy się mylą? Czy stworzymy
              lepszy świat na marne?</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Czym jest ślad CO<sub>2</sub>?</a>
          <div class="uk-accordion-content">
            <p>Twój ślad CO<sub>2</sub> to ilość dwutlenku węgla, jaką zostawiasz na Ziemi w ciągu 12 miesięcy.<br />Dzięki TerGo
              zrozumiesz lepiej swój ślad CO<sub>2</sub> i zmniejszysz go – nawet do zera.<br />Zobacz, jak osiągnąć z nami
              neutralność klimatyczną. Możesz wybierać pomiędzy różnymi opcjami. Jeśli wolisz działać ekologiczne –
              zbieraj TERsy i zarabiaj na ich sprzedaży. Jeśli chcesz neutralizować swój ślad CO<sub>2</sub> – kupuj TERsy od
              innych użytkowników i wspieraj ich wysiłki. Bycie eko z TerGo nie jest już wyzwaniem, a dobrą zabawą
              w doborowym towarzystwie. Razem możemy zmienić świat, z każdym TERsem jesteśmy bliżej lepszej
              przyszłości.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Jak obliczany jest mój ślad CO<sub>2</sub>?</a>
          <div class="uk-accordion-content">
            <p>Roczny ślad CO<sub>2</sub> dla nowych użytkowników TerGo obliczany jest na podstawie średnich wartości
              dla mieszkańców danego kraju.<br />Możesz także dokładnie obliczyć swój osobisty, roczny ślad CO<sub>2</sub>.
              Wystarczy, że skorzystasz z naszego kalkulatora online.<br />Korzystając z aplikacji TerGo na swoim
              urządzeniu mobilnym, codziennie wprowadzasz informacje o swoim faktycznym śladzie CO<sub>2</sub>. Dzięki temu
              możesz zobaczyć, jak Twoje codzienne wybory wpływają na Twój rzeczywisty ślad CO<sub>2</sub>.<br />Na podstawie
              obliczeń z aplikacji mobilnej TerGo i kalkulatora online możesz dokładnie poznać swój roczny ślad CO<sub>2</sub>. Z
              nami obniżysz go lub zniwelujesz do zera – to cel każdego użytkownika TerGo.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Jak mogę zmniejszyć swój ślad CO<sub>2</sub>?</a>
          <div class="uk-accordion-content">
            <p>Korzystaj z aplikacji TerGo codziennie. Otrzymasz od nas cenne sugestie i rady, dzięki którym
              zmniejszysz swój ślad CO<sub>2</sub> do zera.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Co to są TERsy?</a>
          <div class="uk-accordion-content">
            <p>TERsy (ang. <i>True Emissions Reduction</i>) to kredyty węglowe tworzone na podstawie ekologicznych
              działań użytkowników TerGo. Jeśli działasz tak, aby obniżyć swój ślad CO<sub>2</sub> w porównaniu do standardowego
              działania, tworzysz kredyty węglowe – TERsy.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Czy TERsy przypominają inne kredyty węglowe?</a>
          <div class="uk-accordion-content">
            <p>Tak. Podobnie jak wszystkie inne kredyty węglowe, TERsy odzwierciedlają działania, dzięki którym poziom
              CO<sub>2</sub> w atmosferze się zmniejszył. Także obniżenie lub uniknięcie emisji CO<sub>2</sub> przyczynia się do tworzenia
              TERsów.<br />Jeden kredyt węglowy przyznawany jest po zaoszczędzeniu tony CO<sub>2</sub>, czyli po zebraniu 1000
              TERsów.<br />TERsy to różnica pomiędzy działaniem korzystnym dla klimatu (oszczędzającym emisję CO<sub>2</sub>)
              a standardowym działaniem. W każdym kraju TERsy są obliczane na innej podstawie.<br />TERsy to kredyty
              węglowe, które zdobywać mogą indywidualni użytkownicy oraz firmy. Można je także kupować, aby anulować
              je, tym samym kompensując swój ślad CO<sub>2</sub>.<br />1 kredyt węglowy TERs = 1 zaoszczędzony kilogram CO<sub>2</sub>
              uzyskany dzięki ekologicznym działaniom</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">W jaki sposób wyliczane są TERsy?</a>
          <div class="uk-accordion-content">
            <p>TERsy są wyliczane za pomocą opatentowanych algorytmów i równań TerGo, które uzyskały akredytacje
              specjalistów i naukowców z zakresu ekologii. Nasze mechanizmy obliczania kredytów węglowych podlegają
              także rygorystycznym audytom.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">W jaki sposób mogę uzyskać TERsy?</a>
          <div class="uk-accordion-content">
            <p>Zacznij od pobrania aplikacji TerGo na swoje urządzenie mobilne.<br />TERsy zaczną pojawiać się na
              Twoim koncie z każdym podjętym przez Ciebie ekologicznym wyborem.<br />Lista możliwości jest
              nieskończona – zaczynając od środków transportu, na zmianach w stylu życia kończąc. Możesz działać
              zarówno w domu, jak i poza nim.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">W jaki sposób działa kalkulator emisji CO<sub>2</sub> na żywo?</a>
          <div class="uk-accordion-content">
            <p>Kalkulator emisji na żywo działa w aplikacji TerGo na Twoim urządzeniu mobilnym. W aplikacji pokażemy
              Ci, jak możesz łatwo obniżyć swoją emisję CO<sub>2</sub>, zmieniając codzienne nawyki. Aplikacja TerGo monitoruje,
              analizuje i oblicza Twoją emisję CO<sub>2</sub> w czasie rzeczywistym.<br />Jeśli obniżysz swoją emisję CO<sub>2</sub>,
              kalkulator TerGo przeliczy Twoje proekologiczne działanie na kredyty węglowe – TERsy.<br />Oferujemy nie
              tylko możliwość zarabiania na ochronie środowiska. W aplikacji uzyskasz także rady i powiadomienia o
              tym, co możesz jeszcze zrobić dla planety. Zajmujemy się edukacją i pomocą w obniżaniu śladu CO<sub>2</sub>. Tylko
              wspólnie mamy siłę do wprowadzania wielkich zmian.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Co oznacza termin "handel uprawnieniami do emisji dwutlenku
            węgla"?</a>
          <div class="uk-accordion-content">
            <p>TerGo jest swojego rodzaju platformą do handlu uprawnieniami do emisji dwutlenku węgla. Na naszej
              platformie z łatwością kupisz, sprzedasz, przekażesz lub anulujesz kredyty węglowe – TERsy.<br />Każdy
              utworzony przez Ciebie TERs może posłużyć do skompensowania Twojej emisji CO<sub>2</sub> oraz obniżenia Twojego
              śladu CO<sub>2</sub>. Możesz także sprzedać swoje TERsy firmie, która chce skompensować swoje emisje
              CO<sub>2</sub>.<br /><strong>Sprzedawanie TERsów</strong>: sprzedawaj TERsy firmom lub osobom prywatnym, które chcą
              skompensować swoje emisje CO<sub>2</sub>.<br /><strong>Kupowanie TERsów</strong>: kupuj TERsy od innych
              użytkowników, których chcesz wspierać w ich ekologicznych działaniach. Kupowanie TERsów to świetny
              sposób na kompensację własnego śladu CO<sub>2</sub> oraz obniżenie własnej emisji.<br /><strong>Przekazywanie
                TERów</strong>: możesz przekazać swoje TERsy na zielone projekty kompensacyjne, które chcesz wspierać.
              Możesz także przekazać je innym użytkownikom, którzy działają dla klimatu.<br /><strong>Anulowanie
                TERsów</strong>: anulując TERsy, kompensujesz swój własny ślad CO<sub>2</sub>, tym samym obniżając swój bilans
              CO<sub>2</sub>.<br />Działanie dla środowiska może brzmieć jak poważne wyzwanie. Na szczęście z TerGo jest
              to łatwiejsze niż kiedykolwiek.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Jaka jest wartość jednego TERsa?</a>
          <div class="uk-accordion-content">
            <p>1 TERs = 1 kg zaoszczędzonej emisji CO<sub>2</sub><br />1000 TERsów = 1 tona zaoszczędzonej emisji CO<sub>2</sub> = 1 kredyt
              węglowy<br />Wartość finansowa kredytu węglowego zmienia się codziennie na naszej platformie wymiany
              handlowej. Jest ona powiązana z wartością kredytu węglowego w Europejskim Systemie Handlu Emisjami (ang.
              <i>European Union Emissions Trading System</i>, EU ETS).
            </p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Gdzie mogę prześledzić historię moich transakcji z TERsami?</a>
          <div class="uk-accordion-content">
            <p>Wszystkie transakcje dokonane przez Ciebie w TerGo są przechowywane w historii Twojego konta na Twoim
              profilu.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Kto kupi moje TERsy?</a>
          <div class="uk-accordion-content">
            <p>Firmy, którym zależy na obniżaniu i kompensowaniu emisji CO<sub>2</sub>.<br />Osoby prywatne także mogą kupować
              Twoje TERsy, jeśli chcą wesprzeć inicjatywy przyjazne środowisku lub skompensować swój ślad CO<sub>2</sub>.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Co oznacza anulowanie kredytów węglowych/TERsów?</a>
          <div class="uk-accordion-content">
            <p>Anulowanie TERsów jest jednoznaczne z usunięciem ich z obiegu. TERsy są anulowane po ich zakupie lub po
              wykorzystaniu ich do kompensacji CO<sub>2</sub>. Anulowanych kredytów węglowych nie można użyć ponownie. Osoba lub
              firma, która zakupiła TERsy, może zaświadczyć, że na dobre usunęła zakupioną ilość CO<sub>2</sub> z atmosfery.
              Każdy anulowany TERs jest rejestrowany dzięki unikatowemu numerowi seryjnemu. Zapobiega to ponownemu
              liczeniu TERsów oraz ich ponownemu użyciu.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Co oznacza przekazywanie TERsów?</a>
          <div class="uk-accordion-content">
            <p>Możesz przekazać swoje TERsy osobom prywatnym, które chcesz wspierać w ekologicznych dążeniach. Możesz
              je także przekazać wybranym partnerom TerGo, którzy dzięki TERsom mogą prowadzić swoje zielone projekty.
              Przekazując swoje kredyty węglowe, pomagasz finansować projekty redukujące ilość CO<sub>2</sub> w atmosferze. W
              niektórych przypadkach te projekty pomagają także przywracać pierwotny stan środowiska naturalnego oraz
              bioróżnorodność.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">W jaki sposób mogę monitorować, co się dzieje z przekazanymi przeze
            mnie TERsami?</a>
          <div class="uk-accordion-content">
            <p>Przekazując TERsy na zielony projekt, zapisujesz się na listę mailingową. Wiadomości o postępach
              w projekcie i jego rozwoju będziesz dostawać bezpośrednio na skrzynkę mailową. Twoja dotacja zostanie
              również zapisana w naszym blockchainie oraz w historii Twojego profilu.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">W jaki sposób mogę handlować swoimi TERsami?</a>
          <div class="uk-accordion-content">
            <p>Na platformie handlowej TerGo możesz kupować, sprzedawać, przekazywać lub anulować swoje kredyty
              węglowe TERs.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Czym jest Europejski System Handlu Emisjami i jaką rolę gra on na
            platformie handlowej TerGo?</a>
          <div class="uk-accordion-content">
            <p>Europejski System Handlu Emisjami (ang. <i>European Union Emission Trading Scheme</i>, EU ETS) to trzon
              polityki Unii Europejskiej dotyczącej walki ze zmianami klimatu. Jest on ważnym narzędziem
              do niskokosztowego ograniczania emisji gazów cieplarnianych. EU ETS to pierwszy na świecie ważny rynek
              kredytów węglowych – do dziś pozostaje on także największym na całym globie.<br />Wartość TERsów w
              momencie dokonywania transakcji jest oparta na cenie kredytów węglowych z EU ETS na koniec danego dnia.
            </p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">W jaki sposób mogę otrzymać pieniądze ze sprzedaży TERsów?</a>
          <div class="uk-accordion-content">
            <p>Środki uzyskane ze sprzedaży Twoich TERsów zostaną automatycznie przesłane na Twoje konto bankowe.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">W jaki sposób przebiega weryfikacja kredytów węglowych TERs?</a>
          <div class="uk-accordion-content">
            <p>TERsy są weryfikowane za pomocą chronionych patentem równań i algorytmów utworzonych przez ekspertów i
              naukowców z dziedziny ekologii.<br />Zewnętrzna firma audytorska kontroluje wszystkie transakcje
              obejmujące TERsy: od ich utworzenia aż po anulowanie. Dzięki temu zapewniamy pełną transparentność
              wszystkich transakcji.<br />Ponadto nasz system opiera się na technologii blockchain, co umożliwia
              rejestrację wszystkich transakcji obejmujących kredyty węglowe TERs.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Chcę skompensować swój pozostały ślad CO<sub>2</sub>. Co się stanie, jeśli
            zapiszę się do wspierania zielonego projektu?</a>
          <div class="uk-accordion-content">
            <p>Kupując kredyty węglowe, możesz skompensować swój roczny ślad węglowy. Przekazane przez Ciebie środki
              zostaną przekazane na wybrane przez Ciebie zielone projekty.<br />Dostaniesz także powiadomienie, jeśli
              będą dostępne nowe projekty. W dowolnym momencie możesz także zmienić wartość swojej subskrypcji oraz
              wspierane projekty.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Czym różnią się zielone projekty TerGo od innych ekologicznych
            projektów?</a>
          <div class="uk-accordion-content">
            <p>TerGo skupia się na wspieraniu projektów, które mają na celu nie tylko ratowanie środowiska, ale także
              poprawę jakości życia lokalnych społeczności i zrównoważony rozwój. Projekty TerGo pomagają środowisku i
              ludziom żyjącym na terenach wymagających ochrony.<br />Sadząc drzewa, robimy to nieco inaczej niż w
              przypadku tradycyjnych projektów. Sadzimy na przykład polikultury drzew owocowych wraz z typowymi
              drzewami leśnymi, które odznaczają się wysoką sekwestracją CO<sub>2</sub>. Takie nasadzenie nie tylko absorbuje
              więcej CO<sub>2</sub> na km2, ale także daje owoce lokalnym rolnikom. Współpraca z nami zapewnia im dodatkowy
              dochód. W przypadku naszych projektów ochrony lasów ściśle współpracujemy z lokalnymi społecznościami,
              tak aby zachować lasy w niezmienionym stanie. Dzięki temu ich możliwości pochłaniania CO<sub>2</sub> są jeszcze
              większe – a dodatkowo zyskują na tym rdzenne plemiona.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">W jaki sposób mogę zmienić wysokość swojej subskrypcji?</a>
          <div class="uk-accordion-content">
            <p>Przejdź do ustawień swojego konta. Możesz tam anulować subskrypcję w dowolnym czasie, zmienić kwotę
              miesięcznej subskrypcji albo wybrać inny projekt, który chcesz wspierać.<br />Jeśli chcesz dokonać zmian
              w swojej subskrypcji, możesz także wysłać wiadomość do zespołu TerGo drogą mailową lub poprzez stronę
              kontaktu</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Czy mogę wspierać wiele projektów?</a>
          <div class="uk-accordion-content">
            <p>Tak! Wspieraj tyle projektów, ile tylko zechcesz.<br />Osiągnij neutralność klimatyczną, a nawet
              minusowy bilans CO<sub>2</sub>. Chodzą słuchy, że można za to dostać odznakę TerGo ☺</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Czym są odznaki TerGo i gdzie mogę je znaleźć?</a>
          <div class="uk-accordion-content">
            <p>Odznaki TerGo przydzielane są za rozmaite pozytywne działania.<br />Na naszej stronie nie ma listy
              dostępnych odznak, ale jeśli ktoś dostanie jedną z nich – na pewno się o tym dowiesz.<br />Istnieje
              łącznie 24 odznak do zdobycia. Powodzenia!</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Jaki jest największy cel TerGo?</a>
          <div class="uk-accordion-content">
            <p>Marzymy o przyszłości, w której każdy wie, czym jest ślad CO<sub>2</sub> i stara się go ograniczyć. W tej wizji
              wszyscy się wspieramy – bez względu na to, czy działamy w pojedynkę, w firmie czy w społeczności.<br />A
              co jeśli to wszystko zmowa naukowców i zmiany klimatu nie istnieją? Cóż – pozostanie nam żyć na czystej,
              zielonej planecie, o którą wspólnie dbamy.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="uk-section uk-margin-xlarge-top uk-margin-large-bottom">
    <div class="uk-container">
      <h3>Dla biznesu</h3>

      <ul uk-accordion class="uk-margin-medium-top">
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">W jaki sposób firmy korzystają na zakupie TERsów?</a>
          <div class="uk-accordion-content">
            <p>Droga do neutralności klimatycznej dla firm jest pełna wyzwań, a ponadto nie należy do krótkich.
              Dlatego firmy wybierają kompensowanie swoich emisji CO<sub>2</sub>, jeśli nie mogą ich w danym
              momencie wyeliminować.<br />Kupując TERsy, firma nie tylko wspiera użytkowników TerGo w ich
              ekologicznych działaniach, ale także ogranicza swoją emisję CO<sub>2</sub>, anulując TERsy.<br />Kompensowanie
              emisji CO<sub>2</sub> pokazuje, że firma faktycznie dba o środowisko, rozwijając zarazem wartościową relację ze
              swoimi klientami, kontrahentami i pracownikami.<br />Jest to rozwiązanie dobre dla środowiska i dla
              biznesu. Oto nasza definicja zrównoważonego rozwoju.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Czym jest program akredytacji TerGo dla produktów neutralnych
            klimatycznie?</a>
          <div class="uk-accordion-content">
            <p>Zespół TerGo oblicza emisję CO<sub>2</sub> dla cyklu życia danego produktu lub usługi.<br />Firma kupuje i anuluje
              liczbę TERsów wymaganą do skompensowania śladu CO<sub>2</sub> dla tego produktu na cały rok. Dzięki temu produkt
              można określić jako neutralny klimatycznie, czyli mający zerowy bilans CO<sub>2</sub>. Produkt otrzymuje ponadto
              akredytację TerGo dla produktów neutralnych klimatycznie.<br />Chcesz dowiedzieć się więcej? Napisz do
              nas!</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="uk-section uk-margin-xlarge-top uk-margin-large-bottom">
    <div class="uk-container">
      <h3>Kluczowe pojęcia</h3>

      <ul uk-accordion class="uk-margin-medium-top">
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">Co to jest kredyt węglowy?</a>
          <div class="uk-accordion-content">
            <p>Kredyty węglowe są tworzone za pomocą ekologicznych projektów na całym świecie. Projekty te mają na
              celu zatrzymanie emisji gazów cieplarnianych do atmosfery. Jeden kredyt węglowy powstaje, jeśli w danym
              projekcie uniknięto, ograniczono lub zneutralizowano tonę gazów cieplarnianych. Mówiąc prościej: zielone
              projekty tworzą kredyty węglowe, usuwając gazy cieplarniane.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Co to jest ślad węglowy?</a>
          <div class="uk-accordion-content">
            <p>Ślad węglowy to całkowita suma dwutlenku węgla (CO<sub>2</sub>) generowana przez nasze działania. Można
              go obliczyć dla osób prywatnych, gospodarstw domowych, firm, społeczności, a nawet krajów.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Co oznacza kompensacja własnego śladu CO<sub>2</sub>?</a>
          <div class="uk-accordion-content">
            <p>Kompensowanie własnego śladu CO<sub>2</sub> oznacza zbliżanie swojego bilansu CO<sub>2</sub> do zera. Kupując kredyty
              węglowe, finansujesz redukcję, eliminację lub całkowite uniknięcie emisji CO<sub>2</sub>. Aby zmniejszyć
              swój bilans CO<sub>2</sub> do zera, możesz utworzyć kredyty węglowe TERs, które służą do kompensowania emisji CO<sub>2</sub>.
              Możesz także kupić lub sprzedać dowolną ilość kredytów węglowych, bilansując swoje emisje równowartością
              zredukowanej emisji.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Czym są kredyty kompensacyjne?</a>
          <div class="uk-accordion-content">
            <p>Kredyty kompensacyjne to kredyty węglowe TERs, które powstają po to, aby je anulować. Mówiąc najprościej: ich anulowanie przyczynia się do trwałego usunięcia z Ziemi takiej ilości CO<sub>2</sub>, jakiej odpowiadają.<br/>Firmy i osoby prywatne mogą obniżyć swój bilans CO<sub>2</sub>, korzystając z kredytów węglowych TERs. Dzięki nim można uzyskać neutralność klimatyczną, czyli zerowy bilans CO<sub>2</sub>.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}

{% block additional-js %}
  <script src="{% static "js/faq.bundle.js" %}?{% now "U" %}"></script>
{% endblock %}

