{% extends "base-en.html" %}

{% load static %}

{% block title %}Tergo - How Many Apples Does It Take to Warm the Atmosphere?{% endblock %}

{% block body_class %}article eng{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section top uk-padding-remove-vertical uk-margin-large-bottom">
    <div class="uk-container uk-padding">
      <h1>How Many Apples Does It Take to Warm the Atmosphere?</h1>
      <p class="uk-margin-top">Imagine you look out the window several times a day. Occasionally, instead of just looking, you throw out an apple.</p>
      <p class="read-time">4 min read</p>

      <a href="#my-id" uk-scroll>
        <img class="scroll-down" src="{% static "img/scroll_down_button.svg" %}" />
      </a>
    </div>
    <div class="bg" style="background-image: url('./img/apples.png')"></div>
  </section>

  <section class="uk-section uk-padding uk-padding-remove-horizontal" id="my-id">
    <div class="uk-container uk-flex uk-flex-left uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-3@m details">
        <div class="categories">
          <div class="uk-flex uk-flex-left uk-flex-right@m uk-flex-middle uk-flex-middle uk-flex-wrap">
            <h4 class="uk-width-auto uk-width-1-1@m">Categories:</h4>
            <a href="" class="uk-button uk-width-auto uk-margin-small-left">#science&nature</a>
          </div>
        </div>

        <div class="author uk-flex uk-flex-left uk-flex-right@m uk-flex-wrap">
          <h4 class="uk-width-auto uk-width-1-1@m">Author:</h4>
          <h4>Ksenia Pisera</h4>
          <p class="uk-width-1-1">Journalist, popularizer of knowledge about environmental and climate protection</p>
        </div>

        <div class="quote">
          <img src="{% static "img/quote-top.png" %}" />
          <h4>Realistically, we can reduce our emissions by 1/3 simply by changing daily habits.</h4>
          <img src="{% static "img/quote-bottom.png" %}" />
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-2-3@m">
        <p class="uk-text-large">Imagine you look out the window several times a day. Occasionally, instead of just looking, you throw out an apple. Let’s say, over the course of the day, it sums up to 24 kg of apples. Funny
          idea, right? But did you know that, in reality, something very similar is happening? Just replace apples
          with carbon dioxide and your imaginary fruit becomes real emissions. This is just one way of illustrating
          what a carbon balance is and why it is important to offset it.</p>

        <p>The presence of CO2 in the atmosphere is natural, much like apples growing on a tree. It is a gas produced
          in many different ways, from the decay of plants and the activity of oceans to volcanic eruptions and our
          own breath. For centuries, humans have lived in harmony with the natural carbon cycle. However, with the
          advent of the industrial revolution, things have accelerated considerably. We are drastically accelerating
          the rate of carbon emissions, much like throwing apples out the window accelerates the rate at which apples
          end up on the ground.</p>

        <p>There are many reasons carbon emissions are increasing; we can drive anywhere we want and buy almost any
          food we want at any time of year, even if it needs to be transported from the other side of the world. But
          there are also countless little things we can do to reduce our emissions, all of which add up over time. We
          can unplug devices when they are not in use, go shopping with our own bag, or ride our bike instead of
          drive. These small daily choices – involving transportation, shopping, food selection, and much more – are
          akin to us looking out the window, apple in hand. The choices we make have an impact on how much CO2 we
          leave outside.</p>

        <p>All the apples on the ground represent the sum of our CO2 emissions - this is our carbon footprint. And
          just like those apples accumulating on a daily basis, our carbon footprint grows every day - except that the
          apples will naturally decompose within weeks while the CO2 from our actions will stay in the atmosphere for
          decades. This is a problem because CO2 is a greenhouse gas, meaning it allows shortwave radiation from the
          sun to enter the atmosphere but then traps longwave radiation that has been absorbed by the planet, which is
          supposed to be emitted back to space - much like a greenhouse traps in heat to grow crops. The more CO2 in
          the air, the more heat is trapped and the warmer the climate gets. And it is already much warmer – research
          has shown that over the past 60 years the thermal winter in Poland has shortened by more than 30 days and
          thermal summer has lengthened by almost two weeks. We may not be able to feel it on a daily basis, but it is
          starting to have a significant impact on plants and animals, especially in more northern latitudes.</p>

        <div class="quote uk-padding uk-margin-medium-top uk-margin-medium-bottom uk-flex uk-flex-column uk-hidden@m">
          <div>
            <img src="{% static "img/quote-top.png" %}" class="uk-align-left uk-margin-remove-bottom" />
          </div>

          <h4 class="uk-margin-top uk-margin-bottom uk-text-center uk-text-uppercase">Realistically, we can reduce our
            emissions by 1/3 simply by changing daily habits</h4>

          <div>
            <img src="{% static "img/quote-bottom.png" %}" class="uk-align-right uk-margin-remove-bottom" />
          </div>
        </div>

        <p>How much carbon dioxide ends up in the atmosphere - and whether it gets warmer - depends largely on our
          decisions. <a href="https://edgar.jrc.ec.europa.eu/" target="_blank">According to the European
            Commission<img src="{% static "img/link_arrow.svg" %}" /></a> an average person living in Poland emits 24 kg of carbon
          dioxide per day. These figures, of course, vary from country to country. For comparison: a Kuwaiti will emit
          84 kg of CO2 into the atmosphere per day while a French citizen will emit 15 kg on average. Anthropogenic
          emissions, which are those caused by human activity, already amount to around 35 billion tonnes of CO2 per
          year. Can you imagine such an enormous bag of apples?</p>

        <p>Realistically, we can reduce our emissions by 1/3 simply by changing daily habits. Something as easy as
          turning off the water while brushing your teeth will save as much as 3 kg of CO2 emissions per year.
          Cycling, even for short distances, can save up to 250 kg of CO2 per year!</p>

        <p>It is great to know that we can take control of our actions to limit our carbon emissions - but we need to
          all do it together to make a meaningful difference. If we all start to balance our emissions, we can easily
          save millions of CO2 emissions. And, if we try harder and all work together, we can save billions!</p>

        <p>Each of us can start changing the world for the better right now.</p>

        <p>Be part of this movement with TerGo. It really does pay to go green.</p>
      </div>
    </div>
  </section>

  <section class="uk-section tags">
    <div class="uk-container uk-flex uk-flex-left uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-3@m">
        <div class="tags">
          <h4>Tags:</h4>
          <div class="uk-flex uk-flex-left uk-flex-right@m uk-flex-wrap">
            <a href="" class="uk-button uk-width-auto uk-margin-small-bottom">#carbonfootprint</a>
            <a href="" class="uk-button uk-width-auto uk-margin-small-bottom">#science&nature</a>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-2-3@m"></div>
    </div>
  </section>
{% endblock %}
