{% extends "base.html" %}

{% load static %}

{% block title %}Tergo{% endblock %}

{% block body_class %}page home{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section uk-text-center light-blue top">
    <div class="uk-width-1-1 uk-padding">
      <h1>Warto być&nbsp;eko!</h1>

      <h4 class="uk-margin-large-bottom">Zmierz swój wpływ na środowisko. Obniż swoje emisje CO<sub>2</sub> i zasil
        swój budżet.</h4>

      <p class="uk-text-small">Zapisz się na listę oczekiwania na launch naszej aplikacji, a posadzimy drzewo.</p>

      <div class="form-wrapper">
        <form action="." method="post" id="newsletter">
          <div class="uk-flex uk-flex-left uk-flex-middle uk-flex-wrap uk-form-controls">
            
            <input type="email" name="user_email" required class="uk-input uk-width-1-1" id="user_email" placeholder="E-mail">
            <button type="submit" class="uk-button">Zapisz się</button>
          </div>
        </form>
      </div>
    </div>

    <video autoplay loop muted>
      <source src="{% static "img/animation.056bca5e.mp4" %}" type="video/mp4">
    </video>

    <div class="wall-wrapper">
      <div class="wall uk-flex uk-flex-column">
        <img src="{% static "img/hero.jpg" %}" />
      </div>
      <div class="drag-button"></div>
    </div>
  </section>
  <section class="uk-section uk-flex uk-flex-between uk-flex-stretch uk-flex-wrap gray uk-text-center uk-text-left@m">
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <div class="inner uk-padding">
        <p>TerGo wprowadza narzędzie, dzięki któremu będziesz na bieżąco obserwować, jak zmienia się poziom Twoich
          emisji CO<sub>2</sub> do atmosfery, gdy tylko zmieniają się Twoje wybory. To narzędzie to TERbit, który nada
          rytm Twoim działaniom dla klimatu.</p>
        <h2>Zainstaluj aplikację na swoim telefonie.<br />Obserwuj, jak zmienia się Twój bilans CO<sub>2</sub>.</h2>
        <p>Otrzymuj natychmiastowy feedback. Podejmuj działania. Zwiększaj swój pozytywny wpływ na środowisko.</p>
      </div>
    </div>
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-center uk-flex-middle">
      <img src="{% static "img/app.png" %}" />
    </div>
  </section>

  <section
    class="uk-section uk-flex uk-flex-between uk-flex-stretch uk-flex-wrap yellow uk-text-center uk-text-left@m">
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-flex-last@m">
      <div class="inner uk-padding">
        <h2>Przejmij sTERy</h2>
        <p>Zdobywaj TERsy za każdy eko-wybór, jakiego dokonasz.<br />TERsy (True Emission Reduction) to kredyty
          węglowe o określonej, regulowanej przez <a href="https://ec.europa.eu/clima/policies/ets_pl"
            target="_blank">System Handlu Emisjami Unii Europejskiej (EU ETS)<img src="{% static "img/link_arrow.svg" %}" /></a>
          wartości.</p>
      </div>
    </div>

    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <img src="{% static "img/credit-card.png" %}" />
    </div>
  </section>

  <section class="uk-section uk-flex uk-flex-between uk-flex-stretch uk-flex-wrap uk-text-center uk-text-left@m"
    style="background-color: #429ddc">
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <div class="inner uk-padding">
        <h2>Kupuj, sprzedawaj, przekazuj lub kompensuj</h2>
        <p>Jeden TERs to jeden kilogram zredukowanego CO<sub>2</sub>.<br />Anuluj swoje TERsy, aby skompensować swoją
          emisję lub wymień je na prawdziwe pieniądze.</p>
      </div>
    </div>
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <img src="{% static "img/cloud.png" %}" />
    </div>
  </section>

  <section class="uk-section yellow uk-text-center uk-text-left@m">
    <div class="uk-container uk-padding">
      <h2>Nie zmieniaj tego, kim jesteś. Zmień to, co robisz. Zacznij teraz.</h2>

      <a href="ters" class="uk-button transparent uk-margin-medium-top">
        Dowiedz się więcej<img src="{% static "img/arrow_black.svg" %}" />
      </a>
    </div>
  </section>

  <section class="uk-section uk-flex uk-flex-between uk-flex-stretch uk-flex-wrap pink uk-text-center uk-text-left@m">
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-flex-last@m">
      <div class="inner uk-padding">
        <h2>Redukuj i kompensuj – osiągnij neutralność klimatyczną</h2>
        <p>Precyzyjnie oblicz swoje standardowe emisje CO<sub>2</sub> za pomocą naszego <a
            href="kalkulator">kalkulatora śladu węglowego<img src="{% static "img/link_arrow.svg" %}" /></a>. <a
            href="bilans#krok-1">Kompensuj je w łatwy sposób<img src="{% static "img/link_arrow.svg" %}" /></a> lub redukuj za
          pomocą narzędzia <a href="ters#terbit">TERbit<img src="{% static "img/link_arrow.svg" %}" /></a> w naszej aplikacji.
          Zaledwie kilka kliknięć dzieli Cię od neutralności klimatycznej!</p>
      </div>
    </div>
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <img src="{% static "img/flower.png" %}" />
    </div>
  </section>

  <section
    class="uk-section uk-flex uk-flex-between uk-flex-stretch uk-flex-wrap light-blue uk-text-center uk-text-left@m">
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <div class="inner uk-padding">
        <h2>Społeczność TerGo – najbardziej przyjazny ekosystem</h2>
        <p>TerGo to platforma społecznościowa współtworzona przez osoby prywatne, firmy i organizacje.<br />Dołącz do
          naszej społeczności, poznaj podobnie myślących ludzi, przeciwdziałaj zmianom klimatu.<br />Pokaż swoje
          pomysły, eko-projekty, zielone inicjatywy i nie tylko!</p>
      </div>
    </div>
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <img src="{% static "img/bees.png" %}" />
    </div>
  </section>
{% endblock %}

{% block additional-js %}
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
  <script src="{% static "js/home.bundle.js" %}?{% now "U" %}"></script>
{% endblock %}
