{% extends "base-en.html" %}

{% load static %}

{% block title %}Tergo{% endblock %}

{% block body_class %}page home eng{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section uk-text-center light-blue top">
    <div class="uk-width-1-1 uk-padding">
      <h1>It pays to go green!</h1>

      <h4 class="uk-margin-large-bottom">Measure your impact on the environment.<br />Reduce your CO<sub>2</sub>
        emissions and earn money at the same time.</h4>

      <p class="uk-text-small">Join the waiting list for our app launch and we will plant a tree.</p>

      <div class="form-wrapper">
        <form id="newsletter">
          <div class="uk-flex uk-flex-left uk-flex-middle uk-flex-wrap uk-form-controls">
            <input type="email" name="user_email" required class="uk-input uk-width-1-1" id="user_email" placeholder="E-mail">
            <button type="submit" class="uk-button">Sign up</button>
          </div>
        </form>
      </div>
    </div>

    <video autoplay loop muted>
      <source src="{% static "img/animation.056bca5e.mp4" %}" type="video/mp4">
    </video>

    <div class="wall-wrapper">
      <div class="wall uk-flex uk-flex-column">
        <img src="{% static "img/hero.jpg"  %}" />
      </div>
      <div class="drag-button"></div>
    </div>

  </section>
  <section class="uk-section uk-flex uk-flex-between uk-flex-stretch uk-flex-wrap gray uk-text-center uk-text-left@m">
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <div class="inner uk-padding">
        <p>Have you ever wondered how your everyday choices change your CO<sub>2</sub> emissions? TerGo is launching a
          tool that will keep you updated and informed. Meet TERbit–a tool that will set the rhythm for your greener
          future, in real-time.</p>
        <h2>Install the app on&nbsp;your&nbsp;phone.<br />Watch how your CO<sub>2</sub> balance changes.</h2>
        <p>Get instant feedback. Take action. Increase your positive impact on the environment.</p>
      </div>
    </div>
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-center uk-flex-middle">
      <img src="{% static "img/app.png" %}" />
    </div>
  </section>

  <section
    class="uk-section uk-flex uk-flex-between uk-flex-stretch uk-flex-wrap yellow uk-text-center uk-text-left@m">
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-flex-last@m">
      <div class="inner uk-padding">
        <h2>inTERvene</h2>
        <p>Earn TERs for every eco-choice you make.<br />The value of TER (True Emission Reduction) carbon credits is
          linked to the carbon price on the <a href="https://ec.europa.eu/clima/policies/ets_en"
            target="_blank">European Union Emissions Trading System (EU ETS)<img src="{% static "img/link_arrow.svg" %}" /></a>.</p>
      </div>
    </div>

    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <img src="{% static "img/credit-card.png" %}" />
    </div>
  </section>

  <section class="uk-section uk-flex uk-flex-between uk-flex-stretch uk-flex-wrap uk-text-center uk-text-left@m" style="background-color: #429ddc">
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <div class="inner uk-padding">
        <h2>Buy, sell, donate or offset</h2>
        <p>One TER equals one kilogram of CO<sub>2</sub> reduced.<br />Retire your TERs to offset your emissions, or
          cash them in for real money.</p>
      </div>
    </div>
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <img src="{% static "img/cloud.png" %}" />
    </div>
  </section>

  <section class="uk-section yellow uk-text-center uk-text-left@m">
    <div class="uk-container uk-padding">
      <h2>Don’t change who you are, just change what you do. Start now.</h2>

      <a href="ters-en" class="uk-button transparent uk-margin-medium-top">
        Learn more<img src="{% static "img/arrow_black.svg" %}" />
      </a>
    </div>
  </section>

  <section class="uk-section uk-flex uk-flex-between uk-flex-stretch uk-flex-wrap pink uk-text-center uk-text-left@m">
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-flex-last@m">
      <div class="inner uk-padding">
        <h2>Reduce and offset – achieve climate neutrality</h2>
        <p>Accurately calculate your annual CO<sub>2</sub> emissions with our <a href="calculator">carbon
            footprint calculator<img src="{% static "img/link_arrow.svg" %}" /></a> <a href="carbon-balance#krok-1">Offset those emissions easily<img src="{% static "img/link_arrow.svg" %}" /></a> or reduce them using the <a
            href="ters-en#terbit">TERbit<img src="{% static "img/link_arrow.svg" %}" /></a> tool in our app. You are just a few
          clicks away from climate neutrality!</p>
      </div>
    </div>
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <img src="{% static "img/flower.png" %}" />
    </div>
  </section>

  <section
    class="uk-section uk-flex uk-flex-between uk-flex-stretch uk-flex-wrap light-blue uk-text-center uk-text-left@m">
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <div class="inner uk-padding">
        <h2>Join the TerGo community – the friendliest of ecosystems</h2>
        <p>TerGo is a community platform created by individuals, companies, and organizations.<br />Join our
          community, meet like-minded people, and fight climate change together.<br />Share your ideas, eco-projects,
          green initiatives and more!</p>
      </div>
    </div>
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <img src="{% static "img/bees.png" %}" />
    </div>
  </section>
{% endblock %}

{% block additional-js %}
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
  <script src="{% static "js/home.bundle.js" %}?{% now "U" %}"></script>
{% endblock %}