{% extends "base-en.html" %}

{% load static %}

{% block title %}Tergo - It’s time for summer… and reducing CO2!{% endblock %}

{% block body_class %}article eng{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section top">
    <div class="uk-container uk-padding">
      <h1>It’s time for summer… and reducing CO<sub>2</sub>!</h1>
      <p class="uk-margin-top">Sunglasses ready? Comfy shoes on? All you need is your ticket and you’re good to go!
      </p>
      <p class="read-time">4 min read</p>

      <a href="#my-id" uk-scroll>
        <img class="scroll-down" src="{% static "img/scroll_down_button.svg" %}" />
      </a>
    </div>
    <div class="bg" style="background-image: url('{% static "img/pociagi.jpeg" %}')"></div>
  </section>

  <section class="uk-section uk-padding uk-padding-remove-horizontal" id="my-id">
    <div class="uk-container uk-flex uk-flex-left uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-3@m details">
        <div class="categories">
          <div class="uk-flex uk-flex-left uk-flex-right@m uk-flex-middle uk-flex-middle uk-flex-wrap">
            <h4 class="uk-width-auto uk-width-1-1@m">Categories:</h4>
            <a href="" class="uk-button uk-width-auto uk-margin-small-left">#YourEcoLife</a>
          </div>
        </div>

        <div class="author uk-flex uk-flex-left uk-flex-right@m uk-flex-wrap">
          <h4 class="uk-width-auto uk-width-1-1@m">Author:</h4>
          <h4>Ksenia Pisera</h4>
          <p class="uk-width-1-1">Journalist, popularizer of knowledge about environmental and climate protection</p>
        </div>

        <div class="quote">
          <img src="{% static "img/quote-top.png" %}" />
          <h4>Consider thinking about how you can reduce your impact on the environment to make your travels an even
            better overall experience.</h4>
          <img src="{% static "img/quote-bottom.png" %}" />
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-2-3@m">
        <p class="uk-text-large">Sunglasses ready? Comfy shoes on? All you need is your ticket and you’re good to go!
          Whether you’re heading for the mountains or the sea, why not choose an eco-friendly method of travel? Taking
          a train is one of the most environmentally friendly means of transport for long distances - and it’s loads
          of fun, too!</p>

        <p>Discovering new places, making friends, and collecting memories are just a few reasons to travel. But every
          trip is also about the way the road is travelled. While planning your excursion, consider thinking about how
          you can reduce your impact on the environment to make your travels an even better overall experience. The
          best trips are the ones where you take only photos and leave only footprints - and we’re not talking about
          carbon footprints.</p>

        <p>According to the European Parliament, almost 30% of global greenhouse gas emissions come from transport.
          Even though holiday trips account only for a part of this pool, reducing our emissions from leisure
          activities can ensure that we are able to travel as much as we like without needing to feel bad about how it
          is impacting the climate. And make no mistake: making better transportation choices for leisure travel does
          have a tangible effect: in 2020 alone, Poles have contributed to saving over 330 000 tonnes of CO2 from
          entering the atmosphere simply by taking the train!</p>

        <p>The difference in the amount of greenhouse gas emissions per passenger-kilometre is visible when various
          means of transport are compared. It is estimated that one person's train journey will contribute around
          30-40 grams of CO2 per km. For a small car, it is about 120 grams of CO2, which means that at least four
          passengers have to travel in one car to make the trip competitive with a train ride. Rail gets even better
          when compared with planes: air travel emits around 285 grams of greenhouse gases per passenger-kilometre.
          This can really add up over long distances.</p>

        <div class="quote uk-padding uk-margin-medium-top uk-margin-medium-bottom uk-flex uk-flex-column uk-hidden@m">
          <div>
            <img src="{% static "img/quote-top.png" %}" class="uk-align-left uk-margin-remove-bottom" />
          </div>

          <h4 class="uk-margin-top uk-margin-bottom uk-text-center uk-text-uppercase">Consider thinking about how you
            can reduce your impact on the environment to make your travels an even better overall experience.</h4>

          <div>
            <img src="{% static "img/quote-bottom.png" %}" class="uk-align-right uk-margin-remove-bottom" />
          </div>
        </div>

        <p>To illustrate this, let's suppose that we are going on holiday from Gdynia to Zakopane. We have 720
          kilometres ahead of us, and taking the train – using the simplest calculations – will contribute about 25.2
          kg of CO2 emissions one way per person. By car it will be about 86.4 kg, and by plane about 205.2 kilograms
          of carbon dioxide.</p>

        <p>Planes and cars may be more tempting for travellers who want to travel fast. However, keep in mind that
          getting to the airport early and checking-in are also time-consuming parts of any journey. After all,
          airports are usually located on the outskirts of cities, while railway stations are typically in the very
          centre! Travel time by car, on the other hand, is very dependent on traffic – any obstruction or traffic jam
          will slow you down, while increasing your CO2 emissions in the process!</p>

        <p>Travelling by train has major advantages. It’s convenient, it’s more relaxing than a few hours behind the
          wheel or in an aeroplane seat, and it can even be an adventure in itself. Picturesque, Polish landscapes can
          be admired through the windows, travelling at the perfect pace to allow for taking in the views while still
          getting to your destination fairly quickly. An excellent example would be the route through the Hel
          Peninsula with a view of the Baltic Sea or the trip by "Kryniczanka" train from Tarnów to Krynica-Zdrój!</p>

        <p>Are you ready for an eco-friendly journey? Let's go!</p>
      </div>
    </div>
  </section>

  <section class="uk-section tags">
    <div class="uk-container uk-flex uk-flex-left uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-3@m">
        <div class="tags">
          <h4>Tags:</h4>
          <div class="uk-flex uk-flex-left uk-flex-right@m uk-flex-wrap">
            <a href="" class="uk-button uk-width-auto uk-margin-small-bottom">#CO2</a>
            <a href="" class="uk-button uk-width-auto uk-margin-small-bottom">#transport</a>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-2-3@m"></div>
    </div>
  </section>
{% endblock %}