{% extends "base.html" %}

{% load static %}

{% block title %}Tergo - Kontakt{% endblock %}

{% block body_class %}page contact{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section pink">
    <div class="uk-container uk-padding form">
      <h2>Pytania? Pomysły?<br>Współpraca? Skontaktuj się z nami.</h2>

      <form class="contact-form uk-margin-large-top uk-margin-large-bottom" id="contact-form">
        <fieldset class="uk-fieldset">
          <div class="form-wrapper uk-margin-medium-bottom">
            <div class="input-wrapper">
              <input class="uk-input pink" type="email" name="user_email" id="user_email" required placeholder="Twój adres email">
            </div>
          </div>

          <div class="form-wrapper uk-margin">
            <textarea class="uk-textarea uk-resize-vertical pink" rows="10" name="message_text" id="message_text" required placeholder="Tu wpisz wiadomość"></textarea>
          </div>

          <button class="uk-button uk-margin-medium-top">
            Wyślij wiadomość<img src="{% static "img/arrow_white.svg" %}" />
          </button>
        </fieldset>
      </form>

      <h2>Lub napisz do nas na jeden z poniższych adresów:</h2>
      <div class="uk-flex uk-flex-left uk-flex-wrap">
        <div class="uk-width-1-1 uk-width-1-3@m">
          <p class="uk-margin-remove"><strong>Dla biznesu:</strong></p>
          <p>business@tergo.io</p>
        </div>
        <div class="uk-width-1-1 uk-width-1-3@m">
          <p class="uk-margin-remove"><strong>Social media:</strong></p>
          <p>hello@tergo.io</p>
        </div>
      </div>
    </div>

    <div class="uk-container uk-text-center done uk-hidden">
      <h2 class="uk-margin-medium-top">Wiadomość wysłana, dziękujemy!</h2>

      <img src="{% static "img/form_send_done.png" %}" class="uk-display-block uk-align-center uk-margin-medium-top" />

      <a href="/" class="uk-button uk-margin-top">
        Wróć do strony<img src="{% static "img/arrow_white.svg" %}" />
      </a>
    </div>
    <div class="uk-container uk-text-center fail uk-hidden">
      <h2 class="uk-margin-medium-top">Ups, coś poszło nie tak!</h2>

      <img src="img/form_send_fail.png" %}" class="uk-display-block uk-align-center uk-margin-medium-top" />

      <a href="kontakt" class="uk-button centered uk-margin-top">
        Wróć do strony<img src="{% static "img/arrow_white.svg" %}" />
      </a>
    </div>
  </section>
{% endblock %}

{% block additional-js %}
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
  <script src="{% static "js/contact.bundle.js" %}?{% now "U" %}"></script>
{% endblock %}
