{% extends "base-en.html" %}

{% load static %}

{% block title %}Tergo - Terms and conditions{% endblock %}

{% block body_class %}page eng{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section uk-container uk-padding top">
    <h1 class="uk-margin-large-bottom">Tergo terms and conditions</h1>
    <p class="uk-margin-large-bottom">
      <h5 class="uk-text-center">§ 1. General provisions</h5>
      1. The terms and phrases used in these Terms and Conditions shall be defined as follows:
      <br />a) Terms and Conditions: present Terms and Conditions, available in the TerGo Application constituting a
      contractual model (contract) within the meaning of Article 384 Civil Code [KodeksCywilny] ,
      <br />b) Service Provider- Terra spółka z ograniczoną odpowiedzialnością with its registered office in Gdynia
      (81-451) at Victory Avenue 96/98 E422 Tax ID: 5862359150, KRS: 0000857732, REGON: 386466110
      <br />c) TerGo Application / Application - available for download and use free of charge, a mobile / web
      application that allows individuals to participate in the Program - Users to collect TER-credits as a result of
      reducing CO2 emissions, belonging to the Service Provider and managed by him in the form of software in the form
      of a mobile application, in within which, with the use of the User Account, he may use the Services offered by
      the Service Provider,
      <br />d) Program- a program for creating carbon credits, under which Users can collect TER-Credits in return for
      participation in the re-education of CO2 emissions.
      <br />e) Services- any functionalities of the Application made available to the User by the Service Provider, in
      particular the services described in paragraph 2 of the Terms And Conditions, constituting electronically
      provided services within the meaning of the Act of 18 July 2002 on the provision of electronic services (Journal
      of Laws No. 144, item 1204 as amended) [ustawa z dnia 18 lipca 2002 roku o świadczeniu usług drogą
      elektroniczną],
      <br />f) Account- a set of permissions made available by the Service Provider to the User after registration in
      the Application, which individualizes the User and allows access to the functionality of the Application,
      <br />g) User- a person with full legal capacity who has created an Account by registering in the Application,
      <br />h) Consumer- an entity within the meaning of Article 221 of the Civil Code, that is a natural person
      performing a legal act (including the conclusion of a contract for the provision of services covered by the
      Terms and Conditions) not directly related to his business or professional activity,
      <br />i) Personal Data- information entered by the User, collected by the Service Provider during the
      registration and use of the Account in the Application, constituting personal data within the meaning of
      Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of
      individuals with regard to the processing of personal data and on the free movement of such data and the repeal
      of Directive 95/46/EC (hereinafter referred to as the GDPR),
      <br />j) Technical interruption- temporary exclusion of the functionality of the Application in whole or in
      part, related to the failure of the Application, including the Application servers, or related to the need of
      maintaining these servers or the modernization or reconstruction of the Application, during which it is not
      possible to use all or selected Services,
      <br />k) Device: mobile electronic device (tablet or smartphone) operating on the Android operating system
      (version not lower than 5.1) and iOS (version not lower than 10. 1.2. ").
      <br />l) TER Carbon credit, hereinafter also referred to as Credit – credit equal to 1kg of CO2 emissions.
      TER-credits are standard measures of removal of CO2 in the atmosphere, which the User obtains by making
      ecological choices i.e. TER credit is equal to 1 kg of reduced CO2 emissions resulting from a greener action
      compared to the average habits of a given country. TER credits are calculated using our proprietary algorithms
      and equations, which are accredited and controlled by industry experts and scientists.
      <br />m) Carbon footprint - the amount of carbon dioxide released into the atmosphere as a result of the
      activities of a particular person, organization or community. OR is the total greenhouse gas emission (GHG)
      caused by an individual, event, organization, service or product, expressed as carbon dioxide equivalent.
      <br />n) TerGo Live Calculator – which calculates and monitors your carbon footprint in real time. Calculator
      was developed using proprietary algorithms and equations that are controlled by independent industry experts and
      scientists.
      <br />All information, requests and questions for which the Terms and Conditions do not specify any form of
      communication should be addressed through the contact form available at: admin@tergo.pl
      <h5 class="uk-text-center">§ 2. General Provisions</h5>
      1. These Terms and Conditions set out the program rules (hereinafter: the Program), the conditions of
      participation in the Program, as well as the rules of the use of the TerGo mobile application.
      <br />2. The Service Provider can be contacted in writing – to the address of the Service Provider's registered
      office (mailing address) and by e-mail – to the admin@tergo.io
      <br />3. The Program Terms and Conditions are available on the www.tergo.io website and in the TerGo mobile
      application.
      <br />4. The Service Provider cooperates with entrepreneurs - Program Partners.
      <br />5. As a part of participation in the Program, in accordance with the rules described in the Terms and
      Conditions, the Participant will receive Credits in the application for physical activity performed as well as
      making ecological choices indicated in the application, = Credits can be exploit to use of the Partner or The
      Service Provider’s offers, in particular promotions, discounts of loyalty programs under the conditions
      determined by the Partner.
      <h5 class="uk-text-center">§3. Users</h5>
      1. The User may be any person who is a consumer within the meaning of the Civil Code, whereby:
      <br />a) persons without legal capacity, in particular persons under 13 years of age, may join the Program with
      the consent of legal guardians to join the program and to the process of personal data in relation with the use
      of the application,
      <br />b) persons limited in legal capacity, in particular minors, but over 13 years of age, may join the Program
      only after obtaining the consent of their legal guardian to participate in the Program and the processing of
      personal data by the Service Provider in relation to participation in the Program.
      <br />2. In order to join the program, the User should
      <br />(a) download the TerGo app to mobile device with access to the Internet. The TerGo app may be downloaded
      depending on device's operating system:
      <br />- from the Google Play Store (or any replacement)
      <br />- from the AppStore (or any replacement).
      <br />The User may use the App on more than one Mobile Device, but he/she may be logged in on only one device at
      a time.
      <br />It is permissible to use the Application on more than one mobile device, provided that the User can be
      logged in to the Application at one time on only one device. In addition, each device must be in the permanent
      and lawful possession of the Participant. The application requires the correct e-mail address of the Participant
      and the password provided during registration.
      <br />b) Enter e-mail address, name (nickname), age, password during registration.
      <br />c) Consent to the processing of personal data in order to use the Application in connection with
      participation in the Program. The User may also consent to receive marketing information about products and
      services offered by Program Partners. In the case of persons without or with limited legal capacity, consent
      shall be given by the parent or legal guardian for that person.
      <br />d) Confirm the e-mail address provided by the User during registration by accepting the link received to
      the given address and indicate that User has read the content of these Terms and Conditions. If the User does
      not have the capacity or has limited legal capacity, the legal guardian of the User confirms that he / she has
      read and understood these Terms and Conditions.
      <br />3. The Service Provider does not charge any fees for downloading, installing and launching the Application
      and joining and participating in the Program.
      <br />4. Each User may create and actively use only one Account in the Application. The User may not create and
      use multiple Accounts at the same time using the same data. Accounts created by the User over the limit
      specified in the first sentence may be deleted by the Service Provider.
      <br />5.The user is obliged to provide a real and used mobile phone number and e-mail address in the
      registration form. If provided data is incorrect, the User will not be able to activate the account.
      <h5 class="uk-text-center">§ 4. Participation in the Program</h5>
      1. The User may obtain TER Credits for performing the actions indicated in the application.
      <br />2. Data on the Physical Activity of the Participant may include in particular information about: type,
      distance and duration of the activity, number of steps completed, geolocation, hours of physical activity.
      <br />3. In return for physical activity registered by the User in the TERgo Application, the User will receive
      TER Carbon Credits, calculated using the TerGo Live Calculator.
      <br />4. The Service Provider's partners will have access to information about the TER Carbon Credits collected
      by the TER Carbon User, which the User will be able to sell.
      <br />5. TER Carbon Credits are exchanged for cash.
      <br />6. The Service Provider is not responsible for the number of offers available and offered in the
      Application from The Program Partners. Program partners may change the number of offers or modify their content.
      <br />7. Participants may not enter content into the Application in any way:
      <br />(a) of an unlawful nature,
      <br />b) which is malware that interferes with the operation of the Application (in particular viruses, Trojan
      horses, scripts and software that changes the application code or destroys the Application) or intercepts the
      data available in the Application,
      <br />(c) to which they have no rights.
      <br />8. The Service Provider reserves the right at any time to verify the User's data used during registration
      in terms of compliance of the registration made with the provisions of the Terms and Conditions.
      <br />9. The Service Provider has the right to verify the way in which the User obtains TER Credits in case of
      suspicion that the amount of Credits received by the user raises doubts about the amount of distance traveled in
      a given unit of time or other legitimate doubts, as a result of which he can delete the User's TER Credits
      obtained by him, as well as delete the User's account in the Application.
      <br />
      <h5 class="uk-text-center">§ 5. Technical conditions</h5>
      1. The application works on mobile devices (smartphones) that have internet access.
      <br />2. The application runs on Android or iOS operating system.
      <br />3. The Service Provider will periodically offer the Users updates of the Application, which will be aimed
      at authorizing the functioning of the Application, as well as its security.
      <br />4. The Organizer of the Program is entitled to proprietary copyrights to the Application allowing the
      participation of the Application to be made available for use on the basis of remuneration in the Terms and
      Conditions.
      <br />5.The Program Organizer plans to periodically provide updates to the Application, in particular in order
      to provide new functions, improve the functionality of already existing functions or improve or add new security
      features. The Service Provider does not guarantee the proper operation of the Application if the Participant has
      not downloaded and installed the update provided by the Service Provider on his / her mobile device.
      <br />6. For proper use of the Application, Internet access is necessary. The exception is the use of the TerGo
      shopping partners program, where even in case when the User is offline, he/ she will be able to scan the QR code
      available in the application in order to make a purchase.
      <br />7. The application may also use the following information of the User of the mobile device: GPS, Camera,
      Microphone
      <br />8. Access to the Application is secured by a password assigned by the User
      <br />9. The User should ensure proper protection of the mobile device, in particular:
      <br />a) install the application update provided by the Service Provider on an ongoing basis,
      <br />b) install software only from trusted sources,
      <br />c) use a secure password to the Application and not share its content with anyone.
      <h5 class="uk-text-center">§6 Personal Data</h5>
      1. The administrator of Users' personal data is the Service Provider - Terra spółka z
      ograniczonąodpowiedzialnością with its registered seat in Gdynia (81-451) at AlejaZwycięstwa 96/98 E422 NIP:
      5862359150, KRS: 0000857732, REGON: 386466110 (hereinafter: Administrator).
      <br />2. Contact with the Administrator is possible at the company's address indicated above or at the email
      address: admin@tergo.io
      <br />3. The personal data of the Participants will be processed by the Administrator in accordance with
      generally applicable regulations (including: Regulation of the European Parliament and of the Council (EU)
      2016/679 of 27 April 2016 - the so-called General Data Protection Regulation GDPR) - until deletion account in
      the Application, however, after removal of the account, personal data may be further processed for the period of
      limitation of possible claims of the Service Provider against the User or the User against the Service Provider,
      specified in the provisions of generally applicable law.
      <br />4. Personal data will be processed by the Administrator:
      <br />a) in order to take steps necessary to conclude the contract and perform the contract (in accordance with
      Article 6 (1) (b) of the GDPR),
      <br />b) in order to fulfill the Administrator's obligations under generally applicable provisions (Article 6
      (1) (c) of the GDPR),
      <br />c) on the basis of consent (Article 6 (1) (a) of the GDPR) to the extent that the User expresses such
      consent, inter alia, to present commercial offers from the Service Provider's Partners. Such consent may be
      withdrawn at any time, without affecting the lawfulness of the processing which was carried out on the basis of
      consent before its withdrawal. The lack of such consent or its withdrawal may not be the basis for unfavorable
      treatment of the applicant for employment, and may not cause any negative consequences, in particular, it may
      not be a reason justifying the refusal of employment,
      <br />d) based on the legitimate interest of the administrator (Article 6 (1) (f) in the marketing of own
      services.
      <br />5. Personal data may be facilitated to third parties, including Business Partners, as well as when it is
      necessary under the law. The recipients of the data may be, in particular, the administrators of the
      Administrator's infrastructure (e.g. the hosting provider).
      <br />6. Users' personal data may be transferred to third countries (outside the European Economic Area) to the
      Service Provider's business partners
      <br />7. Personal data will be the subject of automated decisions, including in the form of profiling in the
      scope
      <br />8. The User has the right to demand an access his/her personal data from the Administrator, rectify it,
      delete or limit processing, and transfer the data;
      <br />9. Moreover, the User has the right to raise an objection to further data processing.
      <br />10. If the processing takes place in contravention of the law, the User has the right to lodge a complaint
      with the supervisory body - the President of the Personal Data Protection Office (PUODO). PUODO's contact
      details are available, in particular, at https://uodo.gov.pl/pl/p/kontakt.
      <h5 class="uk-text-center">§ 7 Cookies</h5>
      a. In the course of using the application by the User, the Service Provider collects the resulting files
      called "cookies" - cookie files that are stored on the user's device. Such files contain data such as the IP
      address, date of logging in and using the application or its functions, as well as the date when the application
      was connected to the server. Cookies can also save data that users enter into other applications.
      <br />b. The Service Provider has access to cookies and processes them automatically in order to efficiently use
      the application by Users.
      <br />c. Failure to accept cookies will not prevent the use of the application, but may cause its malfunction.
      <h5 class="uk-text-center">§8 License</h5>
      1. The Service Provider grants the User a license to use the Application in accordance with its use until
      the User deletes the account.
      <br />2. The license includes the right to reproduce only to the extent necessary to run, operate and store the
      Application in the Device's memory.
      <br />3. The User is not allowed to grant any further licenses.
      <br />4. The User has no right to distribute, sell, market or distribute the Application.
      <br />5. The User has no right to send or make Application available on the Internet, computer networks,
      distribution systems or any other ICT systems.
      <br />
      <h5 class="uk-text-center">§ 9 Responsibility of the Service Provider</h5>
      1. The Service Provider undertakes to ensure the highest possible quality of Services provided through the
      Application.
      <br />2. The service provider is not responsible:
      <br />i. for the temporary inability of Users to use the Application, caused by a technical break or force
      majeure,
      <br />ii. for the effects of the User's actions, among others providing false Personal Data by the User during
      Registration or disclosing the password to the User's Account in the Application, or making the Account
      available under the Application by the User to third parties.
      <br />iii. for non-operation or improper operation of the Application on a device that does not meet the
      technical requirements, or in the case of failure to install the application update by the User.
      <br />iv. for non-performance or improper performance of services by telecommunications operators with whom the
      User has concluded contracts, in particular in the field of connection to the Internet, as well as for the
      amount of fees for these services,
      <br />v. for incorrect operation of operating systems required to run the Application, as well as software other
      than the Application, installed on the Device or downloaded to the Device.
      <br />
      <h5 class="uk-text-center">§ 10 Complaints</h5>
      1. Complaints regarding the operation of the Application and non-performance or improper performance of
      the Service should be reported in the application or to the e-mail address admin@tergo.io
      <br />2. The complaint must contain accurate personal data (name, surname, e-mail address used to register the
      Account in the Application) and the reason for the complaint.
      <br />3. The Participant will be notified of the complaint's resolution no later than 14 days from the date of
      its receipt by the Organizer
      <br />4. The complaint should include the name, surname, e-mail address used to register the User Account in the
      Application, and a description of the case.
      <br />5. The User will be informed about the method of examinationof the claim by e-mail to the e-mail address
      from which the complaint was sent.
      <br />
      <h5 class="uk-text-center">§ 11 Final provisions</h5>
      1. Participation in the Program is tantamount to a declaration that the Terms and Conditions have been
      read.
      <br />2. Participation is terminated when the Service Provider deletes the Account in the Application.
      <br />3. End of use made by the Consumer within 14 days from the date of the contract (Account registration), is
      treated as a withdrawal from the contract by the Consumer pursuant to art. 27 of the Polish Act of 30thMay 2014
      on consumer rights, unless the consumer expressly states otherwise. Such withdrawal does not require giving
      reasons for the withdrawal and does not involve any costs for the Consumer.
      <br />4. The User will be notified of each amendment to the Terms and Conditions by e-mail, as well as via the
      application. Further use of the Application requires the acceptance of changes to the Terms and Conditions.
      <br />5. The TERgo application, as well as all its content, source code, graphics, layout, content as well as
      other its elements are protected by generally applicable laws, including copyright, intellectual property law
      and other relevant, mandatory provisions rights. The use of the Application is possible under the license
      conditions specified in the Terms and Conditions .
      <br />6. In matters not covered by these Regulations, the provisions of generally applicable law shall apply.
      <br />7. The Terms and Conditions enter into force on ...............
    </p>
  </section>

  <section class="uk-section">
    <div class="uk-container uk-text-center">
      <img src="{% static "img/bluemedia_banner.png" %}" class="uk-margin-large-top uk-margin-xlarge-bottom" />
    </div>
  </section>
{% endblock %}