{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="{% static "img/favicon.ico" %}" />

    <script src="https://cdn.jsdelivr.net/npm/ismobilejs@1/dist/isMobile.min.js"></script>

    {% block additional-css %}{% endblock %}
    <link href="{% static "css/main.css" %}?{% now "U" %}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <header class="headroom headroom--top uk-flex uk-flex-between uk-flex-left@m uk-flex-middle">
      <a href="index-en.html"><img class="logo" src="{% static "img/tergo_logo.png" %}" /></a>
  
      <div id="offcanvas-nav">
        <div>
          <a href="index-en.html" class="uk-hidden@m"><img class="logo" src="{% static "img/tergo_logo.png" %}" /></a>
          <span class="uk-offcanvas-close uk-hidden@m" uk-icon="icon: close; ratio: 2"></span>
  
          <nav class="uk-navbar-container uk-navbar-transparent uk-flex uk-flex-row uk-flex-center"
            uk-navbar="offset: 30">
            <ul class="uk-navbar-nav uk-flex">
              <li><a href="ters-en.html">TERs</a></li>
              <li>
                <a href="carbon-balance.html">Carbon balance</a>
  
                <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-left; offset: 30;">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li>
                      <a href="calculator.html">
                        <img class="uk-hidden@m" src="{% static "img/menu_arrow.png" %}" />
                        <span>Calculator</span>
                        <img src="{% static "img/arrow_white.svg" %}" /></a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="business.html">Business</a>
  
                <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-left; offset: 30;">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li>
                      <a href="carbon-neutral-printing.html">
                        <img class="uk-hidden@m" src="{% static "img/menu_arrow.png" %}" />
                        <span>Carbon-neutral printing</span>
                        <img src="{% static "img/arrow_white.svg" %}" /></a>
                    </li>
                  </ul>
                </div>
              </li>
              <li><a href="blog-en.html">Blog</a></li>
              <li>
                <a href="#">About us</a>
                <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-left; offset: 30;">
                  <ul class="uk-nav uk-nav uk-navbar-dropdown-nav">
                    <li>
                      <a href="faq-en.html">
                        <img class="uk-hidden@m" src="{% static "img/menu_arrow.png" %}" />
                        <span>FAQs</span>
                        <img src="{% static "img/arrow_white.svg" %}" />
                      </a>
                    </li>
                    <li>
                      <a href="contact">
                        <img class="uk-hidden@m" src="{% static "img/menu_arrow.png" %}" />
                        <span>Contact</span>
                        <img src="{% static "img/arrow_white.svg" %}" />
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="index.html" class="lang uk-margin-medium-top">
                  <img src="{% static "img/lang_icon.svg" %}" class="uk-margin-right" />Polish
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
  
      <span uk-toggle="target: #offcanvas-nav" uk-icon="icon: menu; ratio: 2" class="uk-hidden@m"></span>
  
      <div class="lang">
        <img src="{% static "img/lang_icon.svg" %}" class="uk-margin-right" /><a href="index.html">PL</a> | <strong>ENG</strong>
      </div>
    </header>
    
    <main>
      {% block content %} {% endblock %}
    </main>

    <footer class="footer">
      <div class="uk-container uk-flex uk-flex-between uk-flex-wrap">
        <div class="uk-width-1-1 uk-width-1-4@m uk-flex-column">
          <div class="uk-margin-medium-bottom">
            <h5>Contact:</h5>
            <p>Aleja Zwycięstwa 96/98, E422<br/>Gdynia, 81-451<br/>Poland</p>
          </div>

          <div class="uk-margin-medium-bottom">
            <h5>Business:</h5>
            <p>business@tergo.io</p>
          </div>

          <div>
            <h5>Social media:</h5>
            <p>hello@tergo.io </p>
          </div>
        </div>
        <div class="uk-width-1-1 uk-width-1-4@m socials uk-text-center uk-text-left@m">
          <h5>Visit us:</h5>

          <div class="uk-flex uk-flex-center uk-flex-left@m">
            <a href="https://www.facebook.com/TerGo-105025195065313" target="_black"
              class="uk-icon-button uk-margin-right" uk-icon="facebook"></a>
            <!-- <a href="#" target="_black" class="uk-icon-button uk-margin-right" uk-icon="twitter"></a> -->
            <a href="https://www.instagram.com/tergo_io/ " target="_black" class="uk-icon-button uk-margin-right"
              uk-icon="instagram"></a>
            <a href="https://www.linkedin.com/company/tergo/" target="_black" class="uk-icon-button"
              uk-icon="linkedin"></a>
          </div>
        </div>
      </div>
      <div class="uk-container uk-flex uk-flex-between uk-flex-wrap">
        <div class="uk-width-1-1 uk-width-1-4@m">
          <div class="uk-flex-inline uk-flex-around uk-flex-left@m uk-width-1-1 uk-width-auto@m">
            <a href="terms-and-conditions.html">Terms and conditions</a>
            <div class="divider">|</div>
            <a href="privacy-and-cookies-policy.html">Privacy policy</a>
          </div>
        </div>
        <div class="uk-width-1-1 uk-width-1-4@m uk-flex-first@m uk-text-center uk-text-left@m">
          <span>TerGo 2021</span>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/main.bundle.js' %}?{% now 'U' %}"></script>
    {% block additional-js %}{% endblock %}
  </body>
</html>