{% extends "base.html" %}

{% load static %}

{% block title %}Tergo - Bilans{% endblock %}

{% block body_class %}page bilans{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section uk-text-center uk-padding top">
    <h1>Nowy dzień, nowy bilans CO<sub>2</sub>.</h1>
    <h2>Codziennie jest okazja,<br />by zrobić coś dobrego dla planety.</h2>
  </section>

  <section class="uk-section light-blue">
    <div class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle">
      <div class="uk-flex uk-flex-column uk-text-center uk-text-left@m">
        <h2>KROK 1: Wybierz jeden z dwóch sposobów na określenie Twojego <span class="tooltip">śladu węglowego<span
              class="tooltip-content"><img src="{% static "img/tooltip_arrow.svg" %}" />To suma emisji gazów cieplarnianych, które
              powstają w efekcie naszych wyborów. Im mocniej angażujemy się w ekodziałania, tym mniejszy ślad
              węglowy!</span></span>:</h2>

        <div class="uk-flex uk-flex-between uk-flex-bottom uk-flex-wrap">
          <div class="uk-width-1-1 uk-width-1-2@m">
            <img src="{% static "img/laptop.png" %}" />

            <p>Skorzystaj z kalkulatora śladu
              węglowego i otrzymaj precyzyjny wynik.</p>

            <a href="calculator.html" class="uk-button uk-margin-top">
              Obliczaj<img src="{% static "img/arrow_white.svg" %}" />
            </a>
          </div>
          <div class="uk-width-1-1 uk-width-1-2@m">
            <img src="{% static "img/house.png" %}" />

            <p>Kliknij, aby skompensować swój
              ślad CO<sub>2</sub> obliczony na podstawie średniej krajowej!</p>

            <a class="uk-button blocked uk-margin-top">
              Opcja dostępna wkrótce<img src="{% static "img/arrow_white.svg" %}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="uk-section uk-padding-remove-bottom"><a id="krok-1"></a>
    <div class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
      <h2 class="uk-width-1-1">KROK 2: Wybierz metodę kompensacji emisji CO<sub>2</sub></h2>

      <img src="{% static "img/basket.png" %}" class="uk-width-1-1 uk-width-1-2@m" />

      <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
        <h2>Kupuj TERsy</h2>
        <p>Każdy TERs to czyjeś starania o to, by życie na naszej planecie było lepsze. Kupno TERsów od innych
          użytkowników i użytkowniczek to sposób na bilansowanie własnego śladu węglowego, ale przede wszystkim
          wsparcie i motywowanie innych do podejmowania kolejnych ekodziałań!</p>
      </div>
    </div>
  </section>

  <section class="uk-section uk-padding-remove">
    <div class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
      <img src="{% static "img/tree.png" %}" class="uk-width-1-1 uk-width-1-2@m" />

      <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
        <h2>Sadź drzewa</h2>
        <p>Im więcej drzew, tym mniej CO<sub>2</sub> w atmosferze – drzewa pochłaniają go kilogramami! Dlatego właśnie
          sadzenie drzew to najpopularniejsza i tradycyjnie efektywna metoda kompensacji emisji dwutlenku węgla.</p>
        <p>Ale jakie i ile drzew sadzić, by równoważyły emisje dwutlenku węgla? Trzeba wziąć pod uwagę wiele czynników
          i procesów, w tym m.in. gatunki drzew, czas, <span class="tooltip">sekwestrację CO<sub>2</sub><span
              class="tooltip-content"><img src="img/tooltip_arrow.png" />Zdolność roślin do pochłaniania
              CO<sub>2</sub> w procesie fotosyntezy. Różne drzewa, w różnym wieku mogą się pochwalić różnym apetytem.
              Ogólnie jednak dorosłe, zdrowe drzewa pochłaniają więcej CO<sub>2</sub>, niż
              wydzielają.</span></span>... ale od tego są naukowcy! Zostaw nam niuanse i meandry statystyki –
          wystarczy, że podasz nam wartość emisji dwutlenku węgla, którą chcesz zbilansować. Zajmiemy się resztą.
          Informacje o najbliższych naszych akcjach sadzenia drzew znajdziesz m.in. na naszym blogu.</p>
      </div>
    </div>
  </section>

  <section class="uk-section uk-padding-remove">
    <div class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
      <img src="{% static "img/leaf.png" %}" class="uk-width-1-1 uk-width-1-2@m" />

      <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
        <h2>Wspieraj ekoprojekty</h2>
        <p>Możesz wesprzeć ekoprojekty TerGo, których głównym założeniem jest kompensacja emisji dwutlenku węgla z
          atmosfery. Aktualnie prowadzimy programy ochrony lasów w Gujanie i wsparcia rolnictwa polikulturowego w
          Belize. Tego typu inicjatywy przyczyniają się nie tylko do poprawy stanu wód, gleb i powietrza, ale też
          jakości życia lokalnych społeczności.</p>
        <p>I to jest właśnie najpiękniejsze w tych projektach. Przekonaj się, jak to jest odmienić czyjś los.</p>
      </div>
    </div>
  </section>

  <section class="uk-section gray">
    <div class="uk-container uk-padding">
      <div class="uk-flex uk-flex-column uk-text-center uk-text-left@m">
        <h2>KROK 3: Patrz, jak zmieniasz świat</h2>
        <p>Twoje TERsy przyczyniają się do zmiany świata na lepszy. Motywujesz innych, wspierasz rozwój i ochronę
          lasów, a także całych społeczności. To daje poczucie spełnienia, które niesie satysfakcję i nadzieję pod
          koniec dnia.</p>
        <p>Nie zmieniaj tego, kim jesteś – zmień tylko to, co robisz. Każde osiągnięcie zbliża nas do wspólnego celu.
          Dziel się sukcesami ze społecznością TerGo, świętujmy je razem!</p>
      </div>
    </div>
  </section>
{% endblock %}
