{% extends "base.html" %}

{% load static %}

{% block title %}Tergo - Biznes{% endblock %}

{% block body_class %}page biznes{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section uk-text-center uk-padding top">
    <h1>Graj w zielone!</h1>
    <h2>Kompensuj emisje CO<sub>2</sub> firmy.<br />Zerujesz? Wszyscy wygrywają!</h2>

    <a href="kontakt.html" class="uk-button centered uk-margin-medium-top">
      Chcę dołączyć do TerGo<img src="{% static "img/arrow_white.svg" %}" />
    </a>
  </section>

  <section class="uk-section yellow">
    <div class="uk-container uk-padding uk-text-center uk-text-left@m">
      <h3>TerGO to platforma społecznościowa o profilu ekologicznym. Ten najbardziej przyjazny z ekosystemów
        współtworzą ludzie, marki i organizacje zorientowane na zrównoważony rozwój i ochronę klimatu. Na czym polega
        ten fenomen? Na współdziałaniu!</h3>
    </div>
  </section>

  <section class="uk-section">
    <div class="uk-container uk-padding uk-flex uk-flex-between uk-text-center uk-text-left@m">
      <img src="" />

      <div class="uk-flex uk-flex-column">
        <h2>Kupuj TERsy i kompensuj ślad węglowy firmy</h2>
        <p>Kredyty węglowe TER są przepustką do osiągnięcia zerowej emisji netto firmy. To proste – wykup TERsy od
          społeczności TerGo i anuluj je, kompensując nimi swoją emisję CO<sub>2</sub>. Zrobisz to łatwo i szybko za
          pośrednictwem naszej platformy handlu emisjami.</p>
        <p>Każdy TERs to kilogram CO<sub>2</sub>, który mógł, ale nie został wprowadzony do atmosfery. Stało się tak
          dzięki zmianom nawyków użytkowników i użytkowniczek aplikacji TerGo na bardziej ekologiczne, czyli mniej
          emisyjne. Ekoprojekty TerGo to natomiast działania, których celem jest równoważenie emisji gazów
          cieplarnianych. To m.in. sadzenie lasów i ochrona istniejących leśnych ekosystemów. Kupując TERsy lub
          kredyty węglowe uzyskane z zielonych projektów TerGo, możesz nawet wyzerować emisje CO<sub>2</sub> swojej
          firmy.</p>
        <p>Będąc częścią społeczności TerGo, wzmocnisz relacje między firmą a klientami. Zbliżycie się do siebie i
          będziecie patrzeć w tym samym kierunku – świata zmieniającego się na lepszy. Zdaniem poetów tak wygląda
          prawdziwa miłość!</p>

      </div>
    </div>
  </section>

  <section class="uk-section gray">
    <div class="uk-container uk-padding uk-text-center uk-text-left@m">
      <h2>Wprowadź nowe programy HR-owe</h2>

      <p>Zwiększ zaangażowanie pracowników i podnieś poziom ekonawyków w Twojej firmie. Wzmocnij motywację zespołu
        dzięki TERbit – narzędziu, które w czasie rzeczywistym mierzy efekty ekodziałań i je nagradza. Zobaczcie na
        własne oczy, jak duży macie wpływ na środowisko!</p>

      <ul uk-accordion class="uk-text-left uk-margin-medium-top">
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">#GoTerGoChallenge #NetZeroHero #BecomingClimatePositive</a>
          <div class="uk-accordion-content">
            <p>Z pewnością możecie razem góry przenosić, a próbowaliście zmieniać świat na lepszy? Zachęć pracowników
              do osiągnięcia neutralności klimatycznej i wyznaczcie sobie nowe cele, które Was zjednoczą. A może
              wolicie wprowadzić odrobinę rywalizacji i sprawdzić się, kto najszybciej zbierze TERsy?</p>
            <p>Wystarczy, że zainstalujcie aplikację TerGo i będziecie działać bardziej ekologicznie. TERsy same
              zaczną wpadać do waszych TerGo portfeli!</p>
            <p>Co możesz zrobić jako pracodawca? Nagłośnić temat, zmotywować zespół i odkupić zebrane przez nich
              TERsy. Firma kompensuje emisje CO<sub>2</sub>, a pracownicy otrzymują specjalną premię!</p>
            <p>Nie zapomnij wspomnieć o tym w komunikacji wewnętrznej i pochwalić się wynikiem zespołowej pracy nad
              obniżeniem emisji CO<sub>2</sub> w raporcie zrównoważonego rozwoju!</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">#EkoInspiracje</a>
          <div class="uk-accordion-content">
            <p>Otrzymasz komunikaty i wskazówki z naszej niekończącej się listy najlepszych ekopraktyk, nawyków,
              wyborów, pomysłów i inspiracji dla użytkowników aplikacji TerGo. Spotkajmy się też w terenie!
              Dostarczymy wszystkie narzędzia, przy pomocy których łatwiej osiągnąć wspólny cel – mieć namacalny wpływ
              na ochronę klimatu.</p>
            <p>Mamy pomysły i nie zawahamy się ich użyć! Napisz lub zadzwoń, zrealizujemy je razem.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="uk-section">
    <div class="uk-container uk-padding uk-text-center uk-text-left@m">
      <h2>Programy partnerskie dla handlu</h2>

      <ul uk-accordion class="uk-text-left uk-margin-medium-top">
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">Akredytacja TerGo dla produktów i usług</a>
          <div class="uk-accordion-content">
            <p>Daj wybór swoim klientom. Wprowadzaj produkty i usługi neutralne dla klimatu.</p>
            <p>Jak to działa? Tak jak lubisz – prosto i szybko.</p>
            <p>Dla cyklu życia każdego produktu/usługi wyliczymy wartość emisji CO<sub>2</sub>, a także liczbę
              kredytów węglowych TERs niezbędną do zrównoważenia śladu węglowego w danym roku.</p>
            <p>Produkt/usługa otrzyma akredytację neutralności węglowej, gdy zostanie zakupiona i wycofana z obiegu
              odpowiednia wartość TERsów. Dzięki temu produkt/usługa wejść na rynek pod znakiem przyjaznego dla
              środowiska. Ekoświadomi konsumenci chętniej sięgną po produkty i usługi oznaczone jako neutralne
              klimatycznie!</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Kompensacja zakupów online</a>
          <div class="uk-accordion-content">
            <p>Jak przekonać do siebie klientów o poziomie świadomości ekologicznej level MASTER? Pozwolić im na
              jeszcze więcej!</p>
            <p>Zakupy z koszyka zostaną automatycznie przeliczone pod kątem emisyjności CO<sub>2</sub> w całym cyklu
              życia. Wyliczona zostanie także wartość TERsów, które zrównoważą zakup.</p>
            <p>Klient na etapie składania zamówienia będzie mógł zdecydować, czy chce wesprzeć środowisko i
              skompensować swoje zakupy. Jeśli tak, do rachunku doliczona zostanie kwota odpowiadająca wartości
              TERsów. Środki doliczone do transakcji zostaną automatycznie przetransferowana do aplikacji TerGo na
              zakup i wycofanie z obiegu TERsów.</p>
            <p>W ten sposób ślad węglowy zakupów zostanie skompensowany! Klient zostanie także nagrodzony TERsami w
              aplikacji TerGo za zakupy neutralne dla klimatu!</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="uk-section yellow">
    <div class="uk-container uk-padding uk-text-center uk-text-left@m uk-flex uk-flex-between uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-2@m">
        <h2>Aktywacje marketingowe</h2>

        <p>Przekaż sTERy bez afery!</p>

        <p>Kogo ekoświadomi klienci chcą wspierać i komu wierzą? Firmom wrażliwym na kwestie środowiskowe. Które
          prowadzą realne działania w kierunku ochrony środowiska i klimatu, a nie tylko o tym mówią. A zdecydowaną
          przewagę konkurencyjną zapewnia możliwość współuczestnictwa z firmą w ekoinicjatywach i poczucie, że razem
          można zmienić świat na lepsze.</p>

        <p>TerGo jest platformą idealną do angażowania konsumentów w ważne inicjatywy oraz budowania trwałych relacji
          z marką.</p>
      </div>

      <div class="uk-width-1-1 uk-width-1-2@m">
        <p>Potencjał gamifikacyjny aplikacji może być wykorzystywany do aktywacji klientów. Scenariuszy jest wiele, a
          nawet najprostszy jest bardzo skuteczny:</p>

        <h4>Krok 1: Klient ściąga aplikację</h4>
        <h4>Krok 2: Dołącza do drużyny firmy</h4>
        <h4>Krok 3: Zbiera X TERsów w ciągu najbliższych 30 dni</h4>
        <h4>Krok 4: Jest jednym z 10, który otrzymuje nagrodę za najlepszy wynik</h4>
      </div>
    </div>
  </section>

  <section class="uk-section">
    <div class="uk-container uk-padding uk-text-center uk-text-left@m uk-flex uk-flex-between uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-2@m">
        <h2>Doradztwo i raporty zrównoważonego rozwoju</h2>

        <p>Jesteśmy zespołem specjalizującym się w zarządzaniu zrównoważonym rozwojem.</p>
        <p>Nasi eksperci są członkami International Society of Sustainability Professionals (ISSP) i certyfikowanymi
          specjalistami ds. raportowania w standardzie GRI (Global Reporting Initiative).</p>
        <p>Dokonujemy obliczeń śladu węglowego w oparciu o standardy The GHG Protocol, ISO 14044, ISO 14064, ISO
          14067, PAS 2050.</p>
      </div>

      <div class="uk-width-1-1 uk-width-1-2@m">
        <p>Przygotowujemy raporty i prowadzimy szkolenia we wszystkich obszarach związanych z emisją dwutlenku węgla,
          zmianami klimatycznymi i obliczaniem śladu węglowego.</p>
        <p>Wspieramy naszych klientów i partnerów w osiąganiu ich celów związanych z ochroną środowiska, polityką
          społeczną i ładem korporacyjnym (ESG), a także w osiąganiu zrównoważonego rozwoju ekonomicznego, społecznego
          i środowiskowego.</p>
        <p>Zaufaj profesjonalistom.<br />Bądź wiaryGOdny!</p>
      </div>
    </div>
  </section>
{% endblock %}
