{% extends "base-en.html" %}

{% load static %}

{% block title %}Tergo - Blog{% endblock %}

{% block body_class %}blog{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section top" style="background-image: url('{% static "img/apples.png" %}')">
    <div class="uk-container uk-padding">
      <h1>How Many Apples Does It Take to Warm the Atmosphere?</h1>
      <p>Imagine you look out the window several times a day. Occasionally, instead of just looking, you throw out an
        apple.</p>
      <p class="read-time">4 min read</p>
      <a class="uk-button uk-width-auto" href="how-many-apples-does-it-take-to-warm-the-atmosphere.html">Read more<img
          src="img/arrow_white.svg" /></a>
    </div>
  </section>

  <!--
  <section class="uk-section blog-page__articles-filters blog-page__section">
    <div class="uk-container">
      <div class="filters-label"><a href="#" class="filters-opener">All Categories</a></div>
      <div class="close-filters"><a href="#"></a></div>
      <div class="filter uk-flex uk-flex-right blog-page__articles-filters--filters"><span>Filter articles</span>
      </div>
      <div class="tags uk-flex uk-flex-left uk-flex-middle uk-flex-wrap blog-page__articles-filters--categories">
        <span class="blog-page__articles-filters--categories-label">Blog categories: </span>
        <span class="blog-page__articles-filters--mob-categories-label filters-options-label">Wybierz
          kategorię:</span>
        <button class="uk-button white uk-active">All categories</button>
        <button class="uk-button white">Go #Ecosuperheroes</button>
        <button class="uk-button white">Go #GreenInnovation</button>
        <button class="uk-button white">Go #EcoLife</button>
        <button class="uk-button white">Go #bettertogether</button>
        <button class="uk-button white">Go #repurposewithpurpose</button>
      </div>
      <div class="blog-page__articles-filters--sort">
        <span class="blog-page__articles-filters--mob-sort-label sort-options-label">Sortuj artykuły:</span>
        <div class="sort-options">
          <div class="option">
            <a href="#" class="sort-option-value"><span>Od najnowszych</span></a>
            <a href="#" class="sort-option-value"><span>Od najstarszych</span></a>
          </div>
          <div class="option">
            <a href="#" class="sort-option-value"><span>Od najczęściej wyświetlanych</span></a>
          </div>
          <div class="option">
            <a href="#" class="sort-option-value"><span>A-Z</span></a>
            <a href="#" class="sort-option-value"><span>Z-A</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  -->

  <section class="uk-section uk-margin-large-top uk-margin-large-bottom">
    <div class="uk-container uk-padding-remove-horizontal">
      <div class="grid">
        <div class="uk-flex uk-flex-between">
          <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-4@m">
            <div class="teaser small">
              <div class="inner">
                <a href="lets-clean-the-clouds.html">
                  <div class="image" style="background-image: url('{% static "img/chmury.jpeg" %}')"></div>
                </a>
                <div class="uk-flex uk-flex-column uk-padding uk-text-center uk-text-left@m details">
                  <div class="title">Let’s clean the clouds!</div>
                  <div class="desc">There is one type of cloud that remains undetectable even for the most experienced
                    meteorologists: a data cloud.</div>
                  <div class="time">5 min read</div>
                  <div>
                    <a class="uk-button" href="lets-clean-the-clouds.html">Read more<img
                        src="img/arrow_white.svg" /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="teaser big uk-width-1-1 uk-width-3-4@m">
            <div class="inner uk-flex uk-flex-column">
              <a href="its-time-for-summer-and-reducing-CO2.html">
                <div class="image" style="background-image: url('{% static "img/pociagi.jpeg" %}')"></div>
              </a>
              <div class="uk-flex uk-flex-column uk-padding uk-text-left details">
                <div class="title">It’s time for summer… and reducing CO<sub>2</sub>!</div>
                <div class="desc">Sunglasses ready? Comfy shoes on? All you need is your ticket and you’re good to go!
                </div>
                <div class="time">4 min read</div>
                <div>
                  <a class="uk-button" href="its-time-for-summer-and-reducing-CO2.html">Read more<img
                      src="img/arrow_white.svg" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--
        <div class="uk-flex uk-flex-left uk-flex-wrap">
          <div class="teaser uk-width-1-2">
            <div class="inner">
              <div class="image" style="background-image: url('{% static "img/biznes_bg.png')"></div>
              <div class="title">What happens if all the CO2 is gone?</div>
              <div class="desc">We all know that co2 levels need to be reduced, that too much...</div>
              <div class="time">4 min. read</div>
              <button class="uk-button">Learn more<img src="img/arrow_white.svg"/></button>
            </div>
          </div>
          <div class="teaser uk-width-1-2">
            <div class="inner">
              <div class="image" style="background-image: url('{% static "img/biznes_bg.png')"></div>
              <div class="title">What happens if all the CO2 is gone?</div>
              <div class="desc">We all know that co2 levels need to be reduced, that too much...</div>
              <div class="time">4 min. read</div>
              <button class="uk-button">Learn more<img src="img/arrow_white.svg"/></button>
            </div>
          </div>
          <div class="teaser uk-width-1-2">
            <div class="inner">
              <div class="image" style="background-image: url('{% static "img/biznes_bg.png')"></div>
              <div class="title">What happens if all the CO2 is gone?</div>
              <div class="desc">We all know that co2 levels need to be reduced, that too much...</div>
              <div class="time">4 min. read</div>
              <button class="uk-button">Learn more<img src="img/arrow_white.svg"/></button>
            </div>
          </div>
          <div class="teaser uk-width-1-2">
            <div class="inner">
              <div class="image" style="background-image: url('{% static "img/biznes_bg.png')"></div>
              <div class="title">What happens if all the CO2 is gone?</div>
              <div class="desc">We all know that co2 levels need to be reduced, that too much...</div>
              <div class="time">4 min. read</div>
              <button class="uk-button">Learn more<img src="img/arrow_white.svg"/></button>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
  </section>
{% endblock %}

{% block additional-js %}
  <script src="{% static 'js/blog.bundle.js' %}?{% now 'U' %}"></script>
{% endblock %}
