{% extends "base-en.html" %}

{% load static %}

{% block title %}Tergo - Carbon Balance{% endblock %}

{% block body_class %}page bilans eng{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section uk-text-center uk-padding top">
    <h1>New day, new eco-perspective.</h1>
    <h2>Each day you have a chance<br>to do something good for the planet.</h2>
  </section>

  <section class="uk-section light-blue">
    <div class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle">
      <div class="uk-flex uk-flex-column uk-text-center uk-text-left@m">
        <h2>STEP 1: Choose one of two ways to determine your <span class="tooltip">carbon footprint<span class="tooltip-content"><img src="img/tooltip_arrow.png" />It's the sum of the greenhouse gas emissions that result from our choices. The bigger our engagement in green activities, the smaller our carbon footprint!</span></span></h2>

        <div class="uk-flex uk-flex-between uk-flex-bottom uk-flex-wrap">
          <div class="uk-width-1-1 uk-width-1-2@m">
            <img src="{% static "img/laptop.png" %}" />

            <p>Use the detailed carbon footprint calculator and get an accurate result.</p>

            <a href="calculator.html" class="uk-button uk-margin-top">
              Calculate<img src="{% static "img/arrow_white.svg" %}" />
            </a>
          </div>
          <div class="uk-width-1-1 uk-width-1-2@m">
            <img src="{% static "img/house.png" %}" />

            <p>With just a few clicks you can offset your carbon footprint by obtaining your country’s average CO<sub>2</sub> emissions.</p>

            <a class="uk-button blocked uk-margin-top">
              Option coming soon<img src="{% static "img/arrow_white.svg" %}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="uk-section uk-padding-remove-bottom"><a id="krok-1"></a>
    <div class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
      <h2 class="uk-width-1-1">STEP 2: Choose a method for CO<sub>2</sub> emissions offsetting</h2>

      <img src="{% static "img/basket.png" %}" class="uk-width-1-1 uk-width-1-2@m" />

      <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
        <h2>Buy TERs</h2>
        <p>Every TER represents someone's efforts to make life on our planet better. Buying TERs from other users
          balances your own carbon footprint – and it also supports and motivates others to do more for the climate!
        </p>
      </div>
    </div>
  </section>

  <section class="uk-section uk-padding-remove">
    <div class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
      <img src="{% static "img/tree.png" %}" class="uk-width-1-1 uk-width-1-2@m" />

      <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
        <h2>Plant trees</h2>
        <p>The more trees in the ground, the less CO<sub>2</sub> in the atmosphere – trees absorb tonnes of it! That's
          why planting trees is the most popular and traditionally effective method of offsetting carbon emissions.
        </p>
        <p>Which trees are the best eco-performers? How many of them do we need to offset carbon emissions? There are
          many factors and processes to consider – including tree species, timing, and amount of <span class="tooltip">CO<sub>2</sub> sequestration<span class="tooltip-content"><img src="img/tooltip_arrow.png" />The ability of plants to absorb CO<sub>2</sub> through photosynthesis. It depends on the age of a tree, its species,and other factors. However, mature, healthy trees absorb more CO<sub>2</sub> than they give off.</span></span> – but that's what scientists are for! Leave the nuances and statistical deep-dives to us –
          just tell us the carbon value you want to balance and we'll take care of the rest. TerGo’s blog and other
          available materials cover everything you need to know about our upcoming tree-planting campaigns.</p>
      </div>
    </div>
  </section>

  <section class="uk-section uk-padding-remove">
    <div class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
      <img src="{% static "img/leaf.png" %}" class="uk-width-1-1 uk-width-1-2@m" />

      <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
        <h2>Support eco-projects</h2>
        <p>You can support TerGo's eco-projects that focus on offsetting carbon emissions from the atmosphere. We
          currently run forest conservation programs in Guyana and support polyculture in Belize, with more to come in
          the future. Initiatives such as these not only improve water, soil, and air quality, but also have a huge
          impact on local communities where the projects take place.</p>
        <p>That’s what’s most beautiful about these projects. Find out what it's like to improve someone’s life!</p>
      </div>
    </div>
  </section>

  <section class="uk-section gray">
    <div class="uk-container uk-padding">
      <div class="uk-flex uk-flex-column uk-text-center uk-text-left@m">
        <h2>STEP 3: See your positive impact on the world</h2>
        <p>Your TERs change the world for the better. You help keep CO<sub>2</sub> out of the air while motivating
          others to follow suit, and you help support the conservation of forests and bring benefits to entire
          communities – not to mention bringing a sense of accomplishment, satisfaction, and hope.</p>
        <p>Don’t change who you are, just change what you do! Each small action brings us closer to a common goal.
          Share your successes with the TerGo community. Let's celebrate them together!</p>
      </div>
    </div>
  </section>
{% endblock %}
