{% extends "base-en.html" %}

{% load static %}

{% block title %}Tergo - Contact{% endblock title %}

{% block body_class %}page contact eng{% endblock body_class %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section pink">
    <div class="uk-container uk-padding form">
      <h2>Questions? Ideas?<br />Cooperation possibilities? Let us know!</h2>

      <form class="contact-form uk-margin-large-top uk-margin-large-bottom" id="contact-form">
        <fieldset class="uk-fieldset">
          <div class="form-wrapper uk-margin-medium-bottom">
            <div class="input-wrapper">
              <input class="uk-input pink" type="email" name="user_email" id="user_email" required email
                placeholder="Your e-mail address">
            </div>
          </div>

          <div class="form-wrapper uk-margin">
            <textarea class="uk-textarea uk-resize-vertical pink" rows="10" name="message_text" id="message_text"
              required placeholder="Type your message here"></textarea>
          </div>

          <button type="submit" class="uk-button uk-margin-medium-top">
            Send<img src="{% static 'img/arrow_white.svg' %}" />
          </button>
        </fieldset>
      </form>

      <h2>You can also send us a message:</h2>
      <div class="uk-flex uk-flex-left uk-flex-wrap">
        <div class="uk-width-1-1 uk-width-1-3@m">
          <p class="uk-margin-remove"><strong>Business:</strong></p>
          <p>business@tergo.io</p>
        </div>
        <div class="uk-width-1-1 uk-width-1-3@m">
          <p class="uk-margin-remove"><strong>Social media:</strong></p>
          <p>hello@tergo.io</p>
        </div>
      </div>
    </div>

    <div class="uk-container uk-text-center done uk-hidden">
      <h2 class="uk-margin-medium-top">Message sent successfully. Thank you!</h2>

      <img src="{% static 'img/form_send_done.png' %}" class="uk-display-block uk-align-center uk-margin-medium-top" />

      <a href="index-en.html" class="uk-button uk-margin-top">
        Return to homepage<img src="{% static 'img/arrow_white.svg' %}" />
      </a>
    </div>
    <div class="uk-container uk-text-center fail uk-hidden">
      <h2 class="uk-margin-medium-top">Oops. Something went wrong!</h2>

      <img src="{% static 'img/form_send_fail.png' %}" class="uk-display-block uk-align-center uk-margin-medium-top" />

      <a href="contact.html" class="uk-button centered uk-margin-top">
        Try again<img src="{% static 'img/arrow_white.svg' %}" />
      </a>
    </div>
  </section>
{% endblock %}