{% extends "base-en.html" %}

{% load static %}

{% block title %}Tergo - FAQ{% endblock %}

{% block body_class %}page faq eng{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section">
    <div class="uk-container uk-padding">
      <h2>Search</h2>

      <div class="input-wrapper">
        <div class="search-icon"><img src="{% static "img/search.svg" %}" /></div>
        <input class="uk-input" type="input">
        <div class="arrow-icon"><img src="{% static "img/arrow-icon.svg" %}" /></div>
      </div>
    </div>
  </section>

  <section class="uk-section">
    <div class="uk-container uk-padding">
      <h3>Using TerGo</h3>

      <ul uk-accordion class="uk-margin-medium-top">
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">Why was TerGo created?</span></a>
          <div class="uk-accordion-content">
            <p>The founders of TerGo understand that people care about our planet and want to do what they can to
              help. Sometimes the information or tools are not easily accessible. Realizing that being eco-friendly
              comes with a higher financial burden or takes more time out of the day, a solution was needed. This is
              how TerGo started. To empower people to take positive eco-friendly actions while working with companies
              to tackle climate change - one of the gravest dangers to humanity. Individual actions of a community
              with the support of TerGo partner companies to bring real impactful change.<br />Maybe we were wrong
              about climate change and we created a better world for nothing? Just imagine.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">What is a carbon balance?</a>
          <div class="uk-accordion-content">
            <p>Your carbon balance is the amount of CO<sub>2</sub> emissions you produce over a rolling 12 month
              period.<br />We wanted to make it easy to know your carbon balance and show different ways to lower it
              to zero.<br />Whether by gaining TER carbon credits through eco-friendly actions, offsetting those TER
              carbon credits against your carbon balance or buying carbon credits, we will show you the path to a
              zero-carbon balance. Sounds complicated and lots of work but don’t worry. TerGo makes it easy, fun and
              simple. Together we are ready to change the world, one TER at a time.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">How is my carbon balance calculated?</a>
          <div class="uk-accordion-content">
            <p>When you sign up with TerGo, your starting annual carbon balance is based on an individual’s average
              carbon footprint in your country.<br />Or by using our static web carbon calculator, we will calculate a
              more accurate number of your annual carbon balance instead of your countries average.<br />Then by using
              TerGo on your mobile, we will calculate how your carbon balance changes based on your daily
              actions.<br />Using both TerGo’s mobile app and static web calculator, TerGo will calculate and help
              lower your annual carbon balance to 'net zero'. The ultimate achievement of a TerGo user.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">How can I lower my carbon balance?</a>
          <div class="uk-accordion-content">
            <p>Use Tergo’s app everyday. Our suggestions and tips will help you lower your carbon balance to zero.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">What are TER carbon credits?</a>
          <div class="uk-accordion-content">
            <p>TER (True Emissions Reduction) carbon credits are carbon credits created based on human behavior
              actions. When you act to emit a lower CO<sub>2</sub> footprint measured against a standard baseline
              action, TER carbon credits are created.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Are TER carbon credits like other carbon credits?</a>
          <div class="uk-accordion-content">
            <p>Yes, like all carbon credits, TER credits are actions that have reduced, avoided or destroyed
              CO<sub>2</sub> emissions. Once one metric tonne of CO<sub>2</sub>e is calculated, one carbon credit is
              created.<br />A TER carbon credit is the difference in CO<sub>2</sub> emissions from a lower
              CO<sub>2</sub>e emitting actions versus a standard baseline assigned in a particular country.<br />TERs
              are carbon credits that companies or individuals can earn or buy to retire and offset their carbon
              balance.<br />1 TER carbon credit = 1 reduced kilogram of CO<sub>2</sub> derived from better
              environmental choices.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">How are TER carbon credits calculated?</a>
          <div class="uk-accordion-content">
            <p>TER carbon credits are calculated using our proprietary algorithms and equations, which are accredited
              and audited by industry experts and academics.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">How do I earn TER carbon credits?</a>
          <div class="uk-accordion-content">
            <p>First download TerGo on your mobile device.<br />Start earning TER carbon credits by making
              eco-friendly choices in your everyday actions.<br />From modes of transportation to lifestyle choices
              inside and outside of the home - the list is endless.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">How does the TerGo live CO<sub>2</sub> emission calculator work?</a>
          <div class="uk-accordion-content">
            <p>Once you download TerGo app on your mobile, we will show you how easy it can be to lower your
              CO<sub>2</sub> emissions by changing your daily activities. TerGo will monitor, analysis and calculate
              your CO<sub>2</sub> emissions in real time.<br />By lowering your CO<sub>2</sub> emissions, TerGo’s
              calculator will convert those eco-friendly actions into TER carbon credits.<br />We offer tips and
              notification to educate, inform and help you lower your carbon balance. Together we can make an
              impactful difference.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">What does 'carbon trade' mean?</a>
          <div class="uk-accordion-content">
            <p>TerGo 'Carbon trade' platform is an easy way for you to buy, sell, donate or retire TER carbon
              credits.<br />With every TER you create, you can use that to offset your CO<sub>2</sub> emissions and
              lower your carbon balance or sell your TER to a company that needs to offset their CO<sub>2</sub>
              emissions.<br />Sell TER’s: sell your TER’s to companies or individuals who want to offset their
              CO<sub>2</sub> emissions.<br />Buy TER’s: buy TER’s from individuals whose eco-friendly actions you want
              to support and want to use to offset and lower your carbon balance.<br />Donate TER’s: donate your TER’s
              to individuals or green projects you want to support.<br />Retire TER’s: retire your TER’s thereby
              offsetting your carbon footprint and lowering your carbon balance.<br />Sounds complicated but believe
              us once you use our carbon trading platform you’ll find it easy and simple to use.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">What is the value of a TER carbon credit?</a>
          <div class="uk-accordion-content">
            <p>1 TER = 1 kg of CO<sub>2</sub>e</p>
            <p>1000 TERs = 1 tonne CO<sub>2</sub>e = 1 carbon credit</p>
            <p>The monetary value of a carbon credit is quoted daily on our trading platform and is linked to the
              value of a carbon credit on the European Union Emissions Trading System (EU ETS).</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">How can I view my TER carbon credit trading transactions?</a>
          <div class="uk-accordion-content">
            <p>All your TER carbon credit transactions can be viewed in the account history section of your profile
              page.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Who will buy my TER credit?</a>
          <div class="uk-accordion-content">
            <p>Businesses and companies that are committed to lowering and offsetting their CO<sub>2</sub> emissions.
              Individuals can also buy your TER carbon credits that want to support positive eco-friendly initiatives
              or offset their own carbon balance.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">What does retiring your TER carbon credits mean?</a>
          <div class="uk-accordion-content">
            <p>Retiring a TER carbon credit means that when it is removed from circulation when it’s purchased or
              offset, - never to be used again. The individual or company who purchased the TER carbon credit can
              claim they have removed the equivalent amount of CO<sub>2</sub> from the atmosphere for good.<br />Each
              TER carbon credit, that is retired, is registered and has its own serial number. This prevents any
              double-counting or re-using the TER carbon credit.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">What does donating your TER carbon credits mean?</a>
          <div class="uk-accordion-content">
            <p>You can donate your TER carbon credits to individuals you want to support for their eco-friendly
              actions or towards one TerGo partner green projects. Your contributions help fund projects that help
              reduce CO<sub>2</sub> - and in some cases, help restore the environment and biodiversity.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">How can I track my donations?</a>
          <div class="uk-accordion-content">
            <p>After donating your TER carbon credits to a green project, you will get frequent email updates on the
              project and new developments.<br />Your donation will also be shown on our blockchain and in your
              profile history section.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">How can I trade my TER carbon credits?</a>
          <div class="uk-accordion-content">
            <p>On TerGo’s carbon trade platform you can buy, sell, donate, retire, or offset TER carbon credits.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">What is the EU Emissions Trading System and what role does it play on
            TerGo’s trading platform?</a>
          <div class="uk-accordion-content">
            <p>The EU emissions trading system (EU ETS) is a cornerstone of the EU's policy to combat climate change
              and is a vital tool for cost-effectively reducing greenhouse gas emissions. It was the world's first
              major carbon market and remains the largest one.<br />The value of a TER carbon credit at the time of a
              transaction is based on the end of day’ carbon credit price on the EU ETS.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">How do I receive the money when selling my TER carbon credits?</a>
          <div class="uk-accordion-content">
            <p>The funds from your TER credits will be automatically transferred to your bank account. This can take up to 24hrs to be seen in your bank account balance.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">How are TER carbon credits verified?</a>
          <div class="uk-accordion-content">
            <p>TER carbon credits are verified through our proprietary equations and algorithms created by industry
              experts and academics.<br />A 3<sup>rd</sup> party company performs an audit of all TER carbon credits
              transactions from creation to retirement to ensure full transparency.<br />In addition, we use
              blockchain to record all TER carbon credit transactions.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">I decided to offset my remaining carbon balance. What happens once I
            subscribe to a green project?</a>
          <div class="uk-accordion-content">
            <p>You are now buying carbon credits to offset your annual carbon balance. The funds will go toward the
              green project you chose.<br />You will also receive a notification when new projects become available
              and you can change your subscription amount and which projects you would like to support at any time.
            </p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">How are TerGo green projects different than other projects I hear
            about?</a>
          <div class="uk-accordion-content">
            <p>With TerGo green projects, we are not only supporting projects that reduce or eliminate CO<sub>2</sub>
              emissions from the atmosphere but also have a social and sustainability component. They benefit local
              people involved in the projects in direct correlation with how much they benefit the
              environment.<br />When we plant trees, we do it differently than traditional projects. We plant
              polyculture fruit bearing trees among high-CO<sub>2</sub> sequestering forest trees, which not only
              absorbs more CO<sub>2</sub> per acre but also provides fruit for the local farmers we partner with to
              supplant extra income. For our forest protection projects, we work with local communities to keep
              forests intact, leading to more CO<sub>2</sub> sequestration and support for Indigenous communities that
              we work alongside.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">How do I change my subscription?</a>
          <div class="uk-accordion-content">
            <p>Go to your account settings. You can unsubscribe at any time, change the amount of your monthly
              contribution, and which projects you support.<br />You can also message a member of the TerGo team via
              email or through the <a href="contact.html">Contact page<img src="{% static "img/link_arrow.svg" %}" /></a> to change
              your subscription.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Can I support multiple projects?</a>
          <div class="uk-accordion-content">
            <p>Yes! Support as many projects as you like and are comfortably able to contribute to.<br />Bring your
              annual carbon balance to 'net-zero' and go further to become carbon negative. I hear there’s a TerGo
              badge for that.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">What are TerGo badges and where can I find them?</a>
          <div class="uk-accordion-content">
            <p>TerGo badges are awarded when you perform various positive actions.<br />We don’t have a list of our
              badges on our site, but we make sure everyone knows once you receive one.<br />There are a total of 24
              badges to acquire. Good luck!</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">What’s TerGo’s end game?</a>
          <div class="uk-accordion-content">
            <p>We see everyone around us being aware of their carbon balance and working together to reduce it.
              Supporting each other and supporting TerGo partners.<br />Changing the world together, one carbon footprint at a time.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="uk-section uk-margin-xlarge-top">
    <div class="uk-container">
      <h3>Companies</h3>

      <ul uk-accordion class="uk-margin-medium-top">
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">How does purchasing TER carbon credits benefit corporation?</a>
          <div class="uk-accordion-content">
            <p>Moving toward becoming a carbon-neutral company is a challenging and sometimes lengthy process. That is
              why companies choose to offset the CO<sub>2</sub> emissions they cannot eliminate from their business at
              the moment.<br />By purchasing TER carbon credits, a company not only support users in their
              eco-friendly actions but reduce their carbon emissions by offsetting TER carbon credits.<br />This shows
              that the company truly cares about the environment while developing a more meaningful connection with
              customers - strengthening the value relationship between companies and individuals.<br />It's good for
              the environment and good for business. We call this true sustainability.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">What is TerGo 'carbon neutral' product accreditation program?</a>
          <div class="uk-accordion-content">
            <p>TerGo will calculate the CO<sub>2</sub> emissions for the life cycle of a particular product or
              service.<br />The company purchases and retires the number of TER carbon credits required to offset that
              products' carbon footprint for the year.<br />The product is now carbon neutral reaching zero net carbon
              emissions and now can be accredited as 'carbon neutral'.<br />Contact us to learn more.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="uk-section uk-margin-xlarge-top uk-margin-large-bottom">
    <div class="uk-container">
      <h3>A brief history of how we got here</h3>

      <ul uk-accordion class="uk-margin-medium-top">
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">What is a carbon credit?</a>
          <div class="uk-accordion-content">
            <p>Carbon credits are generated from projects around the world that pull Greenhouse Gases (GHGs)-often
              called carbon emissions - out of the atmosphere or kept out altogether. When a project has reduced,
              avoided or destroyed one metric tonne of GHGs, one carbon credit is created. In simple terms, a project
              needs to eliminate a metric tonne of greenhouse gas emissions to make a carbon credit.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">What is a carbon footprint?</a>
          <div class="uk-accordion-content">
            <p>A carbon footprint is the total amount of carbon dioxide (CO<sub>2</sub>) generated by our actions.
              This can be calculated for individuals, households, companies, communities, or even countries.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">What does it mean to offset my footprint?</a>
          <div class="uk-accordion-content">
            <p>Offsetting your footprint is a way to bring your carbon balance to zero. When you purchase carbon
              offsets, you are funding the reduction, elimination, or total avoidance of one ton of carbon. To lower
              your carbon balance to zero you can create TER carbon credits which can be offset and/or buy as many
              additional carbon credits as necessary; balancing your emissions with an equal amount of emissions
              reduction.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">What are offset credits?</a>
          <div class="uk-accordion-content">
            <p>Offset credits are TER carbon credits that are destined to be retired. They essentially take the
              CO<sub>2</sub> equivalent amount and remove it from the atmosphere for good.<br />Companies or
              individuals who want to lower their carbon balance will use (offset) their TER carbon credit. This way,
              they can become ‘carbon neutral’ with a zero-carbon balance.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}