{% extends "base.html" %}

{% load static %}

{% block title %}Tergo - Ile jabłek potrzeba, by podgrzać atmosferę?{% endblock %}

{% block body_class %}article{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section top uk-padding-remove-vertical uk-margin-large-bottom">
    <div class="uk-container uk-padding">
      <h1>Ile jabłek potrzeba, by podgrzać atmosferę?</h1>
      <p class="uk-margin-top">Wyobraź sobie, że wyglądasz przez okno. Kilkadziesiąt razy dziennie. Co jakiś czas
        wyrzucasz na podwórko… jabłko</p>
      <p class="read-time">4 min czytania</p>

      <a href="#my-id" uk-scroll>
        <img class="scroll-down" src="{% static "img/scroll_down_button.svg" %}" />
      </a>
    </div>
    <div class="bg" style="background-image: url('{% static "img/apples.png" %}" %}')"></div>
  </section>

  <section class="uk-section uk-padding uk-padding-remove-horizontal" id="my-id">
    <div class="uk-container uk-flex uk-flex-left uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-3@m details">
        <div class="categories">
          <div class="uk-flex uk-flex-left uk-flex-right@m uk-flex-middle uk-flex-middle uk-flex-wrap">
            <h4 class="uk-width-auto uk-width-1-1@m">Kategorie:</h4>
            <a href="" class="uk-button uk-width-auto uk-margin-small-left">#science&nature</a>
          </div>
        </div>

        <div class="author uk-flex uk-flex-left uk-flex-right@m uk-flex-wrap">
          <h4 class="uk-width-auto uk-width-1-1@m">Autor:</h4>
          <h4>Ksenia Pisera</h4>
          <p class="uk-width-1-1">dziennikarka, popularyzatorka wiedzy o ochronie środowiska i klimatu.</p>
        </div>

        <div class="quote">
          <img src="{% static "img/quote-top.png" %}" />
          <h4>Realnie każdy z nas jest w stanie obniżyć własne emisje o 1/3 tylko podejmując codzienne aktywności.
            Serio!</h4>
          <img src="{% static "img/quote-bottom.png" %}" />
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-2-3@m">
        <p class="uk-text-large">Wyobraź sobie, że wyglądasz przez okno. Kilkadziesiąt razy dziennie. Co jakiś czas
          wyrzucasz na podwórko… jabłko. Nawet 24 kilogramy jabłek każdego dnia. Te lecą w powietrze tak długo, aż
          tracisz je z oczu. Śmieszna wizja, ale czy wiesz, że w rzeczywistości zachodzi podobny proces? Zamieńmy
          tylko jabłka na dwutlenek węgla, a szybko będzie jasne, czym jest ślad węglowy i dlaczego warto bilansować
          jego poziom.</p>

        <p>Obecność dwutlenku węgla w atmosferze jest naturalna (tak jak jabłka rosnące na drzewie). To gaz, który
          pochodzi m.in. z rozkładu roślin oraz aktywności oceanów i wulkanów. Człowiek przez stulecia funkcjonował w
          zgodzie z cyklem węglowym. Jednak z nastaniem rewolucji przemysłowej sprawy znacznie przyspieszyły.</p>

        <p>Dziś możemy pojechać samochodem, gdzie tylko chcemy. W spożywczym dostaniemy pomidory, które przyjechały do
          nas z sąsiedniego kraju. Wyciągamy z kontaktu ładowarkę po naładowaniu telefonu, a na zakupy bierzemy własną
          torbę. I właśnie takie codziennie wybory – transport, zakupy, ładowanie telefonu i wiele innych – to nasze
          wyglądanie przez okno. Ile jabłek wyrzucimy, zależy od tego, co wybierzemy. Tak jak suma emisji CO2 zależy
          od tego m.in., ile energii z paliw kopalnych będzie potrzebne do zrealizowania naszego wyboru.</p>

        <p>Ten nasz worek jabłek, suma emisji CO2, to właśnie nasz ślad węglowy. Codziennie jest coraz większy. Dla
          przykładu: gazy ze spalonej tony węgla rozprowadzą się po atmosferze w ciągu kilkunastu dni i zostaną tam
          nawet 100 lat. Poziom gazów cieplarnianych wpływa z kolei na wymuszenie radiacyjne, czyli wartość bilansu
          promieniowania w atmosferze. Im jest większe, tym mocniej ogrzewa się klimat. A już jest cieplej - z badań
          wynika m.in. że w ciągu ostatnich 60 lat termiczna zima w Polsce skróciła się o ponad 30 dni, a lato
          wydłużyło o blisko dwa tygodnie. Dla roślin i zwierząt to ogromna różnica.</p>

        <div class="quote uk-padding uk-margin-medium-top uk-margin-medium-bottom uk-flex uk-flex-column uk-hidden@m">
          <div>
            <img src="{% static "img/quote-top.png" %}" class="uk-align-left uk-margin-remove-bottom" />
          </div>

          <h4 class="uk-margin-top uk-margin-bottom uk-text-center uk-text-uppercase">Zastanówmy się, jak w czasie
            wakacji możemy ograniczyć nasz wpływ na środowisko. Dzięki temu nasza podróż będzie jeszcze lepszym
            doświadczeniem.”</h4>

          <div>
            <img src="{% static "img/quote-bottom.png" %}" class="uk-align-right uk-margin-remove-bottom" />
          </div>
        </div>

        <p>Od naszych decyzji zależy, ile dwutlenku węgla będzie trafiać do atmosfery i czy będzie coraz cieplej. <a
            href="https://edgar.jrc.ec.europa.eu/" target="_blank">Z danych Komisji Europejskiej<img
              src="{% static "img/link_arrow.svg" %}" /></a> wynika, że osoba zamieszkująca Polskę przeciętnie emituje 24 kg
          dwutlenku węgla dziennie. Dane są oczywiście różne dla każdego zakątka świata. Dla porównania: Kuwejtczyk
          wyemituje 84 kg CO2 do atmosfery dziennie, Norweg 23 kg, a Francuz 15 kg. Antropogeniczne emisje – te
          spowodowane działalnością człowieka – rocznie wynoszą już około 36 miliardów ton CO2. Wyobrażasz sobie tyle
          jabłek?!</p>

        <p>Realnie każdy z nas jest w stanie obniżyć własne emisje o 1/3 tylko podejmując codzienne aktywności. Serio!
          Zakręcanie wody podczas mycia zębów pozwoli zaoszczędzić aż 3 kg emisji CO2 rocznie. Wybór roweru, nawet na
          krótkich dystansach, to nawet 250 kg CO2 rocznie mniej! </p>

        <p>Zróbmy z tego efekt skali. Jeśli każdy z nas zacznie bilansować swoje emisje, możemy łatwo zaoszczędzić
          milionów ton CO2. Jeśli postaramy się mocniej, oszczędzimy wytworzenia miliardów ton emisji CO2. Każdy z nas
          może w tej chwili zacząć zmieniać świat na lepsze. Bądź częścią tego ruchu z TerGo.</p>
      </div>
    </div>
  </section>

  <section class="uk-section tags">
    <div class="uk-container uk-flex uk-flex-left uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-3@m">
        <div class="tags">
          <h4>Tags:</h4>
          <div class="uk-flex uk-flex-left uk-flex-right@m uk-flex-wrap">
            <a href="" class="uk-button uk-width-auto uk-margin-small-bottom">#carbonfootprint</a>
            <a href="" class="uk-button uk-width-auto uk-margin-small-bottom">#science&nature</a>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-2-3@m"></div>
    </div>
  </section>
{% endblock %}