{% extends "base.html" %}

{% load static %}

{% block title %}Tergo - Kolej na... ograniczenia CO2{% endblock %}

{% block body_class %}article{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section top">
    <div class="uk-container uk-padding">
      <h1>Kolej na… ograniczanie CO<sub>2</sub>!</h1>
      <p class="uk-margin-top">Okulary przeciwsłoneczne są? Wygodne buty przygotowane? Jeszcze tylko bilet i można
        ruszać.</p>
      <p class="read-time">4 min czytania</p>

      <a href="#my-id" uk-scroll>
        <img class="scroll-down" src="{% static "img/scroll_down_button.svg" %}" />
      </a>
    </div>
    <div class="bg" style="background-image: url('{% static "img/pociagi.jpeg" %}')"></div>
  </section>

  <section class="uk-section uk-padding uk-padding-remove-horizontal" id="my-id">
    <div class="uk-container uk-flex uk-flex-left uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-3@m details">
        <div class="categories">
          <div class="uk-flex uk-flex-left uk-flex-right@m uk-flex-middle uk-flex-middle uk-flex-wrap">
            <h4 class="uk-width-auto uk-width-1-1@m">Kategorie:</h4>
            <a href="" class="uk-button uk-width-auto uk-margin-small-left">#YourEcoLife</a>
          </div>
        </div>

        <div class="author uk-flex uk-flex-left uk-flex-right@m uk-flex-wrap">
          <h4 class="uk-width-auto uk-width-1-1@m">Autor:</h4>
          <h4>Ksenia Pisera</h4>
          <p class="uk-width-1-1">dziennikarka, popularyzatorka wiedzy o ochronie środowiska i klimatu.</p>
        </div>

        <div class="quote">
          <img src="{% static "img/quote-top.png" %}" />
          <h4>Zastanówmy się, jak w czasie wakacji możemy ograniczyć nasz wpływ na środowisko. Dzięki temu nasza
            podróż będzie jeszcze lepszym doświadczeniem.</h4>
          <img src="{% static "img/quote-bottom.png" %}" />
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-2-3@m">
        <p class="uk-text-large">Okulary przeciwsłoneczne są? Wygodne buty przygotowane? Jeszcze tylko bilet i można
          ruszać. Niezależnie od tego, czy obierasz kierunek góry, czy morze – także na wakacjach możesz wskoczyć na
          eko tory. Jedź pociągiem! Kolej to jeden z najbardziej przyjaznych środowisku sposobów podróżowania na
          dłuższych dystansach. Także bardzo przyjemny!</p>

        <p>Odkrywanie nowych miejsc, nawiązywanie znajomości i kolekcjonowanie wspomnień to tylko kilka powodów, dla
          których warto podróżować. Ale każdy taki wyjazd to również droga, którą będziemy przemierzać. Dlatego już na
          etapie planowania wycieczki zastanówmy się, jak w czasie wakacji możemy ograniczyć nasz wpływ na środowisko.
          Dzięki temu nasza podróż będzie jeszcze lepszym doświadczeniem - zostawimy za sobą tylko ślad stóp, a nie
          ślad węglowy.</p>

        <p>Według danych Parlamentu Europejskiego wynika, że prawie 30% globalnej emisji gazów cieplarnianych do
          atmosfery pochodzi właśnie z transportu. Wakacyjne wyjazdy to tylko część z tej puli, ale warto pomyśleć o
          tym, jak obniżać nasze emisje. Różnica może być znacząca dla środowiska. Polacy, wybierając pociąg, tylko w
          2020 roku przyczynili się do zaoszczędzenia emisji ponad 330 tysięcy ton CO2 do atmosfery!</p>

        <p>Oszczędność tę widać podczas porównania ilości emisji gazów cieplarnianych na pasażerokilometr. Szacuje
          się, że podróż pociągiem jednej osoby przyczyni się do emisji około 30-40 gramów CO2 na km. W przypadku
          małego samochodu będzie to około 120 gramów CO2, więc w naszym aucie musiałoby być co najmniej czworo
          pasażerów, by ta forma transportu mogła konkurować z pociągiem. Jeszcze lepiej kolej wypada na tle samolotu.
          Podczas podróży lotniczej emisja gazów cieplarnianych wynosi około 285 gramów na pasażerokilometr. Na
          długich dystansach liczby te mogą się nieźle zsumować.</p>

        <div class="quote uk-padding uk-margin-medium-top uk-margin-medium-bottom uk-flex uk-flex-column uk-hidden@m">
          <div>
            <img src="{% static "img/quote-top.png" %}" class="uk-align-left uk-margin-remove-bottom" />
          </div>

          <h4 class="uk-margin-top uk-margin-bottom uk-text-center uk-text-uppercase">Zastanówmy się, jak w czasie
            wakacji możemy ograniczyć nasz wpływ na środowisko. Dzięki temu nasza podróż będzie jeszcze lepszym
            doświadczeniem.</h4>

          <div>
            <img src="{% static "img/quote-bottom.png" %}" class="uk-align-right uk-margin-remove-bottom" />
          </div>
        </div>

        <p>Przypuśćmy więc, dla zobrazowania, że wybieramy z Gdyni do Zakopanego na wczasy. Przed nami 720 kilometrów.
          Jazda pociągiem - w najprostszych wyliczeniach - przyczni się do emisji około 25,2 kg CO2 w jedną stronę na
          osobę. Samochodem będzie to około 86,4 kg, a lot samolotem to już około 205,2 kilogramów dwutlenku węgla.
        </p>

        <p>Samolot i samochód mogą być bardziej atrakcyjne dla podróżników, którzy chcą przemieszczać się szybko.
          Pamiętajmy jednak, że w pierwszym przypadku powinniśmy jeszcze wziąć pod uwagę odprawę oraz konieczność
          wcześniejszego dotarcie na lotnisko - to też wymaga czasu. Co więcej, lotniska są z reguły zlokalizowane na
          obrzeżach miast, a dworce kolejowe są w samych centrach! Czas podróży samochodem jest natomiast bardzo
          zależny od sytuacji na drogach – każde utrudnienie czy korek będzie nas spowalniać. I będzie powodowało
          jeszcze więcej emisji CO2 do atmosfery!</p>

        <p>Podróż pociągiem ma swoje zalety. Jest dziś po prostu wygodna i bardziej relaksująca niż kilka godzin za
          kierownicą lub w fotelu samolotu. Może być także atrakcją samą w sobie. Malownicze widoki można podziwiać z
          okna na wielu polskich trasach kolejowych, wciąż przemieszczając się całkiem szybko. Świetnym przykładem
          będzie m.in. ta przez Półwysep Helski z widokiem na Bałtyk lub górska „kryniczanka” z Tarnowa do
          Krynicy-Zdroju!</p>

        <p>Jesteście już gotowi na ekologiczną podróż? W drogę!</p>
      </div>
    </div>
  </section>

  <section class="uk-section tags">
    <div class="uk-container uk-flex uk-flex-left uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-3@m">
        <div class="tags">
          <h4>Tags:</h4>
          <div class="uk-flex uk-flex-left uk-flex-right@m uk-flex-wrap">
            <a href="" class="uk-button uk-width-auto uk-margin-small-bottom">#CO2</a>
            <a href="" class="uk-button uk-width-auto uk-margin-small-bottom">#transport</a>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-2-3@m"></div>
    </div>
  </section>
{% endblock %}