{% extends "base-en.html" %}

{% load static %}

{% block title %}Tergo - Let’s clean the clouds!{% endblock %}

{% block body_class %}article eng{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section top">
    <div class="uk-container uk-padding">
      <h1>Let’s clean the clouds!</h1>
      <p class="uk-margin-top">There is one type of cloud that remains undetectable even for the most experienced
        meteorologists: a data cloud.</p>
      <p class="read-time">5 min read</p>

      <a href="#my-id" uk-scroll>
        <img class="scroll-down" src="{% static "img/scroll_down_button.svg" %}" />
      </a>
    </div>
    <div class="bg" style="background-image: url('{% static "img/chmury.jpeg" %}')"></div>
  </section>

  <section class="uk-section uk-padding uk-padding-remove-horizontal" id="my-id">
    <div class="uk-container uk-flex uk-flex-left uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-3@m details">
        <div class="categories">
          <div class="uk-flex uk-flex-left uk-flex-right@m uk-flex-middle uk-flex-middle uk-flex-wrap">
            <h4 class="uk-width-auto uk-width-1-1@m">Categories:</h4>
            <a href="" class="uk-button uk-width-auto uk-margin-small-left">#science&nature</a>
          </div>
        </div>

        <div class="author uk-flex uk-flex-left uk-flex-right@m uk-flex-wrap">
          <h4 class="uk-width-auto uk-width-1-1@m">Author:</h4>
          <h4>Ksenia Pisera</h4>
          <p class="uk-width-1-1">Journalist, popularizer of knowledge about environmental and climate protection</p>
        </div>

        <div class="quote">
          <img src="{% static "img/quote-top.png" %}" />
          <h4>Although it likely seems that a few clicks on the Internet won't change much, big changes can begin with
            these small steps.</h4>
          <img src="{% static "img/quote-bottom.png" %}" />
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-2-3@m">
        <p class="uk-text-large">There is one type of cloud that remains undetectable even for the most experienced
          meteorologists: a data cloud. This is the virtual space where we upload all our holiday photos, archive
          messages, and save videos to watch them later, among other things. But did you know that by uploading data
          to the cloud there is something else we are sending there besides bits of information? Learn more about the
          digital carbon footprint below.</p>

        <p>The internet and countless digital services have become part of our lives. The answer to any question can
          be found within seconds, we attend concerts without leaving our homes, and we can chat with friends from
          antipodal points at any time. Great scientific discoveries, cultural breakthroughs, and million-dollar
          transactions also happen online - and many of them have happened directly because of the internet. While all
          this data and information seem to hover in the air – almost like clouds – it is all actually quite tangible.
        </p>

        <p>Every search engine query, every email sent, every online video watched generates CO2 emissions, in the
          same real-life way as driving a car or having a charcoal barbecue. But unlike these more personal, point
          source emissions, there is a question of who is accountable for the carbon footprint of digital services.
          Data centers with massive infrastructure surely must take some responsibility, but there are also emissions
          that we produce locally, such as those associated with using electricity (at least in areas that do not
          utilize renewable electricity sources). It is estimated that Internet activity alone is responsible for 830
          billion tonnes of CO2 emitted each year. That is about 2% of all global emissions, roughly the same as the
          entire airline industry.</p>

        <p>This is the digital carbon footprint.</p>

        <div class="quote uk-padding uk-margin-medium-top uk-margin-medium-bottom uk-flex uk-flex-column uk-hidden@m">
          <div>
            <img src="{% static "img/quote-top.png" %}" class="uk-align-left uk-margin-remove-bottom" />
          </div>

          <h4 class="uk-margin-top uk-margin-bottom uk-text-center uk-text-uppercase">Although it likely seems that a
            few clicks on the Internet won't change much, big changes can begin with these small steps.</h4>

          <div>
            <img src="{% static "img/quote-bottom.png" %}" class="uk-align-right uk-margin-remove-bottom" />
          </div>
        </div>

        <p>It might not seem tangible, but there are some ways of looking at it that can help make it seem more real.
          For example, searching for two keywords using a search engine will cause around seven grams of CO2
          emissions, which is roughly the equivalent of boiling water for tea (depending on your source of energy).
          One email sent without an attachment creates about four grams of carbon dioxide emissions, and a message
          with an attachment creates about 50. By comparison, a small car emits about 130 grams of CO2 per kilometer.
          A report by <a href="https://theshiftproject.org/wp-content/uploads/2019/07/2019-02.pdf" target="_blank">The
            Shift Project<img src="{% static "img/link_arrow.svg" %}" /></a> shows that global video streaming sends as much CO2 to
          the atmosphere each year as the entire country of Spain!</p>

        <p>Do you feel conflicted now about sending an email to your aunt with photos from your trip? Don’t worry - we
          have good news, too. By making our digital carbon footprint measurable, we can use the internet more
          consciously and reduce unnecessary emissions! Here are some ideas on how to surf more eco-friendly:</p>

        <ul>
          <li>
            <p><strong>Clean up your inbox</strong></p>
            <p>Do you really read every advertisement that comes into your inbox? By switching off and unsubscribing
              to unnecessary newsletters, you'll cut down on unnecessary emails - and the resulting CO2 emissions.
              There is also a good chance that you won’t need emails from years ago either. It's worth going through
              and deleting them so they don't take up server space and increase data consumption.</p>
          </li>
          <li>
            <p><strong>Save emails</strong></p>
            <p>You can remove the correspondence history from the body of an email before sending it. Send attachments
              using services that will remove them from the web for good after a few days, rather than storing them
              indefinitely. Also, consider limiting short, polite emails, such as "thank you" or "noted."</p>
          </li>
          <li>
            <p><strong>Use disappearing messages</strong></p>
            <p>Popular instant messengers already offer this feature for different reasons - but this is also another
              way to save some internet data.</p>
          </li>
          <li>
            <p><strong>Listen more</strong></p>
            <p>Online movie streaming is one of the biggest contributors to the digital carbon footprint. Less carbon
              dioxide will be emitted if you choose an audiobook.</p>
          </li>
        </ul>

        <p>Although it likely seems that a few clicks on the Internet won't change much, big changes can begin with
          these small steps. After just one day of eco-attentive surfing, you can reduce several hundred grams of CO2.
          Multiply that by 30 and within a month you can reduce several kilograms of greenhouse gas emissions without
          much effort.</p>

        <p>Now that’s news worth sharing with all your friends.</p>
      </div>
    </div>
  </section>

  <section class="uk-section tags">
    <div class="uk-container uk-flex uk-flex-left uk-flex-wrap">
      <div class="uk-width-1-1 uk-width-1-3@m">
        <div class="tags">
          <h4>Tags:</h4>
          <div class="uk-flex uk-flex-left uk-flex-right@m uk-flex-wrap">
            <a href="" class="uk-button uk-width-auto uk-margin-small-bottom">#carbonfootprint</a>
            <a href="" class="uk-button uk-width-auto uk-margin-small-bottom">#science&nature</a>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-2-3@m"></div>
    </div>
  </section>
{% endblock %}
