{% extends "base.html" %}

{% load static %}

{% block title %}Tergo - Polityka prywatności i plików cookies{% endblock %}

{% block body_class %}page privacy{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section uk-container uk-padding top">
    <h1 class="uk-margin-large-bottom">Polityka prywatności i plików cookies</h1>
    <p class="uk-margin-large-bottom">
      Niniejsza polityka prywatności została przyjęta w związku z wejściem w życie rozporządzenia Parlamentu
      Europejskiego i Rady (UE) nr 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z
      przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE
      (Dziennik Urzędowy Unii Europejskiej nr L 119/1 z 4.5.2016; dalej: RODO). Celem polityki jest w szczególności
      wykonanie obowiązku informacyjnego, o którym mowa w art. 13 i 14 RODO.<br />

      <h5>1. Definicje</h5>
      W treści niniejszej polityki posługujemy się poniższymi zwrotami:<br />

      <ul>
        <li>My, TERRA Sp. z o.o., administrator – TERRA Spółka z ograniczoną odpowiedzialnością przy ul. z siedzibą w
          Gdyni (81-451) przy ul. Alei Zwycięstwa 96/98 E422 wpisana przez Sąd Rejonowy Gdańsk-Północ w Gdańsku
          Wydział VIII Gospodarczy KRS do rejestru przedsiębiorców KRS pod nr 0000857732, wysokość kapitału
          zakładowego 500.000,00zł.</li>
        <li>Ty, Pan, Pani, Państwo – osoby, których dane osobowe są przetwarzane przez TERRA Sp. z o.o.</li>
      </ul>

      <h5>2. Kim jest administrator danych?</h5>
      Administrator danych to osoba ustalająca cele i sposoby przetwarzania danych osobowych. Administratorem Państwa
      danych osobowych jest TERRA Sp. z o.o. z siedzibą w Gdyni.<br />

      <h5>3. Jakie dane osobowe przetwarzamy?</h5>
      W związku z prowadzoną działalnością w zakresie przesyłania do Państwa mailingu przetwarzamy w szczególności
      dane osobowe osób z którymi prowadzimy korespondencje mailową. Zakres przetwarzanych danych każdorazowo jest
      adekwatny do celów przetwarzania.<br />

      <h5>4. W jakich celach przetwarzamy dane?</h5>
      Państwa dane osobowe, które przetwarzamy w związku z mailingiem są przetwarzane w celu realizacji naszego
      prawnie uzasadnionego interesu (art. 6 ust. 1 lit. f RODO) – polegającego na:<br />

      <ul>
        <li>prowadzeniu marketingu bezpośredniego naszych towarów lub usług</li>
        <li>tworzeniu zestawień, analiz i statystyk – co obejmuje zwłaszcza badania marketingowe, analizy danych
          handlowych, planowanie rozwoju usług itd.</li>
        <li>prowadzeniu korespondencji za pomocą wszelkich znanych technologii, w tym: poczty tradycyjnej, poczty
          elektronicznej (email) lub innych metod komunikacji (np. komunikatorów internetowych itd.).</li>
        <li>nawiązywaniu kontaktu telefonicznego.</li>
        <li>inicjowaniu i podtrzymywaniu kontaktów biznesowych.</li>
      </ul>

      Dane przetwarzane będą przez czas utrzymywania się interesu w związku z którym są przetwarzane. W szczególności
      działania marketingowe prowadzone będą do czasu zgłoszenia przez Państwa stosownego sprzeciwu Po wniesieniu
      przez Państwa sprzeciwu nie będzie nam wolno przetwarzać Państwa danych osobowych, chyba że wykażemy istnienie
      ważnych prawnie uzasadnionych podstaw do przetwarzania, nadrzędnych wobec interesów, praw i wolności osoby,
      której dane dotyczą, lub podstaw do ustalenia, dochodzenia lub obrony roszczeń.<br />

      <h5>5. Czy podanie danych osobowych jest obowiązkowe?</h5>
      Nie macie Państwo obowiązku udostępniania nam swoich danych osobowych. Tym niemniej, odmowa może spowodować
      niemożliwość przesłania Państwu korespondencji.<br />

      <h5>6. Czy dane mogą być przetwarzane w procesach obejmujących zautomatyzowane podejmowanie decyzji, w tym
        profilowanie „kwalifikowane”?</h5>
      Obecnie nie stosujemy żadnych operacji, w ramach których dochodziłoby do zautomatyzowanego podejmowania decyzji
      wywołujących po stronie ich adresatów skutki prawne lub w podobny sposób istotnie na nich wpływających. W
      przypadku wdrożenia w przyszłości takich operacji związanych z przetwarzaniem danych osobowych – zapewnimy ich
      zgodność ze właściwymi przepisami, w tym art. 22 RODO.<br />

      <h5>7. Komu możemy udostępniać Państwa dane osobowe?</h5>
      Państwa dane osobowe mogą zostać udostępnione podmiotom trzecim wyłącznie w przypadku, gdy będziemy do tego
      zobowiązani lub uprawnieni na podstawie przepisów prawa. Odbiorami danych mogą być zwłaszcza:<br />

      <ul>
        <li>podmioty przetwarzające, w tym:</li>
        <li>osoby obsługujące naszą infrastrukturę lub systemy informatyczne, a także dokonujące utylizacji zbędnej
          dokumentacji lub nośników danych,</li>
        <li>osoby świadczące na naszą rzecz usługi audytorskie lub doradcze – np. w zakresie pomocy prawnej,
          podatkowej lub rachunkowej.</li>
      </ul>

      2) inni administratorzy, w tym:<br />

      <ul>
        <li>organy administracji publicznej uprawnione do żądania udostępnienia danych,</li>
        <li>spółki powiązane z nami,</li>
        <li>inne podmioty – w przypadkach, gdy charakter świadczeń realizowanych przezeń na naszą rzecz powoduje, że
          wskazane podmioty samodzielnie określają cele i sposoby przetwarzania danych osobowych i w związku z tym
          stają się administratorami danych osobowych. Może to dotyczyć zwłaszcza: agencji reklamowych, agencji
          uczestniczących w organizacji konkursów lub wydarzeń promocyjnych, a także podmiotów współpracujących z nami
          przy obsłudze spraw rachunkowych, podatkowych lub prawnych,</li>
      </ul>

      Nie ujawnimy Państwa danych osobowych osobom, które nie są uprawnione do ich przetwarzania.<br />

      <h5>Czy Państwa dane osobowe mogą być przekazywane poza Europejski Obszar Gospodarczy (EOG)?</h5>
      Obecnie nie przewidujemy przekazywania Państwa danych poza Europejski Obszar Gospodarczy. Nie wykluczamy jednak,
      że w przyszłości możemy uznać to za zasadne. W takim wypadku, Państwa dane będą zabezpieczone w sposób wymagany
      przez powszechnie obowiązujące przepisy, w szczególności poprzez zastosowanie tzw. standardowych klauzul
      umownych (SCC).<br />

      <h5>Jakie prawa przysługują Państwu w związku z przetwarzaniem danych?</h5>
      Możecie Państwo wystąpić do nas w szczególności z wnioskiem o:<br />

      <ul>
        <li>dostęp do przetwarzanych przez nas danych (w tym: informację o przetwarzaniu przez nas danych lub
          przekazanie kopii danych),</li>
        <li>sprostowanie (poprawienie) danych,</li>
        <li>ograniczenie przetwarzania (wstrzymanie operacji na danych lub nieusuwanie danych),</li>
        <li>usunięcie danych (“prawo do bycia zapomnianym”),</li>
        <li>przeniesienie danych do innego administratora.</li>
      </ul>

      Powyższe wnioski mogą być wysyłane w szczególności w sposób określony w pkt. 13 poniżej – i będą rozpatrywane
      zgodnie z właściwymi przepisami, w tym art. 15-20 RODO.<br />

      <h5>10. Prawo sprzeciwu</h5>
      Niezależnie od powyższego, jesteście Państwo uprawnieni do wniesienia sprzeciwu względem przetwarzania danych,
      które realizowane jest w oparciu o nasz prawnie uzasadniony interes. W takim wypadku:<br />

      <ul>
        <li>jeżeli dane osobowe są przetwarzane na cele marketingu – niezwłocznie zaprzestaniemy takiego
          przetwarzania.</li>
        <li>jeżeli podstawą przetwarzania danych jest interes innego rodzaju – zaprzestaniemy takiego przetwarzania,
          chyba że wykażemy: a) że wspomniany interes jest nadrzędny wobec Państwa interesów, praw i wolności lub też
          b) istnienie podstawy do ustalenia, dochodzenia lub obrony roszczeń.</li>
      </ul>

      Prawo sprzeciwu może być realizowane w szczególności poprzez wysyłkę stosownego oświadczenia w sposób określony
      w pkt. 13 poniżej.<br />

      <h5>11. Skarga do organu nadzorczego</h5>
      W przypadku, gdy uznacie Państwo że przetwarzanie danych, które Państwa dotyczy, narusza obowiązujące przepisy -
      macie Państwo prawo wnieść skargę do organu nadzorczego, tj. Prezesa Urzędu Ochrony Danych Osobowych.<br />

      <h5>12. Miejsce publikacji oraz aktualizacje polityki prywatności</h5>
      Niniejsza polityka prywatności może od czasu do czasu podlegać zmianom. Aktualna wersja polityki będzie
      każdorazowo dostępna przez cały czas na naszej stronie internetowej pod adresem: www.tergo.io.<br />

      <h5>13. Jak można się z nami skontaktować?</h5>
      W razie jakichkolwiek pytań dotyczących sposobu wykorzystania przez nas Państwa danych osobowych, można się z
      nami skontaktować telefonicznie, pocztą elektroniczną lub listownie pod następującymi numerami i adresami:<br />
      Terra Sp. z o.o. z siedzibą w Gdyni (81-451) przy ul. Alei Zwycięstwa 96/98 E422<br />- z dopiskiem: „ochrona
      danych osobowych”
      <br />
      e-mail: admin@tergo.io<br />

      <h5>14. Polityka cookies</h5>

      Następującym pojęciom nadaje się poniższe znaczenie:<br />

      <ul>
        <li><strong>Cookies</strong> – oznacza dane informatyczne, w szczególności niewielkie pliki tekstowe,
          zapisywane I przechowywane na urządzeniach za pośrednictwem których Klient korzysta ze strony internetowej.
          Przykładowo służą one do przechowywania informacji takich jak Państwa preferencje dotyczące wyświetlania
          strony. W każdym przypadku możecie Państwo zablokować instalowanie plików cookies lub usunąć stałe pliki.
        </li>
        <li><strong>Cookies Własne</strong> – oznacza Cookies zamieszczane przez TERRA, związane ze świadczeniem usług
          drogą elektroniczną przez TERRA za pośrednictwem witryny www.tergo.io.</li>
        <li><strong>Cookies Zewnętrzne</strong> – oznacza Cookies zamieszczane przez osoby trzecie za pośrednictwem
          witryny www.tergo.io.</li>
        <li><strong>Polityka</strong> – niniejsza polityka plików Cookies</li>
        <li><strong>Urządzenie</strong> – oznacza elektroniczne urządzenie za pośrednictwem, którego Klient uzyskuje
          dostęp do witryny www.tergo.io.</li>
      </ul>

      <h5 class="uk-text-center">§1</h5>

      <ul>
        <li>TERRA za pomocą plików Cookies przechowuje na Urządzeniu Klienta informacje lub uzyskuje dostęp do
          informacji już przechowywanej – na zasadach określonych w niniejszej Polityce.</li>
        <li>TERRA wykorzystuje następujące typy plików Cookies:
          <ul>
            <li>Cookies sesyjne: są przechowywane na Urządzeniu Klienta i pozostają tam do momentu zakończenia sesji
              danej przeglądarki. Zapisane informacje są wówczas trwale usuwane z pamięci Urządzenia.</li>
            <li>Cookies trwałe: są przechowywane na Urządzeniu Klienta i pozostają tam do momentu ich skasowania.
              Zakończenie sesji danej przeglądarki lub wyłączenie Urządzenia nie powoduje ich usunięcia z Urządzenia.
            </li>
          </ul>
        </li>
        <li>Korzystanie przez TERRA z plików Cookies nie powoduje zmian konfiguracyjnych w Urządzeniu Klienta i
          oprogramowaniu zainstalowanym w tym Urządzeniu.</li>
      </ul>

      <h5 class="uk-text-center">§2</h5>

      <ul>
        <li>Klient ma możliwość ograniczenia lub wyłączenia dostępu plików Cookies do swojego Urządzenia w
          ustawieniach przeglądarki internetowej lub poprzez konfigurację usługi - w szczególności w taki sposób, aby
          blokować automatyczną obsługę plików Cookies bądź informować o każdorazowym zamieszczeniu Cookies na
          Urządzeniu Klienta. Szczegółowe informacje o możliwości i sposobach obsługi plików Cookies dostępne są w
          ustawieniach oprogramowania (przeglądarki internetowej).. Niezbędne w tym celu czynności można odnaleźć na
          witrynach producentów, np.:
          <ul>
            <li>Mozilla Firefox</li>
            <li>Google Chrome</li>
            <li>Microsoft Edge</li>
          </ul>
        </li>
        <li>Klient może w każdej chwili usunąć pliki Cookies.</li>
        <li>Ograniczenie stosowania plików Cookies, może wpłynąć na niektóre funkcjonalności dostępne na stronie
          internetowej.</li>
      </ul>

      <h5 class="uk-text-center">§3</h5>

      <ul>
        <li>W ramach Witryny mogą pojawiać się okresowo linki do innych stron internetowych. Takie strony internetowe
          działają niezależnie od Witryny i nie są w żaden sposób nadzorowane przez TERRA. Strony te mogą posiadać
          własne polityki dotyczące prywatności, z którymi zalecamy zapoznać się. TERRA nie ponosi odpowiedzialności
          za zasady postępowania z danymi w ramach tych stron. Pytania i zastrzeżenia dotyczące niniejszej Polityki
          cookies mogą być przez Państwa zadane pod adresem: admin@tergo.io</li>
        <li>TERRA współpracuje z podmiotami trzecimi, które mogą używać plików cookies lub podobnych technologii, aby
          zapewnić wyświetlanie reklam w oparciu o Państwa aktywność i zainteresowania. Pliki Cookies podmiotów
          zewnętrznych służą również do tworzenia statystyk, których zadaniem jest pomoc w zrozumienie, w jaki sposób
          Użytkownik Serwisu korzysta ze strony internetowej co umożliwia ulepszanie jej struktury oraz zawartości.
          Dlatego podczas wizyty na stronach internetowych na twardym dysku komputera użytkownika zapisywane są także
          ciasteczka podmiotów trzecich, takich jak np.: Google LLC („Google”), której siedziba znajduje się pod
          adresem 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA. Polityka prywatności Google znajduje się
          pod adresem: https://policies.google.com/privacy/update?hl=pl</li>
      </ul>

      <h5 class="uk-text-center">§4</h5>
      Uprawnienie TERRA do przechowywania i uzyskiwania dostępu do plików cookies wynika ze zgody wyrażonej przez
      użytkownika witryny. Zgoda ta wyrażana jest podczas dokonywania konfiguracji przeglądarki internetowej lub
      wybranej strony internetowej. Użytkownik ma możliwość powrotu do tych ustawień w każdej chwili i określenia
      warunków przechowywania lub uzyskiwania dostępu do tych informacji.
    </p>
  </section>
{% endblock %}
