{% extends "base-en.html" %}

{% load static %}

{% block title %}Tergo - Privacy and cookies policy{% endblock %}

{% block body_class %}page privacy eng{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section uk-container uk-padding top">
    <h1 class="uk-margin-large-bottom">Privacy and cookies policy</h1>
    <p class="uk-margin-large-bottom">
      This privacy policy has been adopted in connection with the entry into force of Regulation (EU) 2016/679 of the
      European Parliament and the Council from the 27th April 2016 on the protection of individuals with regard to the
      processing of personal data and on the free movement of such data, and repeal of Directive 95/46/EC (Official
      Journal of the European Union no. L 119/1 from 4.5.2016; hereinafter: GDPR). The purpose of the policy is, in
      particular, the fulfillment of the information requirement mentioned in Art. 13 and 14 of GDPR.<br />

      <h5>1. Definitions</h5>
      In this policy, we use the following phrases:<br />

      <ul>
        <li>We, TERRA Sp. z o.o.., administrator - TERRA Limited Liability Company Limited partnership headquartered
          in Gdynia, Aleja Zwycięstwa 96/98 E422 registered in the Register of Entrepreneurs of the National Court
          Register kept by the District Court in Gdańsk-Północ w Gdańsku, 8th Commercial Division of the National
          Court Register under the number 0000857732,</li>
        <li>You, Mr., Mrs., Mr. and Mrs. - persons whose personal data is processed by TERRA Sp. z o.o.</li>
      </ul>

      <h5>2. Who is the data administrator?</h5>
      The data administrator is a person who determines the purposes and methods of personal data processing. The
      administrator of your personal data is TERRA Sp. z o.o. headquartered in Gdynia.<br />

      <h5>3. What personal data do we process?</h5>
      In connection with the activities carried out in the field of sending you mailing, we process, in particular,
      the personal data of persons with whom we correspond by e-mail. The scope of the processed data is each time
      adequate to the purposes of processing.<br />

      <h5>4. For what purposes do we process the data?</h5>
      Your personal data that we process in connection with the mailings are processed in order to accomplish our
      legitimate interest (art. 6, paragraph. 1 point RODO f) - consisting in:<br />

      <ul>
        <li>conducting direct marketing of our goods or services</li>
        <li>creating compilations, analyzes and statistics - which includes, in particular, marketing research,
          commercial data analysis, service development planning, etc.</li>
        <li>conducting correspondence using all known technologies, including: traditional mail, electronic mail
          (email) or other communication methods (e.g. instant messaging, etc.).</li>
        <li>making telephone contacts.</li>
        <li>initiating and maintaining business contacts.</li>
      </ul>

      The data will be processed for the duration of the interest for which they are processed. <br />
      In particular, marketing activities will be carried out until you submit an appropriate objection. After you
      object, we will not be allowed to process your personal data, unless we demonstrate the existence of valid
      legitimate grounds for processing, overriding the interests, rights and freedoms of the data subject, or grounds
      for establishing, investigating or defending claims.<br />

      <h5>5. Is the provision of personal data obligatory?</h5>
      You have no obligation to provide us with personal information. However, a refusal may prevent us from sending
      you correspondence.<br />

      <h5>6. May the data be processed in processes involving automated decision making, including "qualified"
        profiling?</h5>
      Currently, we do not use any operations that would result in automated decision-making that would have legal
      effects on the part of the recipients, or in similar way significantly would affect them. If such operations
      related to the processing of personal data are implemented in the future - we will ensure their conformance with
      the relevant regulations, including art. 22 GDPR.<br />

      <h5>7. With whom we may share your personal data?</h5>
      Your personal data may be shared to third parties only if we are obliged or entitled to do so under the law.
      Data recipients may include in particular:<br />

      <ul>
        <li>processors, including:</li>
        <li>persons servicing our infrastructure or IT systems, as well as utilizing unnecessary documentation or data
          carriers,</li>
        <li>persons providing audit or advisory services to us - e.g. in the field of legal, tax or accounting
          assistance.</li>
      </ul>

      2) other administrators, including:<br />

      <ul>
        <li>public authorities authorized to request access to data,</li>
        <li>companies related to us,</li>
        <li>other entities - in cases where the nature of the services provided on our behalf causes that the
          indicated entities independently determine the purposes and methods of personal data processing and
          therefore become personal data administrators. This may particularly apply to: advertising agencies,
          agencies participating in the organization of competitions or promotional events, as well as entities
          cooperating with us in handling accounting, tax or legal matters,</li>
      </ul>

      We do not disclose your personal data to persons who are not authorized to process it.<br />

      <h5>8. Can your personal data be transferred outside the European Economic Area (EEA)?</h5>
      Currently, we do not plan to transfer your data outside the European Economic Area.<br />
      However, we do not rule out that we may consider it justified in the future. In this case, your data will be
      secured in the manner required by generally applicable regulations, in particular through the use of the
      so-called Standard Contractual Clauses (SCC).<br />

      <h5>9. What rights do you own in relation to data processing?</h5>
      You can apply to us particularly for:<br />

      <ul>
        <li>access to data processed by us (including: information about data processing by us or providing a copy of
          the data),</li>
        <li>rectification (correction) of data,</li>
        <li>restriction of processing (suspension of data operations or non-deletion of data),</li>
        <li>deletion of data ("the right to be forgotten"),</li>
        <li>transfer of data to another administrator.</li>
      </ul>

      The above requests may be sent in particular in the manner specified in point 13 below - and will be dealt with
      in accordance to relevant regulations, including Art. 15-20 GDPR.<br />

      <h5>10. Right of objection</h5>
      Notwithstanding the above, you are entitled to object to the processing of data which is based on our legitimate
      interest. In that case:<br />

      <ul>
        <li>if personal data is processed for marketing purposes - we will stop such processing immediately.</li>
        <li>if the basis for data processing is an interest of another type - we will cease such processing, unless we
          demonstrate: a) that the said interest overrides your interests, rights and freedoms, or b) the existence of
          a basis for establishing, investigating or defending claims.</li>
      </ul>

      The right of objection may be exercised in particular by sending an appropriate statement in the manner
      specified in point 13 below.<br />

      <h5>11. Complaint to the supervisory authority</h5>
      If you would consider that the processing of data, concerning you, violates applicable regulations - you have
      the right to lodge a complaint with the supervisory authority, i.e. the President of the Personal Data
      Protection Office.<br />

      <h5>12. Place of publication and updates of the privacy policy</h5>
      This privacy policy may be the subject of a change from time to time. The current version of the policy will be
      available at all times on our website at: www.tergo.io.<br />

      <h5>13. How to contact us?</h5>
      In case of any questions on how we use your personal data you may contact us by phone, email or letter at the
      following numbers and addresses:<br />
      TERRA Sp. z o. o. <br />
      Aleja Zwycięstwa 96/98 E422 Gdynia (81-451)<br />
      <br />
      e-mail: admin@tergo.io<br />

      <h1 class="uk-margin-large-bottom">Cookies policy</h1>
      This Policy sets out the rules for the collection and use of personal data from you by the website www.tergo.io
      by TERRA Sp. z o.o. (hereinafter TERRA), at Aleja Zwycięstwa 96/98 E422 registered in the Register of
      Entrepreneurs of the National Court Register kept by the District Court in Gdańsk-Północ w Gdańsku, 8th
      Commercial Division of the National Court Register under the number 0000857732, <br />

      <h5 class="uk-text-center">§1</h5>

      <ul>
        <li>The following terms have the following meanings:</li>
        <li><strong>Cookies</strong> – means IT data, in particular small text files, saved and stored on devices
          through which a client uses the website. For example, they are used to store information such as your
          preferences for viewing a page. In any case, you can block the installation of cookies or delete permanent
          files.</li>
        <li><strong>own Cookies</strong> – means cookies posted by TERRA related to the provision of electronic
          services by TERRA through the website www.tergo.io.</li>
        <li><strong>External Cookies</strong> – means cookies posted by third parties through the website www.tergo.io
        </li>
        <li><strong>Policy</strong> – this cookie policy</li>
        <li><strong>Device</strong> – means an electronic device through which a client accesses the
          website www.tergo.io.</li>
      </ul>

      <h5 class="uk-text-center">§2</h5>

      <ul>
        <li>TERRA, using Cookies, stores information on the customer's device or gains access to information already
          stored - on the terms set out in this Policy. TERRA uses the following types of cookies:

          <ul>
            <li>Session Cookies: are stored on the client's device and remain there until the end of the browser
              session. The saved information is then permanently deleted from memory of the device.</li>
            <li>Persistent Cookies: are stored on the client's device and remain there until they are deleted. Ending
              a browser session or turning off the device does not delete them from the device.</li>
          </ul>

        </li>
        <li>Using cookies by the TERRA does not change the configuration in the client's device, and software
          installed in this device.</li>
      </ul>

      <h5 class="uk-text-center">§3</h5>

      <ul>
        <li>The client has the option to limit or disable the access of cookies to his device in the web browser
          settings or by configuring the service - in particular in such a way as to block the automatic handling of
          cookies or inform about each posting of cookies on the client's device. Detailed information on the
          possibilities and ways of handling cookies is available in the software (web browser) settings. The
          necessary steps can be found on the websites, e.g.:
          <ul>
            <li>Mozilla Firefox</li>
            <li>Google Chrome</li>
            <li>Microsoft Edge</li>
          </ul>
        </li>
        <li>Client may delete cookies at any time.</li>
        <li>Restricting the use of cookies may affect some of the functionalities available on the website.</li>
      </ul>

      <h5 class="uk-text-center">§4</h5>

      <ul>
        <li>As part of the website, links to other websites may appear from time to time. Such websites are
          independent of the website and are in no way supervised by TERRA. These websites may have their own privacy
          policies, which we recommend to read. TERRA is not responsible for the rules of handling data on these
          websites. You may ask questions and concerns regarding this Cookie Policy at: admin@tergo.io</li>
        <li>TERRA cooperates with third parties that may use cookies or similar technologies to ensure that
          advertisements are displayed based on your activity and interests. Cookies of external entities are also
          used to create statistics, the task of which is to help understand how the website user uses the website
          what allows improving its structure and content. Therefore, when visiting websites, cookies of third parties
          are also saved on the user's hard drive, such as e.g.: Google LLC („Google”), headquartered at 1600
          Amphitheatre Parkway, Mountain View, CA 94043, USA. Google's privacy policy is available
          at: https://policies.google.com/privacy/update?hl=pl</li>
      </ul>

      <h5 class="uk-text-center">§5</h5>
      The right of TERRA to store and access cookies results from the consent of the website user. This consent is
      expressed while configuring a web browser or a selected website.<br />
      <br />
      The user has the option to return to these settings at any time and define the conditions for storing or
      accessing this information.
    </p>
  </section>
{% endblock %}
