{% extends "base.html" %}

{% load static %}

{% block title %}Tergo - Regulamin{% endblock %}

{% block body_class %}page{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section uk-container uk-padding top">
    <h1 class="uk-margin-large-bottom">Regulamin aplikacji TerGo</h1>
    <p class="uk-margin-large-bottom">
      <h5 class="uk-text-center">§ 1. Postanowienia ogólne</h5>
      1. Użyte w niniejszym Regulaminie określenia i zwroty przyjmują następujące definicje:
      <br /> a) Regulamin: niniejszy Regulamin, dostępny w Aplikacji TerGo stanowiący wzorzec umowny (umowę) w
      rozumieniu art. 384 kodeksu cywilnego,
      <br /> b) Usługodawca: Terra spółka z ograniczoną odpowiedzialnością z siedzibą w Gdyni (81-451) przy Alei
      Zwycięstwa 96/98 E422 NIP: 5862359150, KRS: 0000857732, REGON: 386466110
      <br /> c) Aplikacja TerGo/Aplikacja - bezpłatnie udostępniana do pobrania i użytkowania, aplikacja
      mobilna/internetowa, która umożliwia osobom indywidualnym udział w Programie- Użytkownikom zbieranie TERkredytów
      w wyniku redukcji emisji CO2, należąca do Usługodawcy i zarządzana przez niego w formie oprogramowana w postaci
      aplikacji mobilnej, w ramach której, z wykorzystaniem Konta Użytkownika może korzystać z Usług oferowanych przez
      Usługodawcę,
      <br /> d) Program: program tworzenia kredytów węglowych w ramach którego Użytkownicy mogą zbierać TER Kredyty w
      zamiar za udział w reedukacji emisji CO2.
      <br /> e) Usługi: wszelkie udostępnione Użytkownikowi przez Usługodawcę funkcjonalności Aplikacji, w
      szczególności usługi opisane w pkt. 2 Regulaminu, stanowiące usługi świadczone drogą elektroniczną w rozumieniu
      przepisów ustawy z dnia 18 lipca 2002 roku o świadczeniu usług drogą elektroniczną (Dz.U. nr 144, poz. 1204 ze
      zm.),
      <br /> f) Konto: zbiór uprawnień udostępniony przez Usługodawcę Użytkownikowi po dokonaniu przez niego
      rejestracji Konta w Aplikacji, indywidualizujący Użytkownika oraz umożliwiający dostęp do funkcjonalności
      Aplikacji,
      <br /> g) Użytkownik: Osoba posiadająca pełną zdolność do czynności prawnych, która utworzyła Konto poprzez
      rejestrację w Aplikacji,
      <br /> h) Konsument: podmiot w rozumieniu art. 221 kodeksu cywilnego, czyli osoba fizyczna dokonującą czynności
      prawnej (w tym zawarcia umowy o świadczenie usług objętych Regulaminem) niezwiązanej bezpośrednio z jej
      działalnością gospodarczą lub zawodową,
      <br /> i) Dane Osobowe: wprowadzone przez Użytkownika informacje, zgromadzone przez Usługodawcę w czasie
      rejestracji i użytkowania Konta w Aplikacji, stanowiące dane osobowe w rozumieniu Rozporządzenia Parlamentu
      Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z
      przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE
      (dalej RODO),
      <br /> j) Przerwa techniczna: czasowe wyłączenie funkcjonalności Aplikacji w całości lub w części, związane z
      awarią Aplikacji, w tym serwerów Aplikacji, lub związane z koniecznością konserwacji tych serwerów bądź
      modernizacją lub przebudową Aplikacji, w czasie którego nie jest możliwe korzystanie ze wszystkich lub wybranych
      Usług,
      <br /> k) Urządzenie: mobilne urządzenie elektroniczne (typu tablet lub smartfon) działające w oparciu o system
      operacyjny Android w wersji nie niższej, niż 5.1 oraz iOS w wersji nie niższej, niż 10. 1.2. „
      <br /> l) TER Carbon kredyt, zwany dalej również Kredyt –kredyt równy 1kg emisji CO2, kredyty TER są
      standardowymi miarami usuwania CO2 w atmosferze, które Użytkownik uzyskuje poprzez dokonywanie ekologicznych
      wyborów tj: kredyt TER jest równy 1 kg zredukowanej emisji CO2 wynikający z bardziej ekologicznego
      <br /> m) działania w porównaniu do średnich nawyków danego kraju 1 kredyt. kredyty TER są obliczane przy użyciu
      naszych autorskich algorytmów i równań, które są akredytowane i kontrolowane przez ekspertów branżowych i
      naukowców.
      <br /> n) Ślad węglowy - ilość dwutlenku węgla uwolniona do atmosfery w wyniku działalności określonej osoby,
      organizacji lub społeczności. OR to całkowita emisja gazów cieplarnianych (GHG) spowodowana przez osobę
      fizyczną, wydarzenie, organizację, usługę lub produkt, wyrażona jako ekwiwalent dwutlenku węgla.
      <br /> o) Kalulator TerGo Live – który oblicza i monitoruje Twój ślad węglowy w czasie rzeczywistym, Kalkulator
      został opracowany przy użyciu autorskich algorytmów i równań które są kontrolowane przez niezależnych ekspertów
      branżowych i naukowców.
      <br />
      <br />Wszelkie informacje, wnioski oraz pytania, dla składania których Regulamin nie określa żadnej formy
      komunikacji, należy kierować poprzez formularz kontaktowy dostępny pod adresem: admin@tergo.pl
      <br />
      <h5 class="uk-text-center">§ 2. Postanowienia ogólne</h5>
      1. Niniejszy regulamin określa zasady Programu (dalej: Program), warunki uczestnictwa w Programie, a
      także zasad korzystania z aplikacji mobilnej TerGo.
      <br /> 2. Z Usługodawcą można się skontaktować pisemne – na adres siedziby Usługodawcy (adres korespondencyjny)
      oraz drogą e-mailową – na adres admin@tergo.pl
      <br /> 3. Regulamin Programu dostępny jest na stronie internetowej www.tergo.pl oraz w aplikacji mobilnej TerGo.
      <br /> 4. Usługodawca współpracuje z przedsiębiorcami - Partnerami Programu.
      <br /> 5. W ramach uczestnictwa w Programie, na zasadach opisanych w Regulaminie, Uczestnik będzie otrzymywał
      Kredyty w aplikacji za zrealizowaną aktywność fizyczną a także dokonywania ekologicznych wyborów wskazanych w
      aplikacji, = Kredyty będzie można przeznaczyć na skorzystanie z ofertPartnera bądź Usługodawcy, w szczególności
      promocji, rabatów programów lojalnościowych na warunkach ustalonych przez Partnera.
      <br />
      <h5 class="uk-text-center">§ 3. Użytkownicy</h5>
      1. Użytkownikiem, może być każda osoba będąca konsumentem w rozumieniu Kodeksu Cywilnego, przy czym:
      <br /> a) osoby nieposiadające zdolności do czynności prawnych, w szczególności osoby poniżej 13 roku życia,
      mogą przystąpić do Programu posiadając zgodę opiekunów prawnych na przystąpienie do programu oraz na
      przetwarzanie danych osobowych w związku z użytkowaniem aplikacji,
      <br />
      <br /> b) osoby ograniczone w zdolności do czynności prawnych, w szczególności osoby niepełnoletnie, lecz mające
      ukończone lat 13, mogą przystąpić do Programu wyłącznie po uzyskaniu zgody swojego opiekuna prawnego na udział w
      Programie oraz przetwarzanie danych osobowych przez Usługodawcę w związku z uczestnictwem w Programie.
      <br />
      <br /> 2. Aby przystąpić do programu Użytkownik powinien
      <br /> a) pobrać na urządzenie mobilne posiadające dostęp do sieci Internet aplikację TerGo, która może zostać
      pobrana w zależności od systemu operacyjnego urządzenia:
      <br />- ze sklepu Google Play (lub każdego go zastępującego)
      <br />- ze sklepu AppStore (lub każdego go zastępującego).
      <br />
      <br />Użytkownik może korzystać z Aplikacji na więcej niż jednym Urządzeniu mobilnym, przy czym może być
      zalogowany w jednym czasie tylko na jednym urządzeniu.
      <br />Dopuszczalne jest korzystanie z Aplikacji na więcej niż jednym urządzeniu mobilnym, z zastrzeżeniem, że
      Użytkownik może być zalogowany do Aplikacji w jednym czasie tylko na jednym urządzeniu. Dodatkowo każde to
      urządzenie musi znajdować się w stałym i zgodnym z prawem posiadaniu Uczestnika. Uruchomienie aplikacji wymaga
      podania prawidłowego adresu e-mail Uczestnika.
      <br />
      <br /> b) Podać podczas rejestracji swój adres mailowy, imię (nick), wiek, hasło.
      <br /> c) Wyrazić zgodę na przetwarzanie danych osobowych w celu korzystana z Aplikacji w związku z
      uczestnictwem w Programie. Użytkownik aplikacji może także wyrazić zgodę na otrzymywanie informacji o marketingu
      produktów i usług oferowanych przez Partnerów Programu. W przypadku osób nieposiadających bądź posiadających
      ograniczoną zdolność do czynności prawnych zgodę za tę osobę udziela jej rodzic lub opiekun prawny.
      <br /> d) Potwierdzić podany przez Użytkownika podczas rejestracji adres email poprzez akceptację linku
      otrzymanego na dany adres oraz zaznaczyć, iż zapoznał się z treścią niniejszego regulaminu. W przypadku gdy
      Użytkownik nie posiada zdolności bądź posiada ograniczoną zdolność do czynności prawnych, zapoznanie się z
      niniejszym Regulaminem potwierdza opiekun prawny użytkownika.
      <br /> 3. Za pobranie, instalację i uruchomienie Aplikacji oraz przystąpienie i uczestnictwo w Programie
      Usługodawca nie pobiera żadnych opłat.
      <br /> 4. Każdy Użytkownik może utworzyć i czynnie korzystać tylko z jednego Konta w Aplikacji. Użytkownik nie
      może tworzyć i korzystać jednocześnie z wielu Kont z wykorzystaniem tych samych danych. Konta utworzone przez
      Użytkownika ponad limit określony w zdaniu pierwszym mogą być usunięte przez Usługodawcę.
      <br /> 5. Użytkownik ma obowiązek podać w formularzu rejestracyjnym prawdziwy i używany przez niego numer
      telefonu komórkowego oraz adres e-mail. W przypadku podania nieprawidłowych danych Użytkownik nie będzie miał
      możliwości aktywacji konta.
      <br />
      <h5 class="uk-text-center">§ 4. Uczestnictwo w Programie</h5>
      1. Użytkownik może uzyskać TER Kredyty za wykonanie czynności wskazanych w aplikacji.
      <br /> 2. Dane na temat aktywności fizycznej Uczestnika mogą obejmować w szczególności informacje o: rodzaju,
      dystansie i czasie aktywności, liczbie zrealizowanych kroków, geolokalizacji, godzinach aktywności fizycznej.
      <br /> 3. Za aktywność fizyczną zarejestrowaną przez Użytkownika w Aplikacji TERgo Użytkownik będzie otrzymywał
      TER carbon Kredyty, obliczone za pomocą Kalkulatora TerGo Live.
      <br /> 4. Partnerzy Usługodawcy będą mieli dostęp do informacji o zebranych przez Użytkownika TER carbon
      Kredytach, które Użytkownik będzie mógł sprzedawać.
      <br /> 5. TER carbon Kredyty podlegają wymianie na środki pieniężne.
      <br /> 6. Usługodawca nie odpowiada za liczbę dostępnych i oferowanych w Aplikacji ofert od Partnerów Programu.
      Partnerzy programu mogą zmieniać ilość oferowanych ofert bądź modyfikować ich treść.
      <br /> 7. Uczestnicy nie mogą w jakikolwiek sposób wprowadzać do Aplikacji treści:
      <br /> a) charakterze bezprawnym,
      <br /> b) stanowiących złośliwe oprogramowanie zakłócające funkcjonowanie Aplikacji (w szczególności wirusy,
      konie trojańskie, skrypty i oprogramowanie zmieniające kod Aplikacji lub niszczące Aplikację) lub przechwytujące
      dane dostępne w Aplikacji,
      <br /> c) do których nie mają praw.
      <br /> 8. Usługodawca zastrzega sobie możliwość w każdym czasie do weryfikacji danych Użytkownika użyte w czasie
      rejestracji w zakresie zgodności dokonanej rejestracji z postanowieniami Regulaminu.
      <br /> 9. Usługodawca ma prawo do weryfikowania sposobu uzyskania przez Użytkownika TER Kredytów w przypadku
      podejrzenia, iż ilość otrzymanych przez użytkownika Kredytów budzi wątpliwości pod kątem ilości pokonanej
      odległości w danej jednostce czasu bądź innych uzasadnionych wątpliwości, w efekcie czego może usunąć
      Użytkownikowi uzyskane przez niego TER Kredyty, a także usunąć konto Użytkownika w Aplikacji.
      <br />
      <h5 class="uk-text-center">§ 5. Warunki techniczne</h5>
      1. Aplikacja działa na urządzeniach przenośnych (smartphony) , które posiadają dostęp do Internetu.
      <br /> 2. Aplikacja działa na systemie operacyjnym Android bądź iOS
      <br /> 3. Usługodawca będzie okresowo oferował Użytkownikom aktualizacje Aplikacji, która będzie miałą na celu
      uprawienie funkcjonowania Aplikacji, a także jej zabezpieczeń.
      <br /> 4. Organizatorowi Programu przysługują autorskie prawa majątkowe do Aplikacji zezwalające na
      udostępnienie Uczestnikom Aplikacji do korzystania z niej na zasadach opisanych w niniejszym Regulaminie.
      <br /> 5. Organizator Programu planuje okresowe udostępnianie aktualizacji Aplikacji, w szczególności w celu
      udostępnienia nowych funkcji, poprawy funkcjonalności już istniejących funkcji albo poprawy bądź dodania nowych
      zabezpieczeń. Usługodawca nie gwarantuje poprawnego działania Aplikacji, jeśli Uczestnik nie pobrał i nie
      zainstalował na swoim urządzeniu przenośnym, udostępnionej przez Usługodawcę aktualizacji.
      <br /> 6. Do prawidłowego korzystania z Aplikacji niezbędny jest dostęp do Internetu. Wyjątek stanowi sytuacja
      korzystanie z programu partnerów TerGo zakupy, gdzie nawet w tym przypadku gdy Użytkownik będzie offline będzie
      miał możliwość zeskanować kod QR dostępny w aplikacji celem dokonania zakupu.
      <br /> 7. Aplikacja może również wykorzystywać następujące informacje użytkownika urządzenia mobilnego: GPS,
      Kamera, Mikrofon
      <br /> 8. Dostęp do Aplikacji zabezpieczony jest hasłem nadawanym przez Użytkownika
      <br /> 9. Użytkownik powinien zapewnić właściwe zabezpieczenie urządzenia mobilnego, w szczególności:
      <br /> a) na bieżąco instalować udostępnioną przez Usługodawcę aktualizację aplikacji
      <br /> b) instalować oprogramowanie jedynie z zaufanych źródeł
      <br /> c) stosować bezpieczne hasło do Aplikacji oraz nie udostępniać nikomu jego treści
      <br />
      <h5 class="uk-text-center">§6 Dane Osobowe</h5>
      1. Administratorem danych osobowych Użytkowników, jest Usługodawca - Terra spółka z ograniczoną
      odpowiedzialnością z siedzibą w Gdyni (81-451) przy Alei Zwycięstwa 96/98 E422 NIP: 5862359150, KRS:
      0000857732, REGON: 386466110 (dalej: Administrator).
      <br /> 2. Kontakt z Administratorem jest możliwy pod adresem spółki wskazanym powyżej bądź pod adresem email:
      admin@tergo.io
      <br /> 3. Dane osobowe Uczestników będą przetwarzane przez Administratora zgodnie z powszechnie obowiązującymi
      przepisami (w tym: Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. –
      tzw. ogólnym rozporządzeniem o ochronie danych RODO) - do momentu usunięcia konta w Aplikacji, przy czym po
      czasie usunięcia konta dane osobowe mogą być dalej przetwarzane przez okres przedawnienia ewentualnych roszczeń
      Usługodawcy wobec Użytkownika lub Użytkownika wobec Usługodawcy, określony w przepisach powszechnie
      obowiązującego prawa.
      <br /> 4. Dane osobowe będą przetwarzane przez Administratora:
      <br /> a) celem podjęcia działań niezbędnych do zawarcia umowy oraz realizacji umowy (zgodnie z art. 6 ust. 1
      lit. b RODO),
      <br /> b) celem wypełnienia przez Administratora obowiązków wynikających z powszechnie obowiązujących przepisów
      (art. 6 ust. 1 lit. c RODO),
      <br /> c) na podstawie zgody (art. 6 ust 1 lit. a RODO) w zakresie w jakim Użytkownik wyrazi taką zgodę m.in. na
      przedstawienie ofert handlowych od Parterów Usługodawcy. Zgoda taka może być w każdym czasie cofnięta, bez
      wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem. Brak takiej
      zgody lub jej wycofanie nie może być podstawą niekorzystnego traktowania osoby ubiegającej się o zatrudnienie, a
      także nie może powodować wobec niej jakichkolwiek negatywnych konsekwencji, zwłaszcza nie może stanowić
      przyczyny uzasadniającej odmowę zatrudnienia,
      <br /> d) na podstawie uzasadnionego interesu administratora (art. 6 ust 1 lit. f) w zakresie marketingu
      własnych usług.
      <br /> 5. Dane osobowe mogą zostać udostępnione podmiotom trzecim w tym Partnerom Biznesowym, a także w
      przypadku gdy będzie to koniecznie na podstawie przepisów prawa. Odbiorcami danych mogą być zwłaszcza
      administratorzy infrastruktury Administratora (np. hostingodawcy).
      <br /> 6. Dane osobowe Użytkowników mogą być przekazywane do państw trzecich (poza teren Europejskiego Obszaru
      Gospodarczego) do partnerów biznesowych Usługodawcy
      <br /> 7. Dane osobowe nbędą przedmiotem podejmowania zautomatyzowanych decyzji, w tym w formie profilowania w
      zakresie
      <br /> 8. Użytkownik ma prawo żądania od Administratora dostępu do swych danych osobowych, ich sprostowania,
      usunięcia lub ograniczenia przetwarzania, a także przeniesienia danych;
      <br /> 9. Nadto, Użytkownik ma prawo wnieść sprzeciw względem dalszego przetwarzania danych.
      <br /> 10. W przypadku, gdy przetwarzanie odbywa się z naruszeniem prawa, osoba, której dane dotyczą ma prawo
      wniesienia skargi do organu nadzorczego – Prezesa Urzędu Ochrony Danych Osobowych (PUODO). Dane kontaktowe PUODO
      dostępne są w szczególności na witrynie https://uodo.gov.pl/pl/p/kontakt.
      <br />
      <h5 class="uk-text-center">§ 7 Ciasteczka</h5>
      a. W toku korzystania przez Użytkownika z aplikacji Usługodawca zbiera powstałe pliki zwane
      „ciasteczkami” - pliki cookies, które są przechowywane na urządzeniu użytkownika. W tego typu plikach zapisują
      się dane takie jak adres IP, data logowania i korzystania z aplikacji czy jej funkcji, a także data połączenia
      aplikacji z serwerem. Pliki cookies mogą również zapisywać dane które użytkownicy wpisują do innych aplikacji.
      <br /> b. Usługodawca ma dostęp do plików cookies i przetwarza je w sposób automatyczny celem sprawnego
      korzystania przez Użytkowników z aplikacji.
      <br /> c. Brak zaakceptowania plików cookies nie uniemożliwi korzystania z aplikacji ale może spowodować, iż nie
      będzie ona działać prawidłowo.
      <br />
      <h5 class="uk-text-center">§8 Licencja</h5>
      1. Usługodawca udziela Użytkownikowi licencji na korzystanie z Aplikacji w sposób zgody z jej
      użytkowaniem do czasu usunięcia konta przez Użytkownika.
      <br /> 2. Licencja obejmuje prawo do zwielokrotnienia wyłącznie w zakresie, w jakim jest to niezbędne do
      uruchomienia, działania i przechowywania Aplikacji w pamięci Urządzenia.
      <br /> 3. Użytkownik nie ma prawa do udzielania dalszych licencji.
      <br /> 4. Użytkownik nie ma prawa do dystrybuowania, sprzedawania, wprowadzania do obrotu czy rozpowszechniania
      Aplikacji.
      <br /> 5. Użytkownik nie ma prawa do przesyłania czy udostępniania w sieci Internet, sieciach komputerowych,
      systemach dystrybucji czy jakichkolwiek innych systemach teleinformatycznych aplikacji.
      <br />
      <h5 class="uk-text-center">§ 9 Odpowiedzialność Usługodawcy</h5>
      1. Usługodawca zobowiązuje się do zapewnienia jak najwyższej jakości Usług świadczonych za pośrednictwem
      Aplikacji.
      <br /> 2. Usługodawca nie ponosi odpowiedzialności:
      <br /> i. za czasową niemożność korzystania przez Użytkowników z Aplikacji, wywołaną przerwą techniczną bądź
      silą wyższą,
      <br /> ii. za skutki działania Użytkownika m.in. podania przez Użytkownika w czasie Rejestracji nieprawdziwych
      Danych Osobowych bądź ujawnienia hasła do Konta Użytkownika w Aplikacji, bądź udostępniania Konta w ramach
      Aplikacji przez Użytkownika osobom trzecim.
      <br /> iii. za niedziałanie lub nienależyte działanie Aplikacji na urządzeniu nie spełniającym wymagań
      technicznych, bądź w przypadku nie zainstalowania aktualizacji aplikacji przez Użytkownika.
      <br /> iv. za niewykonanie lub nienależyte wykonanie usług przez operatorów telekomunikacyjnych, z którymi
      Użytkownik ma zawarte umowy, w szczególności w zakresie połączenia do sieci Internet, jak również za wysokość
      opłat za te usługi,
      <br /> v. za błędne działanie systemów operacyjnych, które są wymagane do uruchomienia Aplikacji jak również
      oprogramowania innego niż Aplikacja, zainstalowanego na Urządzeniu lub pobranego na Urządzenie.
      <br />
      <h5 class="uk-text-center">§ 10 Reklamacje</h5>
      1. Reklamacje dotyczące działania Aplikacji oraz niewykonania lub nienależytego wykonania Usługi
      Użytkownik należy zgłaszać w aplikacji bądź na adres mailowy admin@tergo.io
      <br /> 2. Zgłoszenie reklamacyjne musi zawierać dokładne dane personalne (imię, nazwisko, adres e-mail użyty do
      rejestracji Konta w Aplikacji oraz powód reklamacji.
      <br /> 3. Uczestnik zostanie powiadomiony o rozstrzygnięciu reklamacji najpóźniej w terminie 14 dni od daty jej
      otrzymania przez Organizatora
      <br /> 4. Reklamacja powinna zawierać imię, nazwisko, adres e-mail użyty do rejestracji Konta Użytkownika w
      Aplikacji, opis sprawy.
      <br /> 5. Użytkownik zostanie powiadomiony o sposobie rozpatrzenia reklamacji drogą e-mail na adres e-mail, z
      którego zostało przesłane zgłoszenie reklamacyjne.
      <br />
      <h5 class="uk-text-center">§ 11 Postanowienia końcowe</h5>
      1. Uczestnictwo w Programie jest równoznaczne z oświadczeniem o zapoznaniu się z nim Regulaminem.
      <br /> 2. Zakończenia uczestnictwa następuje w momencie usunięcia przez Usługodawcę Konta w Aplikacji.
      <br /> 3. Zakończenie użytkowana dokonane przez Konsumenta w terminie 14 dni od dnia zawarcia umowy
      (zarejestrowania Konta), jest traktowane jako odstąpienie od umowy przez Konsumenta na podstawie art. 27 ustawy
      z dnia 30 maja 2014 r. o prawach konsumentów, chyba że Konsument wyraźnie oświadczy inaczej. Takie odstąpienie
      nie wymaga podania przyczyn odstąpienia i nie wiąże się z ponoszeniem przez Konsumenta jakichkolwiek kosztów.
      <br /> 4. O każdej zmianie Regulaminu użytkownik zostanie powiadomiony drogą elektroniczną, a także za
      pośrednictwem aplikacji. Dalsze użytkowanie Aplikacji wymaga zaakceptowania zmian w Regulaminie.
      <br /> 5. Aplikacja TERgo, a także wszelkie znajdujące się w niej treści, kod źródłowy, grafiki, układ, zwartość
      a także inne jej elementy podlegają ochronie powszechnie obowiązującymi przepisami prawa, w tym przepisami prawa
      autorskiego, prawa własności intelektualnej oraz innymi właściwymi, bezwzględnie wiążącymi przepisami prawa.
      Korzystanie z Aplikacji możliwe jest na warunkach licencyjnych określonych w regulaminie.
      <br />6. W zakresie nieuregulowanym w niniejszym Regulaminie zastosowanie znajdą przepisy powszechnie
      obowiązującego prawa.
      <br />7. Regulamin wchodzi w życie w dniu ……………
      <br />
    </p>
  </section>
{% endblock %}
