{% extends "base-en.html" %}

{% load static %}

{% block title %}Tergo - Ters{% endblock %}

{% block body_class %}page ters eng{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section uk-padding uk-text-center top">
    <h1>inTERvene!</h1>
    <h2>TER: True Emission Reduction Carbon Credits<br>- The currency of the eco world</h2>

    <a href="https://vimeo.com/525599094" target="_blank" class="uk-button centered uk-margin-medium-top">
      How can I earn?<img src="{% static "img/arrow_white.svg" %}" />
    </a>
  </section>

  <section class="uk-section uk-padding-remove">
    <div class="uk-container uk-padding">
      <ul uk-accordion class="uk-margin-medium-top">
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">Collect TERs</a>
          <div class="uk-accordion-content">
            <p>TERs are the newest (and most transparent) form of carbon credits. TerGo users receive them for every eco-action recorded in the app. Saving CO<sub>2</sub> emissions should be rewarded – and now it can.</p>
            <p>1 TER = 1 kilogram of CO<sub>2</sub> saved from entering the atmosphere. The more carbon emissions you
              save, the more TERs you earn. TERs are as valuable as any other form of tradable currency.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Reduce CO<sub>2</sub></a>
          <div class="uk-accordion-content">
            <p>Act for yourself and the planet. Start with what works best for you. Every day is a chance to do (and
              to earn) a little bit more.</p>
            <p>Choose:</p>
            <p><strong>Eco-transport</strong> – carpooling and carsharing, walking, cycling, scootering, public
              transport, low emitting CO<sub>2</sub> vehicles, and e-vehicles</br>
              <strong>Eco-shopping</strong> – using your own coffee mug, reusable shopping bags, carbon neutral
              products, and local TerGo partners</br>
              <strong>Eco-living</strong> - save water, reduce electricity, and lower heating</p>
            <p>The possibilities are endless – saving tonnes (literally) of <span class="tooltip">greenhouse gas<span class="tooltip-content"><img src="{% static "img/tooltip_arrow.png" %}" />Greenhouse gases (GHG) are components of the atmosphere. They may come from natural sources or result fromhuman activity. These gases transmit solar radiation to the Earth's surface. It is then partly reflected and partly absorbed by the land and oceans. The radiated Earth's surface emits heat, some of which is retained by greenhouse gases in the atmosphere. The more gasesin the atmosphere, the less energy escapesthe Earth. The more energy stays on Earth, the higher the temperature on our Planet. By lowering your emissions with TerGo, you can slow down or even stop thisprocess!<br/>Greenhouse gases include carbon dioxide (CO<sub>2</sub>), methane (CH4), nitrous oxide (N2O), hydrofluorocarbons (HFCs), perfluorocarbons (PFCs),and sulfur hexafluoride (SF6). Since carbon dioxide is the most abundant, it is customary to refer to all greenhouse gases by the abbreviation CO<sub>2</sub>.</span></span> emissions is easier than
              you think. Additionally, each of these eco-actions adds up, allowing you to be rewarded with TERs for
              your efforts!</p>
            <p>Repeating an eco-action 21 times turns it into a good habit.</p>
            <p>It’s scientifically proven!</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Sell and offset</a>
          <div class="uk-accordion-content">
            <p>Cash in your TERs or donate them through our emissions trading platform. Your TERs can be sold to
              companies working with TerGo or other users looking to offset their CO<sub>2</sub> emissions.</p>
            <p>Each TER’s value is linked to the current trading value of carbon credits on the European Union Emissions Trading
              System (EU ETS). The money obtained after selling TERs can be easily transferred to your bank account
              or used to support new tree planting projects, forest protection programs, or polyculture farming, which
              helps to reduce emissions while supporting local farmers.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="uk-section"><a id="terbit"></a>
    <div
      class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle uk-flex-wrap uk-text-center uk-text-left@m">
      <img src="{% static "img/phone.png" %}" class="uk-width-1-1 uk-width-1-2@m" />

      <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@m">
        <h2>Earn TERs with the TERbit</h2>
        <p>TERbit is a unique tool available worldwide that is based on our proprietary algorithms. With TERbit,
          making conscious decisions for the planet has finally become simple and will allow you to be rewarded!</p>
        <p>TERbit measures and converts your eco-choices into the value of reduced CO<sub>2</sub> emissions and TER
          carbon credits. It happens in real-time – and TERs are recorded by the app under your account.</p>
        <p>Your reduced carbon stats are growing, the number of TERs on your account is growing hence your motivation
          is growing! Enjoy changing the world for the better – it's addictive! With TerGo, you'll stay inspired and
          discover more eco-activities tailored to your lifestyle. A greener future is closer than you think.</p>
      </div>
    </div>
  </section>

  <section class="uk-section uk-padding-remove">
    <div
      class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle uk-flex-wrap uk-text-center uk-text-left@m">
      <img src="{% static "img/gear.png" %}" class="uk-width-1-1 uk-width-1-2@m" />

      <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@m">
        <h2>It’s clear – and transparent</h2>
        <p>The automated TERs’ settlement verification process is recorded on <span
          class="tooltip">blockchain<span class="tooltip-content"><img src="{% static "img/tooltip_arrow.png" %}" />Blockchain is a digital recordof transactions that is duplicated and distributed across the entire network of computer systems on the <strong>blockchain</strong>. The name comes from its structure, in which individual records, called blocks, are linked together to form a single list, called a chain. Blockchains are used to recordvarioustransactions.<br/>It is a system of recording information in a way that makes it difficult or impossible to change, hack, or cheat the system.</span></span> technology. This makes it
          possible to trace the entire lifecycle of each TER carbon credit – from its creation, through every
          transaction, to the full offset. It guarantees our full transparency.</p>
      </div>
    </div>
  </section>

  <section class="uk-section uk-padding-remove">
    <div
      class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle uk-flex-wrap uk-text-center uk-text-left@m">
      <img src="{% static "img/loupe.png" %}" class="uk-width-1-1 uk-width-1-2@m" />

      <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@m">
        <h2>It will help you change the world</h2>
        <p>TerGo was created and developed by an international team of experts, scientists, and eco-enthusiasts
          who truly care about the future of our planet. We believe that together we can save millions of tonnes of
          CO<sub>2</sub> emissions and help to significantly support the mitigation of climate change. Our innovative
          tools will guide you to a greener way of living. Join TerGo and become part of a community with the power to
          change the world.</p>
      </div>
    </div>
  </section>
{% endblock %}