{% extends "base.html" %}

{% load static %}

{% block title %}Tergo - Ters{% endblock %}

{% block body_class %}page ters{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section uk-padding uk-text-center top">
    <h1>Łap za sTERy!</h1>
    <h2>TER: True Emissions Reduction Credits<br />- waluta ekologicznego świata</h2>

    <a href="https://vimeo.com/525599094" target="_blank" class="uk-button centered uk-margin-medium-top">
      Zobacz, jak zarabiać<img src="{% static "img/arrow_white.svg" %}" />
    </a>
  </section>

  <section class="uk-section uk-padding-remove">
    <div class="uk-container uk-padding">
      <ul uk-accordion class="uk-margin-medium-top">
        <li class="uk-open">
          <a class="uk-accordion-title" href="#">Zbieraj TERsy</a>
          <div class="uk-accordion-content">
            <p>TERsy to nowe kredyty węglowe. Użytkownicy i użytkowniczki aplikacji TerGo otrzymują je za każde
              ekodziałanie zapisane w aplikacji, które pozwoliło zaoszczędzić emisję CO<sub>2</sub>.</p>
            <p>1 TER = 1 kilogram zaoszczędzonego CO<sub>2</sub>. Im więcej oszczędzasz emisji dwutlenku węgla, tym
              więcej otrzymujesz TERsów. A TERsy mają realną wartość – jak każda inna waluta.</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Redukuj CO<sub>2</sub></a>
          <div class="uk-accordion-content">
            <p>Działaj dla siebie i planety. Zacznij od tego, co Ci pasuje najbardziej. Każdego dnia wybieraj, czy
              chcesz zrobić (i zarobić) trochę więcej.<br />Postaw na:</p>
            <p><strong>Ekotransport</strong> – carpooling i carsharing, spacery, jazdę rowerem, hulajnogą, komunikacją
              miejską, pojazdami elektrycznymi i pojazdami niskoemisyjnymi</p>
            <p><strong>Ekozakupy</strong> – własny kubek na kawę, wielorazowe torby na zakupy, neutralne węglowo
              produkty, lokalnych partnerów TerGo</p>
            <p><strong>Ekodom</strong> - segregację odpadów, less waste, redukcję plastiku, recykling oraz oszczędność
              wody, prądu i ogrzewania</p>
            <p>Możliwości jest wiele, więc w prosty sposób oszczędzisz wiele emisji <span class="tooltip">gazów
                cieplarnianych<span class="tooltip-content"><img src="{% static "img/tooltip_arrow.svg" %}" />To składniki atmosfery.
                  Pochodzą bezpośrednio z naturalnych źródeł lub w efekcie działalności człowieka.<br />Gazy te
                  przepuszczają promieniowanie słoneczne do powierzchni Ziemi. To częściowo jest odbijane, a częściowo
                  pochłaniane przez lądy i oceany. Ogrzana powierzchnia Ziemi wydziela ciepło, które z kolei nie jest
                  przepuszczane w kosmos, ponieważ pochłaniają je gazy cieplarniane. Im więcej gazów, tym ucieka mniej
                  energii, a to znaczy, że temperatura na Ziemi rośnie.<br />A obniżając swoje emisje z TerGo, możesz
                  to zmienić!<br />Do gazów cieplarnianych zaliczamy dwutlenek węgla (CO<sub>2</sub>), metan (CH4),
                  podtlenek azotu (N2O), fluorowęglowodory (HFC), perfluorowęglowodory (PFC) i sześciofluorek siarki
                  (SF6). Ponieważ dwutlenku węgla jest najwięcej, zwyczajowo wszystkie gazy cieplarniane określa się
                  skrótem CO<sub>2</sub>.</span></span>. W nagrodę za każde ekodziałanie otrzymasz TERsy!</p>
            <p>Powtórz ekowybór 21 razy, a wyrobisz sobie dobry nawyk. Potwierdzone naukowo!</p>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Sprzedawaj i kompensuj</a>
          <div class="uk-accordion-content">
            <p>Sprzedaj TERsy za gotówkę lub przekaż je na realizację <span class="tooltip">projektów
                kompensacyjnych<span class="tooltip-content"><img src="{% static "img/tooltip_arrow.svg" %}" />Projekty ekologiczne,
                  które redukują ilość dwutlenku węgla w atmosferze, dzięki czemu zwiększona ilość gazów
                  cieplarnianych w innym miejscu ma zerowy wpływ na środowisko. Wśród najpopularniejszych projektów
                  kompensacyjnych jest m.in. sadzenie drzew, ochrona istniejących ekosystemów leśnych oraz inwestycje
                  w odnawialne źródła energii.</span></span> TerGo, dzięki naszej platformie handlu emisjami. TERSy
              kupią od Ciebie firmy współpracujące z TerGo lub inni użytkownicy, którzy chcą kompensować swoje emisje
              CO<sub>2</sub>.</p>
            <p>Wartość TERsów jest powiązana z aktualną wartością handlową kredytów węglowych z <a
                href="https://ec.europa.eu/clima/policies/ets_pl" target="_blank">Systemu Handlu Emisjami UE (EU
                ETS)<img src="{% static "img/link_arrow.svg" %}" /></a>. Pieniądze ze sprzedaży TERsów łatwo przelejesz na swoje
              konto w banku lub wesprzesz nimi nowe nasadzenia drzew, programy ochrony lasów i wsparcia rolnictwa
              polikulturowego.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="uk-section"><a id="terbit"></a>
    <div
      class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle uk-flex-wrap uk-text-center uk-text-left@m">
      <img src="{% static "img/phone.png" %}" class="uk-width-1-1 uk-width-1-2@m" />

      <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@m">
        <h2>To wciąga</h2>
        <p>TERbit to narzędzie, które tworzą nasze autorskie algorytmy – nie ma drugiego takiego na świecie. Dzięki
          TERbit świadome wybory dla planety w końcu stały się proste i będą nagradzane!</p>
        <p>TERbit przelicza nasz ekowybór na wartość zredukowanej emisji CO<sub>2</sub> oraz jej wartość w kredytach
          węglowych TER. Dzieje się to dokładnie w tej chwili, w której działasz. Osiągnięcia i TERsy rejestrowane są
          na Twoim koncie w aplikacji.</p>
        <p>Rosną Twoje statystyki ograniczonych emisji dwutlenku węgla, rośnie liczba TERsów na Twoim koncie, rośnie
          Twoja motywacja! Widzisz, jak zmieniasz świat na lepsze. To wkręca! Z TerGo będziesz dostawać inspiracje do
          kolejnych ekoaktywności - dopasowanych do Twojego stylu życia. Kolejne ekodziałania będą prostsze, niż
          myślisz.</p>
      </div>
    </div>
  </section>

  <section class="uk-section uk-padding-remove">
    <div
      class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle uk-flex-wrap uk-text-center uk-text-left@m">
      <img src="{% static "img/gear.png" %}" class="uk-width-1-1 uk-width-1-2@m" />

      <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@m">
        <h2>To jasne i transparentne</h2>
        <p>Zautomatyzowany proces weryfikacji rozliczeń TERsów bazuje na technologii <span
            class="tooltip">blockchain<span class="tooltip-content"><img src="{% static "img/tooltip_arrow.svg" %}" />Blockchain to
              cyfrowy zapis transakcji. Nazwa pochodzi od jego struktury, w której poszczególne zapisy, zwane blokami,
              są połączone ze sobą w jedną listę, zwaną łańcuchem. Blockchainy są używane do rejestrowania transakcji
              dokonywanych za pomocą kryptowalut.</span></span>. Umożliwia to prześledzenie całego cyklu życia każdego
          TERsa – od jego utworzenia, poprzez wszystkie transakcje, aż do pełnego offsetu. To nasza gwarancja pełnej
          transparentności.</p>
      </div>
    </div>
  </section>

  <section class="uk-section uk-padding-remove">
    <div
      class="uk-container uk-padding uk-flex uk-flex-between uk-flex-middle uk-flex-wrap uk-text-center uk-text-left@m">
      <img src="{% static "img/loupe.png" %}" class="uk-width-1-1 uk-width-1-2@m" />

      <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@m">
        <h2>To pomoże Ci zmienić świat</h2>
        <p>TerGo tworzymy w międzynarodowym zespole ekspertów, naukowców i ekoentuzjastów, którym naprawdę zależy na
          losach naszej planety. Działamy, bo jesteśmy przekonani, że razem możemy zaoszczędzić emisji miliardów ton
          CO<sub>2</sub> i dzięki temu znacząco wspierać łagodzenie skutków zmian klimatu. Dostarczamy nowatorskie
          narzędzia, które pomagają zmieniać nawyki na proklimatyczne. Dołącz do TerGo i stań się częścią społeczności
          o mocy zmieniania świata.</p>
      </div>
    </div>
  </section>
{% endblock %}