{% extends "payment_base.html" %}

{% load static %}

{% block title %}Logowanie{% endblock %}

{% block body_class %}offset register{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  {{ view.template_name }}

  <section class="uk-section yellow">
    <div class="uk-container uk-padding">
      <div class="payment-process">
        <div class="uk-width-1-1 uk-flex uk-flex-between uk-text-center">
          <div class="register active"><span>1</span>Register</div>
          <div class="payment"><span>2</span>Payment</div>
          <div class="payment"><span>3</span>Done</div>
        </div>
      </div>

      <div class="uk-width-1-2 uk-margin-auto uk-margin-large-top">
        <div class="uk-flex uk-flex-left loginOrRegister">
          <a href="{% url "offset-register" %}" class="uk-width-1-2 uk-text-center">Sign up</a>
          <div class="uk-width-1-2 uk-text-center">Login</div>
        </div>

        <form action="{% url 'offset-login' %}" method="post" class="uk-margin-large-top">
          <div class="form-wrapper uk-margin-large-bottom">
            <div class="input-wrapper">
              <label for="{{ form.email.id_for_label }}">Email</label>
              {{ form.username|add_class:"uk-input" }}
            </div>
          </div>
      
          <div class="form-wrapper uk-margin-large-bottom">
            <div class="input-wrapper">
              <label for="{{ form.password.id_for_label }}">Hasło</label>
              {{ form.password|add_class:"uk-input" }}
            </div>
          </div>
      
          {% csrf_token %}
      
          <input type="hidden" name="next" value="{{ next }}" />
          <button class="uk-button uk-width-1-1 uk-text-center uk-margin-large-top" type="submit">Zaloguj się<img src="{% static "img/arrow_white.svg" %}" /></button>
      
          <p class="uk-text-center"><a href="{% url "password_reset" %}">Zapomniałeś hasła?<img src="{% static "img/link_arrow.svg" %}" /></a></p>
        </form>
      </div>
    </div>
  </section>
{% endblock %}

