{% extends "payment_base.html" %}

{% load static %}

{% block title %}Offset{% endblock %}

{% block body_class %}offset eng{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section yellow">
    <div class="uk-container uk-padding uk-margin-large-top uk-flex">
      <div class="uk-width-1-2">
        <h1>Easily offset your average carbon footprint </h1>

        <p class="uk-margin-medium-top">You can simply check the average carbon footprint for a person by selecting the country where you live. Offset those emissions through our carbon credit projects.</p>

        <form class="uk-margin-medium-top select-country-form">
          <fieldset class=" uk-fieldset">
            <select class="select2 country" style="width: 100%" type="select">
              <option value="">Country</option>
            </select>

            <button class="uk-button uk-width-1-1 uk-margin-medium-top" type="submit">Check average footprint<img src="{% static "img/arrow_white.svg" %}" /></button>
          </fieldset>
        </form>
      </div>
      <div class="uk-width-1-2"></div>
    </div>
  </section>

  <section class="uk-section yellow uk-hidden">
    <div class="uk-container uk-padding uk-margin-large-top uk-margin-xlarge-bottom uk-text-center">
      <h1 class="tco"></h1>

      <p class="uk-margin-top">The average carbon footprint per person in your county.</p>
    </div>
  </section>

  <section class="uk-section gray uk-hidden">
    <div class="uk-container uk-padding uk-margin-large-top uk-margin-large-bottom">
      <h2><strong>Buy TERs</strong> or <strong>support Eco-Project in Belize</strong> to mitigate your impact on the environment and neutralize your carbon footprint. </h2>
    </div>
  </section>

  <section class="uk-section uk-hidden">
    <div class="uk-container uk-padding uk-margin-large-bottom uk-flex uk-flex-between uk-flex-wrap">
      <h4 class="uk-width-1-1 uk-text-center uk-margin-medium-bottom">Choose one of two ways of offsetting:</h4>

      <div class="uk-width-1-2">
        <div class="offset-project ter active">
          <div class="offset-project__title uk-padding">
            <h3><span class="uk-margin-small-right"></span>Buy TERs</h3>
          </div>

          <div class="offset-project__image" style="background-image: url({% static "img/ters_image.png" %})"></div>

          <div class="offset-project__desc uk-padding yellow">
            <p>TER carbon credits are the revolutionary new way to offset emissions while also supporting TerGo members. Each TER credit is equivalent to 1kg of CO2 that has been kept out of the atmosphere from eco-choices made by members, quantified by our proprietary live carbon balance tracker and verified through data provided on your smartphone.</p>
          </div>

          <div class="offset-project__payment uk-padding">
            <form method="post">
              <p>Decide how much will you offset by buying <strong>TER carbon credits</strong> and whether you will be offsetting annually or monthly:</p>

              <div class="uk-margin-medium-top uk-text-center">
                <div class="amount"></div>

                <input class="uk-hidden" type="text" value="" name="amount"></input>
                <input class="uk-hidden" type="text" value="" name="currency"></input>

                <div class="range">
                  <div class="nouislider" name="ter"></div>
                </div>
              </div>

              <div class="buttons-wrapper uk-margin-top uk-flex uk-flex-between uk-flex-wrap">
                <div class="uk-button white uk-active" data-type="monthly">Monthly*</div>
                <div class="uk-button white" data-type="annually">Annually</div>

                <input class="uk-hidden" type="text" name="frequency" value="monthly">
                <input class="uk-hidden" type="text" name="description" value="TER">

                <button class="uk-button uk-width-1-1 uk-text-center uk-margin-top" type="submit">Offset<img src="{% static "img/arrow_white.svg" %}" /></button>

                <div class="uk-margin-medium-top">
                  <p>*Payed monthly for 12 months. You can easily unsubscribe whenever you want.</p>
                  <p>Choose 100% to neutralize all your carbon impact. Select 200% to erase yours and additional person carbon footprint.</p>
                </div>
              </div>

              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>

      <div class="uk-width-1-2">
        <div class="offset-project ver">
          <div class="offset-project__title uk-padding">
            <h3><span class="uk-margin-small-right"></span>Support Belize Eco-Project</h3>
          </div>

          <div class="offset-project__image" style="background-image: url({% static "img/ters_image.png" %})"></div>

          <div class="offset-project__desc uk-padding yellow">
            <p>TerGo operates or partners with green projects all over the world that specialize in carbon offsetting. These include polyculture farming projects in Belize that not only trap carbon, they help provide a good livelihood for local people. When supporting this project you will be updated via e-mail every month about its development.</p>
          </div>

          <div class="offset-project__payment uk-padding blocked">
            <form method="post">
              <p>Decide how much will you offset by supporting <strong>Belize Eco-Project</strong> and whether you will be offsetting annually or monthly:</p>

              <div class="uk-margin-medium-top uk-text-center">
                <div class="amount"></div>

                <input class="uk-hidden" type="text" value="25.18" name="amount"></input>
                <input class="uk-hidden" type="text" value="" name="currency"></input>

                <div class="range">
                  <div class="nouislider" name="ver"></div>
                </div>
              </div>

              <div class="buttons-wrapper uk-margin-top uk-flex uk-flex-between uk-flex-wrap">
                <div class="uk-button white uk-active" data-type="monthly">Monthly*</div>
                <div class="uk-button white" data-type="annually">Annually</div>

                <input class="uk-hidden" type="text" name="frequency" value="monthly">
                <input class="uk-hidden" type="text" name="description" value="VER">

                <button class="uk-button uk-width-1-1 uk-text-center  uk-margin-top" type="submit">Offset<img src="{% static "img/arrow_white.svg" %}" /></button>

                <div class="uk-margin-medium-top">
                  <p>*Payed monthly for 12 months. You can easily unsubscribe whenever you want.</p>
                  <p>Choose 100% to neutralize all your carbon impact. Select 200% to erase yours and additional person carbon footprint.</p>
                </div>
              </div>

              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="uk-section uk-flex uk-flex-between uk-flex-stretch uk-flex-wrap yellow uk-text-center uk-text-left@m uk-hidden">
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <div class="inner uk-padding">
        <h2>Why offsets vary in prices?</h2>

        <p>Offsets vary in price depending on how they are carried out. The price of offsetting a certain amount of carbon can be different depending on the project. Due to the nature of how TERs are earned, their price stays more stable while a variety of factors plays a role in the offset prices for the other methods, including the type and location of the projects and which stage each project is at in terms of its maturity. All these factors play a role in determining the final cost of an offset.</p>
      </div>
    </div>

    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <img src="{% static "img/price-variation.png" %}" />
    </div>
  </section>

  <section
    class="uk-section uk-flex uk-flex-between uk-flex-stretch uk-flex-wrap uk-text-center uk-text-left@m uk-hidden">
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <img src="{% static "img/mesument.png" %}" />
    </div>

    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <div class="inner uk-padding">
        <h2>How offsets are measured?</h2>

        <p>Tree planting and green project offsets are measured using third-party verified carbon offset and sequestration calculations. You can learn more and read the fine print on these methods (here). For TER carbon credits, each one is the equivalent of 1kg of CO2 emissions that has avoided entering the air. This means that buying 1000 TER carbon credits would offset 1000 kg of carbon from your footprint. Measuring the carbon avoided by TERs is done by TerGo's proprietary software and smartphone integration. You can learn more about the nitty-gritty details on how these credits are quantified (here) .</p>
      </div>
    </div>
  </section>

  <section
    class="uk-section uk-flex uk-flex-between uk-flex-stretch uk-flex-wrap yellow uk-text-center uk-text-left@m uk-hidden">
    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <div class="inner uk-padding">
        <h2>When offsets take place?​</h2>

        <p>Offsets take place over a period of time that is dependent on the method of offsetting. With TER carbon credits, offsets take place immediately since they are earned by avoiding CO2 from being released into the atmosphere.</p>

        <p>Projects utilizing mature forests - where residents are compensated by offsetting to keep carbon-sequestering forests intact - also generate offsets immediately.</p>

        <p>Tree planting and new-growth forest offsets take a bit longer. These utilize newly planted trees to increase the absorption of carbon dioxide as the trees grow and mature. While it takes a while to get going, it is the most established method of offsetting currently in place. Afforestation, where the best trees are selected and planted to sequester the most possible CO2, is what we employ in our Belize project that helps support farmers in addition to offsetting high amounts of carbon.</p>
      </div>
    </div>

    <div class="uk-width-1-1 uk-width-1-2@m uk-flex uk-flex-column uk-flex-center uk-flex-middle">
      <img src="{% static "img/offseting-in-time.png" %}" />
    </div>
  </section>
{% endblock %}