{% extends "payment_base.html" %}

{% load static %}

{% block title %}Payment{% endblock %}

{% block body_class %}offset payment{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section">
    <div class="uk-container uk-padding">
      <div class="payment-process">
        <div class="uk-width-1-1 uk-flex uk-flex-between uk-text-center">
          <div class="register"><span>1</span>Register</div>
          <div class="payment active"><span>2</span>Payment</div>
          <div class="payment"><span>3</span>Done</div>
        </div>
      </div>

      <div class="uk-width-1-2 uk-margin-auto uk-margin-large-top">
        <h3>Payment summary & options</h3>

        <form action="." method="post">
          <div class="payment-summary uk-padding">
            <p>{{ frequency.capitalize }} Subscription </p>

            <div class="amount">{{ amount }} {% if currency == 'PLN' %}zł{% elif currency == 'USD' %}${% else %}€{% endif %}</div>
  
            {% render_field payment_form.amount value=amount class="uk-hidden" %}
            {% render_field payment_form.currency value=currency class="uk-hidden" %}
            {% render_field payment_form.frequency value=frequency class="uk-hidden" %}
          </div>
          
          <div class="payment-type uk-padding uk-flex uk-margin-medium-top">
            <div class="uk-width-1-2">
              
              <p>Pay with BlueMedia</p>

              <img class="logo" src="{% static "img/blumedia_logo.png" %}" />
            </div>

            <div class="uk-width-1-2">
              <p class="desc">Blue Media is a leading operator at recurring payments in Poland.</p>
            </div>
          </div>
      
          {% csrf_token %}
          <button type="submit" class="uk-button uk-width-1-1 uk-text-center uk-margin-large-top uk-margin-small-bottom">Go to payment<img src="{% static "img/arrow_white.svg" %}" /></button>
        </form>
      </div>
    </div>
  </section>

  <section class="uk-section" style="border-top: 2px solid #000;">
    <div class="uk-container uk-text-center">
      <img src="{% static "img/bluemedia_banner_small.png" %}" class="uk-margin-small-top" style="width: 475px;" />
    </div>
  </section>
{% endblock %}