{% extends "payment_base.html" %}

{% load static %}

{% block title %}Tergo - Payment{% endblock %}

{% block body_class %}offset payment{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section payment--processed">
    <div class="uk-container uk-padding uk-text-center">
      <svg class="uk-margin-auto uk-margin-large-top" style="width: 120px; height: 120px" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
        <path fill="#000" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
          <animateTransform 
            attributeName="transform" 
            attributeType="XML" 
            type="rotate"
            dur="1s" 
            from="0 50 50"
            to="360 50 50" 
            repeatCount="indefinite" />
        </path>
      </svg>

      <h2 class="uk-margin-medium-top">Your payment is being processed.</h2>
      <h3>Please do not close or refresh your browser.</h3>
      
      <img class="bird uk-margin-large-top uk-margin-large-bottom" src="{% static "img/payment_processed.png" %}" />
    </div>
  </section>

  <section class="uk-section payment--success uk-hidden">
    <div class="uk-container uk-padding uk-text-center">
      <h2 class="uk-margin-medium-top">Successful payment!</h2>
      <h3>You have erased your annual carbon footprint. Your carbon balance now is <strong>zero</strong>.</h3>
      
      <img class="uk-margin-large-top uk-margin-xlarge-bottom" src="{% static "img/payment_success.png" %}" /></br>

      <a href="{% url 'home' %}" class="uk-button centered uk-margin-medium-bottom">
        Go to site<img src="{% static "img/arrow_white.svg" %}" />
      </a>
    </div>
  </section>

  <section class="uk-section payment--failure uk-hidden">
    <div class="uk-container uk-padding uk-text-center">

      <h2 class="uk-margin-medium-top">Oops, something went wrong. </h2>
      <h3>We aren't able to process your payment. Please try again.</h3>
      
      <img class="uk-margin-large-top uk-margin-xlarge-bottom" src="{% static "img/payment_failure.png" %}" /></br>

      <a href="{% url 'offset' %}" class="uk-button centered uk-margin-medium-bottom">
        Try again<img src="{% static "img/arrow_white.svg" %}" />
      </a>
    </div>
  </section>

  <script>
    let getPaymentStatusInterval;
    let getPaymentStatusCount = 0;

    const getPaymentStatus = () => {
      $.ajax({
        type: "GET",
        url: "/offset/payment_done",
      }).done(data => {
        if (data.status === 'SUCCESS') {
          document.querySelector('.payment--processed').classList.add('uk-hidden');
          document.querySelector('.payment--success').classList.remove('uk-hidden');

          clearInterval(getPaymentStatusInterval);
        } else if (data.status === 'FAILURE') {
          document.querySelector('.payment--processed').classList.add('uk-hidden');
          document.querySelector('.payment--failure').classList.remove('uk-hidden');

          clearInterval(getPaymentStatusInterval);
        }
      }).fail(data => {

      });
    };

    getPaymentStatusInterval = setInterval(() => {
      if (getPaymentStatusCount < 240) {
        getPaymentStatus();
      } else {
        clearInterval(getPaymentStatusInterval);
      }
    }, 250);
    
  </script>
{% endblock %}