{% extends "payment_base.html" %}

{% load static %}

{% block title %}Logowanie{% endblock %}

{% block body_class %}offset register{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section yellow">
    <div class="uk-container uk-padding">
      <div class="payment-process">
        <div class="uk-width-1-1 uk-flex uk-flex-between uk-text-center">
          <div class="register active"><span>1</span>Register</div>
          <div class="payment"><span>2</span>Payment</div>
          <div class="payment"><span>3</span>Done</div>
        </div>
      </div>

      <div class="uk-width-1-2 uk-margin-auto uk-margin-large-top">
        <div class="uk-flex uk-flex-left loginOrRegister">
          <div class="uk-width-1-2 uk-text-center">Sign up</div>
          <a href="{% url "offset-login" %}" class="uk-width-1-2 uk-text-center">Login</a>
        </div>

        <form method="post" class="uk-margin-large-top">
          {% for field in user_form %}
            {% if field.html_name != 'first_name' and  field.html_name != 'last_name' %}
              <div class="form-wrapper uk-margin-large-bottom">
                <div class="input-wrapper">
                  {{ field.label_tag }}{{ field|add_class:"uk-input" }}
                </div>
              </div>
            {% endif %}
          {% endfor %}
      
          {% csrf_token %}
      
          <button class="uk-button uk-width-1-1 uk-text-center uk-margin-large-top" type="submit">Zarejestruj się<img src="{% static "img/arrow_white.svg" %}" /></button>
          
          <p class="uk-text-center">Klikając, zgadzasz się na <a href="">politykę prywatności<img src="{% static "img/link_arrow.svg" %}" /></a></br/>i <a href="">regulamin<img src="{% static "img/link_arrow.svg" %}" /></a></p>
        </form>
      </div>
    </div>
  </section>
{% endblock %}