{% extends "base.html" %}

{% load static %}

{% block title %}Logowanie{% endblock %}

{% block body_class %}register{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section pink">
    <div class="uk-container uk-padding">

      <h1>Zaloguj się</h1>

      <h4 class="uk-margin-large-bottom"><strong>Nie masz jeszcze konta?</strong> <a href="{% url "register" %}">Zarejestruj się<img src="{% static "img/link_arrow.svg" %}" /></a></h4>

      <div class="social uk-margin-large-bottom uk-hidden">
        <a href="" class="uk-button white uk-margin-bottom">Zaloguj się z Facebook<img src="{% static "img/arrow_black.svg" %}" /></a><br/>
        <a href="" class="uk-button white">Zaloguj się z Google<img src="{% static "img/arrow_black.svg" %}" /></a>
      </div>

      {% if form.errors %}
        <p>Nazwa użytkownika lub hasło są nieprawidłowe. Spróbuj ponownie.</p>
      {% endif %}

      <form action="{% url 'login' %}" method="post">
        <div class="form-wrapper uk-margin-large-bottom">
          <div class="input-wrapper">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.username|add_class:"uk-input" }}
          </div>
        </div>

        <div class="form-wrapper uk-margin-large-bottom">
          <div class="input-wrapper">
            <label for="{{ form.password.id_for_label }}">Hasło</label>
            {{ form.password|add_class:"uk-input" }}
          </div>
        </div>

        {% csrf_token %}

        <input type="hidden" name="next" value="{{ next }}" />
        <button class="uk-button uk-margin-large-top" type="submit">Zaloguj się<img src="{% static "img/arrow_white.svg" %}" /></button>

        <p><a href="{% url "password_reset" %}">Zapomniałeś hasła?<img src="{% static "img/link_arrow.svg" %}" /></a></p>
      </form>
    </div>
  </section>
{% endblock %}

