{% extends "base.html" %}

{% load static %}

{% block title %}Zerowanie hasła{% endblock %}

{% block body_class %}register{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section pink">
    <div class="uk-container uk-padding">
      <h1>Zapomniałeś hasła?</h1>

      <h4 class="uk-margin-large-bottom">Bez obaw! Wystarczy, że podasz swój e-mail,który był<br/>przez Ciebie użyty przy rejestracji, a my wyślemy link,<br/>umożliwiający zmianę hasła, na Twoją pocztę</h4>
      
      <form action="." method="post">
        {% for field in form %}
        <div class="form-wrapper uk-margin-large-bottom">
          <div class="input-wrapper">
            {{ field.label_tag }}{{ field|add_class:"uk-input" }}
          </div>
        </div>
        {% endfor %}

        {% csrf_token %}
        
        <button class="uk-button uk-margin-large-top" type="submit">Wyślij<img src="{% static "img/arrow_white.svg" %}" /></button>
      </form>
    </div>
  </section>
{% endblock %}