{% extends "base.html" %}
{% block title %}Zmiana hasła{% endblock %}
{% block content %}
  <h1>Zmiana hasła</h1>

  <p>Wypełnij poniższy formularz, aby zmienić hasło.</p>

  <form action="." method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Zmień"></p>
    {% csrf_token %}
  </form>
{% endblock %}