{% extends "base.html" %}

{% load static %}

{% block title %}Rejestracja{% endblock %}

{% block body_class %}register{% endblock %}

{% block content %}
  {% load widget_tweaks %}
  
  <section class="uk-section pink">
    <div class="uk-container uk-padding">
      <div class="width-1-1 uk-text-center">
        <h1>Witaj!</h1>

        <h4>Twoje konto zostało utworzone</h4>
        
        <div class="uk-width-1-1 uk-margin-large-top uk-margin-large-bottom">
          <img src="{% static "img/password_send_success.png" %}" style="max-width: 250px" />
        </div>

        <a href="{% url "login" %}" class="uk-button centered">Zaloguj się<img src="{% static "img/arrow_white.svg" %}" /></a>
      </div>
    </div>
  </section>
{% endblock %}