{% extends "base.html" %}

{% load static %}

{% block title %}Konto użytkownika{% endblock %}

{% block body_class %}user-profile{% endblock %}

{% block content %}
  {% load widget_tweaks %}

  <section class="uk-section pink">
    <div class="uk-container uk-padding">
      <div class="uk-flex uk-flex-left">
        <div class="uk-width-1-2">
          <h1>Informacje o koncie</h1>
        </div>

        <div class="uk-width-1-2 uk-margin-small-top">
          <!--
          {% if request.user.is_authenticated %}
            <div class="uk-margin-top uk-margin-medium-bottom">{{ request.user.first_name }} {{ request.user.last_name }}</div>
            <div>{{ request.user.email }}</div>
          {% endif %}
          -->
    
          <form action="." method="post" enctype="multipart/form-data">
            {% for field in user_form %}
              <div class="form-wrapper uk-margin-bottom">
                <div class="input-wrapper focus">
                  {{ field.label_tag }}
                  {{ field|add_class:"uk-input" }}
                </div>
              </div>
            {% endfor %}
    
            {% csrf_token %}
            <button class="uk-button small uk-margin-top" type="submit">Zapisz zmiany</button>
          </form>

          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li class="{{ message.tags }}">
                  {{ message|safe }}
                  <a href="#" class="close">x</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>

      <div class="uk-flex uk-flex-left uk-margin-large-top">
        <div class="uk-width-1-2">
          <h1>Historia płatności</h1>
        </div>
  
        <div class="uk-width-1-2 uk-margin-small-top">
          <table class="uk-table">
            <caption></caption>
            <thead>
              <tr>
                <th>Data</th>
                <th>Rodzaj subskrypcji</th>
                <th>Kwota</th>
              </tr>
            </thead>
  
            <tbody>
              {% for payment in payments %}
                <tr>
                  <td>{{ payment.created|date:"d.m.Y" }}</td>
                  <td>{{ payment.frequency }}</td>
                  <td>{{ payment.amount }} {{ payment.currency }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
{% endblock %}