{% extends "base.html" %}

{% load static %}

{% block title %}Rejestracja{% endblock %}

{% block body_class %}register{% endblock %}

{% block content %}
  {% load widget_tweaks %}
  <section class="uk-section pink">
    <div class="uk-container uk-padding">
      <h1>Zarejestruj się</h1>
      <h4 class="uk-margin-large-bottom"><strong>Masz już konto?</strong> <a href="{% url "login" %}">Zaloguj się<img src="{% static "img/link_arrow.svg" %}" /></a></h4>

      <div class="social uk-margin-large-bottom uk-hidden">
        <a href="" class="uk-button white uk-margin-bottom">Zarejestruj się z Facebook<img src="{% static "img/arrow_black.svg" %}" /></a><br/>
        <a href="" class="uk-button white">Zarejestruj się z Google<img src="{% static "img/arrow_black.svg" %}" /></a>
      </div>
      
      <form method="post">
        {% for field in user_form %}
          {% if field.html_name != 'first_name' and  field.html_name != 'last_name' %}
            <div class="form-wrapper uk-margin-large-bottom">
              <div class="input-wrapper">
                {{ field.label_tag }}{{ field|add_class:"uk-input" }}
              </div>
            </div>
          {% endif %}
        {% endfor %}

        {% csrf_token %}

        <button class="uk-button uk-margin-large-top" type="submit">Zarejestruj się<img src="{% static "img/arrow_white.svg" %}" /></button>
        
        <p>Klikając, zgadzasz się na <a href="">politykę prywatności<img src="{% static "img/link_arrow.svg" %}" /></a></br/>i <a href="">regulamin<img src="{% static "img/link_arrow.svg" %}" /></a></p>
        <!-- <input type="submit" class="" value="Create my account"> -->
      </form>
    </div>
  </section>
{% endblock %}