{% autoescape off %}
  <p>Hi!</p>
  <p>So, you care about our planet and you want to know your carbon footprint? TerGo's Carbon Footprint Calculator is a great choice! Here is your result:</p>
  <p><strong>Your annual carbon footprint is {{ total_results }} tons of CO<sub>2</sub></strong></p>
  <p style="padding-left: 30px"><strong>Details:</strong></p>
  <p style="padding-left: 30px"><strong>Household: {{ h_results }} tons of CO<sub>2</sub></strong><br/>
  <strong>Transportation: {{ tran_results }} kg CO<sub>2</sub></strong><br/>
  <strong>Travel: {{ trav_results }} tons of CO<sub>2</sub></strong><br/>
  <strong>Lifestyle: {{ l_results }} tons of CO<sub>2</sub></strong></p>
  <p>Congratulations!</p>
  <p>Now you know your CO<sub>2</sub> emissions. This is the first step towards making more conscious choices every day! You don't need to change who you are - just change some daily actions small decisions that will have a big impact on supporting climate action and environmental protection. Each day you can decide what to do to help if you want to do a little more or a little less for our planet. It's all up to you! and we know you can do it!</p>
  <p>Do you want to improve your score and lower your carbon footprint? Read <a href="http://tergo.kraftweb.pl/blog-en.html">TerGo's blog</a>! Here you will find practical tips, useful information, and inspiration for making more eco-minded choices!</p>
{% endautoescape %}