{% autoescape off %}
  <div style="width: 600px; margin: 30px auto 0; padding: 20px 0;">
            
    <p style="margin-bottom: 30px; padding: 0 20px;"><strong>Thank you for joining the TerGo community.</strong></p>
    
    <p style="padding: 0 20px;">At TerGo we are creating an awesome platform to share ideas, give the mobile app tools, bring together and of course financially reward our members to take positive actions to help the environment.</p>  
    
    <p style="margin-bottom: 30px; padding: 0 20px;">
        We will update you once our Beta version is ready for its exciting launch. 
        Have questions about TerGo? We'd love to hear from you. Just hit reply:) And remember with TerGo, it pays to go Green.   
    </p>
    
    <p style="margin-bottom: 30px; padding: 0 20px;">Thank you and stay tuned.</p>
    
    <p style="padding: 0 20px;"><strong>Thuy and the TerGo Team</strong></p>
    
  </div>

  <div style="width: 600px; margin: 0 auto 30px; padding: 0;">
    <img src="http://tergo.io/images/footer.png" alt="TerGo Carbon Trade" style="width: 100%;"/>
  </div>
{% endautoescape %}
