{% extends "base.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}
<h1>Logowanie</h1>

<p>Wypełnij poniższy formularz, aby się zalogować:</p>

<form action="." method="post">
  {{ form.as_p }}
  {% csrf_token %}
  <p><input type="submit" value="Zaloguj"></p>
</form>
{% endblock %}