{% autoescape off %}
  <p>Cześć!</p>
  <p>Troszczysz się o planetę i chcesz wiedzieć, jaki zostawiasz za sobą ślad? Kalkulator śladu węglowego TerGo to świetny wybór. Oto Twój wynik:</p>
  <p><strong>Twój roczny ślad węglowy wynosi {{ total_results }} ton CO<sub>2</sub></strong></p>
  <p style="padding-left: 30px"><strong>Szczegóły:</strong></p>
  <p style="padding-left: 30px"><strong>Gospodarstwo domowe: {{ h_results }} ton CO<sub>2</sub></strong><br/>
  <strong>Transport: {{ tran_results }} ton CO<sub>2</sub></strong><br/>
  <strong>Podróże: {{ trav_results }} ton CO<sub>2</sub></strong><br/>
  <strong>Styl życia: {{ l_results }} ton CO<sub>2</sub></strong></p>
  <p>Brawo!</p>
  <p>Znasz już poziom własnych emisji CO<sub>2</sub>. To pierwszy krok do podejmowania bardziej świadomych wyborów na co dzień! Bądź sobą, ale wybieraj trochę inaczej – zrobisz, co chcesz oraz mocniej wesprzesz ochronę klimatu i środowiska. Każdego dnia decyduj o tym, czy chcesz zrobić dla planety jeszcze więcej.</p>
  <p>Chcesz poprawić swój wynik i łatwo obniżyć swój ślad węglowy?</p>
  <p>Czytaj <a href="http://tergo.kraftweb.pl/blog.html">bloga TerGo</a>! Znajdziesz tam wiele praktycznych wskazówek i informacji, zainspirujesz się do ekodziałania!</p>
{% endautoescape %}