{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="icon" href="favicon.ico" />

    <script src="https://cdn.jsdelivr.net/npm/ismobilejs@1/dist/isMobile.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="{% static "css/main.css" %}?{% now "U" %}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <header class="headroom headroom--top uk-flex uk-flex-between uk-flex-left@m uk-flex-middle">
      <a href="index.html"><img class="logo" src="{% static "img/tergo_logo.png" %}" /></a>
  
      <div id="offcanvas-nav">
        <div>
          <a href="index.html" class="uk-hidden@m"><img class="logo" src="{% static "img/tergo_logo.png" %}" /></a>
          <span class="uk-offcanvas-close uk-hidden@m" uk-icon="icon: close; ratio: 2"></span>
  
          <nav class="uk-navbar-container uk-navbar-transparent uk-flex uk-flex-row uk-flex-center"
            uk-navbar="offset: 30">
            <ul class="uk-navbar-nav uk-flex">
              <li><a href="ters.html">TERs</a></li>
              <li>
                <a href="bilans.html">Bilans CO<sub>2</sub></a>
  
                <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-left; offset: 28;">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li>
                      <a href="kalkulator.html">
                        <img class="uk-hidden@m" src="{% static "img/menu_arrow.png" %}" />
                        <span>Kalkulator</span>
                        <img src="{% static "img/arrow_white.svg" %}" /></a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="biznes.html">Biznes</a>
  
                <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-left; offset: 28;">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li>
                      <a href="druk-carbon-neutral.html">
                        <img class="uk-hidden@m" src="{% static "img/menu_arrow.png" %}" />
                        <span>Druk carbon-neutral</span>
                        <img src="{% static "img/arrow_white.svg" %}" /></a>
                    </li>
                  </ul>
                </div>
              </li>
              <li><a href="blog.html">Blog</a></li>
              <li>
                <a href="#">O nas</a>
                <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-left; offset: 28;">
                  <ul class="uk-nav uk-nav uk-navbar-dropdown-nav">
                    <li>
                      <a href="faq.html">
                        <img class="uk-hidden@m" src="{% static "img/menu_arrow.png" %}" />
                        <span>FAQs</span>
                        <img src="{% static "img/arrow_white.svg" %}" />
                      </a>
                    </li>
                    <li>
                      <a href="kontakt.html">
                        <img class="uk-hidden@m" src="{% static "img/menu_arrow.png" %}" />
                        <span>Kontakt</span>
                        <img src="{% static "img/arrow_white.svg" %}" />
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="index-en.html" class="lang uk-margin-medium-top">
                  <img src="{% static "img/lang_icon.svg" %}" class="uk-margin-right" />English
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
  
      <span uk-toggle="target: #offcanvas-nav" uk-icon="icon: menu; ratio: 2" class="uk-hidden@m"></span>
  
      <div class="lang uk-flex uk-flex-middle">
        {% if request.user.is_authenticated %}
          <a href="{% url "dashboard" %}" class="uk-button small">Moje konto</a>
          <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-right; offset: 24;">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li>
                {% if request.user.first_name %}
                <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong><br/>
                {% endif %}
                {{ request.user.email }}
              </li>
              <li>
                <a href="{% url "logout" %}">Wyloguj</a>
              </li>
            </ul>
          </div>
        {% else %}
          <a href="{% url "login" %}">Zaloguj</a>
          <a href="{% url "register" %}" class="uk-button small uk-margin-left">Załóż konto</a>
        {% endif %}

        <img src="{% static "img/lang_icon.svg" %}" class="uk-margin-right uk-margin-medium-left" /><strong>PL</strong> | <a href="index-en.html">ENG</a>
      </div>
    </header>
    
    <main>
      {% block content %} {% endblock %}
    </main>

    <footer class="footer">
      <div class="uk-container uk-flex uk-flex-between uk-flex-wrap">
        <div class="uk-width-1-1 uk-width-1-4@m uk-flex-column">
          <div class="uk-margin-medium-bottom">
            <h5>Kontakt:</h5>
            <p>Aleja Zwycięstwa 96/98, E422<br/>Gdynia, 81-451<br/>Polska</p>
          </div>

          <div class="uk-margin-medium-bottom">
            <h5>Dla biznesu:</h5>
            <p>business@tergo.io</p>
          </div>

          <div>
            <h5>Social media:</h5>
            <p>hello@tergo.io </p>
          </div>
        </div>
        <div class="uk-width-1-1 uk-width-1-4@m socials uk-text-center uk-text-left@m">
          <h5>Odwiedź nas:</h5>

          <div class="uk-flex uk-flex-center uk-flex-left@m">
            <a href="https://www.facebook.com/TerGo-105025195065313" target="_black"
              class="uk-icon-button uk-margin-right" uk-icon="facebook"></a>
            <!-- <a href="#" target="_black" class="uk-icon-button uk-margin-right" uk-icon="twitter"></a> -->
            <a href="https://www.instagram.com/tergo_io/ " target="_black" class="uk-icon-button uk-margin-right"
              uk-icon="instagram"></a>
            <a href="https://www.linkedin.com/company/tergo/" target="_black" class="uk-icon-button"
              uk-icon="linkedin"></a>
          </div>
        </div>
      </div>
      <div class="uk-container uk-flex uk-flex-between uk-flex-wrap">
        <div class="uk-width-1-1 uk-width-1-4@m">
          <div class="uk-flex-inline uk-flex-around uk-flex-left@m uk-width-1-1 uk-width-auto@m">
            <a href="regulamin.html">Regulamin</a>
            <div class="divider">|</div>
            <a href="polityka-prywatnosci-i-plikow-cookies.html">Polityka prywatności</a>
          </div>
        </div>
        <div class="uk-width-1-1 uk-width-1-4@m uk-flex-first@m uk-text-center uk-text-left@m">
          <span>TerGo 2021</span>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static "js/main.bundle.js" %}?{% now "U" %}"></script>
    <script src="{% static "js/login.bundle.js" %}?{% now "U" %}"></script>
    <script src="{% static "js/offset.bundle.js" %}?{% now "U" %}"></script>
  </body>
</html>